<h2 class="title">Election Results</h2>
<style>
div.live-scoreboard-container {
    padding-top: 20px;
}
img.live-scoreboard-banner {
    width: 100%;
    padding-bottom: 20px;
}

p.live-scoreboard-score {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    text-align: left;
    margin: 0 auto;
    font-family: "ub-minion-pro","Minion Pro","Georgia",serif;
}    
p.live-scoreboard-final {
    text-align: center;
    padding-top: 4.5em;
}
</style>
<div class="sidebar-block">

    <div class="live-scoreboard-container">
    <img class="live-scoreboard-banner" src="http://ubyssey.ca/media/images/2016/03/elections-banner-results.jpg">
        <p class="live-scoreboard-score"><b>President:</b> {{ president }}</p>
        <p class="live-scoreboard-score"><b>VP Admin:</b> {{ vp_admin }}</p>
        <p class="live-scoreboard-score"><b>VP Academic:</b> {{ vp_academic }}</p>
        <p class="live-scoreboard-score"><b>VP Finance:</b> {{ vp_finance }}</p>
        <p class="live-scoreboard-score"><b>VP External:</b> {{ vp_finance }}</p>
        <p class="live-scoreboard-score"><b>Board:</b> {{ bog }}</p>
        <p class="live-scoreboard-score"><b>Senate:</b> {{ senate }}</p>

    </div>
</div>