<h2 class="title">Live Scoreboard</h2>
<style>
div.live-scoreboard-container {
    padding-top: 20px;
}
div.live-scoreboard-left {
    float: left;
}
div.live-scoreboard-right {
    float: right;
}
img.live-scoreboard-logo {
    height: 72px;
    width: 72px;
}
p.live-scoreboard-score {
    font-size: 2em;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    margin: 0 auto;
}
p.live-scoreboard-abbr {
    height: 72px;
    font-size: 1.5em;
    padding: 1em 0.25em;
    margin: 0;
}
img.live-scoreboard-banner {
    width: 100%;
}
p.live-scoreboard-final {
    text-align: center;
    padding-top: 4.5em;
}
</style>
<div class="sidebar-block">
    <div class="live-scoreboard-container">
        <img class="live-scoreboard-banner" src="http://ubyssey.ca/media/files/2015/11/VANIERCUP.jpg">
        <div class="live-scoreboard-left">
            <img src="http://ubyssey.ca/media/files/2015/11/thunderbirds_logo_square.gif" class="live-scoreboard-logo" />
            <p class="live-scoreboard-score">{{ home_team_score }}</p>
        </div>
        <p style="float: left" class="live-scoreboard-abbr">VAN</p>
        <div class="live-scoreboard-right">
            <img src="http://ubyssey.ca/media/files/2015/11/carabins_logo_square.gif" class="live-scoreboard-logo" />
            <p class="live-scoreboard-score">{{ away_team_score }}</p>
        </div>
        <p style="float: right" class="live-scoreboard-abbr">MTL</p>
    </div>
    <p class="live-scoreboard-final">FINAL</p>
    <a class="twitter-timeline" href="https://twitter.com/UbysseySports" data-widget-id="669661274985246720">Tweets by @UbysseySports</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>