{% load humanize %}
<h2 class="title">{{ title }}</h2>
<div class="sidebar-block">
    <ul class="article-list basic">
        {% for article in articles %}
        <li>
            <a href="{{ article.get_absolute_url }}"><h2 class="headline">{{ article.headline }}</h2></a>
            <span class="byline"><span class="author">By {{ article.get_author_string }}</span> &nbsp;&middot;&nbsp; <span class="published">{{ article.published_at }}</span></span>
            <p class="snippet"><span class="timestamp">{{ article.published_at|naturaltime }}</span>{{ article.snippet }}</p>
        </li>
        {% endfor %}
    </ul>
</div>
