{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ article.long_headline }} | The Ubyssey</title>
    <link rel="stylesheet" href="{{ STATIC_DIR }}css/main.css" type="text/css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

{% block content %}
{% endblock %}

<script src="{% static 'js/vendor/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'js/dist/dispatch.js' %}" type="text/javascript"></script>
<script src="{% static 'js/vendor/keymaster/keymaster.js' %}" type="text/javascript"></script>
<script src="http://fb.me/react-0.12.2.js"></script>
{% block scripts %}

{% endblock %}
</body>
</html>