<!DOCTYPE html>
<html>
<head>
    <title>{{ article.long_headline }} | The Ubyssey</title>
    <link rel="stylesheet" href="{{ STATIC_DIR }}css/main.css" type="text/css"/>
</head>
<body>
<header>
    <div class="container large">
        <div class="branding">
            <img class="top-logo" src="{{ STATIC_DIR }}img/ubyssey-logo.svg" />
        </div>
        <nav class="main">
            <div class="inner row">
                <div class="left">
                    <ul class="meta">
                        <li>Tuesday, November 4, 2014</li>
                        <li>Latest Issue</li>
                    </ul>
                </div>
                <div class="middle">
                    <ul class="sections">
                        <li>News</li>
                        <li>Culture</li>
                        <li>Features</li>
                        <li>Opinion</li>
                        <li>Sports</li>
                        <li>Video</li>
                        <li>Blog</li>
                    </ul>
                </div>
                <div class="right">
                    <ul class="meta">
                        <li>Volunteer</li>
                        <li>Advertise</li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>