{% extends 'manager/base.html' %}
{% load staticfiles %}
{% block main %}
    <div id="article-admin" data-id="{{ article }}">
    <header></header>
    </div>
{% endblock %}

{% block modals %}
<div id="modals">

</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/vendor/lowdash.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/vendor/moment.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/vendor/dropzone.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/dispatch.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/admin/article.js' %}" type="text/javascript"></script>
{% endblock %}