{% extends 'manager/base.html' %}
{% load staticfiles %}
{% block main %}
    <main id="article-admin" data-id="{{ article }}" data-section={{ section }}>
    <header></header>
    </main>
{% endblock %}

{% block modals %}
<div id="modals">

</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/vendor/lodash.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/vendor/dropzone.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/dist/article.js' %}" type="text/javascript"></script>
{% endblock %}