{% extends 'manager/base.html' %}
{% block content %}
    <div class="list-header clearfix">
        <div class="checkbox cell">
            <input type="checkbox">
        </div>
        <div class="actions cell">
            <span><i class="fa fa-warning"></i> &nbsp;{{ unpublished }} unpublished articles</span>
        </div>
        <div class="search cell">
            <form class="search-bar" method="GET">
                <input placeholder="Search {{ title|lower }}" type="text" value="{{ query }}" name="q">
            </form>
            <a class="dis-button" href="{% url 'apps.manager.views.article_add' %}">New article</a>
        </div>
    </div>
    <div class="list-container">
        <div class="item-list">
        {% for article in article_list %}
            <div class="item">
                <div class="checkbox cell">
                    <input type="checkbox">
                </div>
                <div class="status cell">
                    {% if article.is_published %}
                        <i class="fa fa-check-circle"></i>
                    {% else %}
                         <i class="fa fa-warning"></i>
                    {% endif %}
                </div>
                <div class="title cell">
                    <a href="{% url 'apps.manager.views.article_edit' article.parent.id %}">{{ article.long_headline }}</a>
                </div>
                <div class="cell">
                    <span>{{ article.get_author_string }}</span>
                </div>
                <div class="cell">
                    <span>{{ article.published_at }}</span>
                </div>
                <div class="cell">
                    <span>{{ article.revision_id }} revisions</span>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
