// Main colors
$color-steel-blue:       #4183c4;
$color-black:            #333333;
$color-dark-gray:        #333333;
$color-white:            #ffffff;

// Text colors
$color-text-gray:        #666666;
$color-text-gray-light:  #f9f9f9;

// Border colors
$color-border-gray:      #e2e2e2;
$color-border-gray-dark: #cccccc;
$color-border-blue:      #51a7e8;

// Background colors
$color-bg-gray:          #eeeeee;
$color-bg-gray-light:    #fcfcfc;
$color-bg-gray-dark:     #dddddd;

// Inputs
$input-height: 30px;
$input-button-padding: 12px;
$input-text-padding: 8px;
$input-button-border-radius: 3px;
$input-text-border-radius: 3px;
$input-font-size: 13;
$input-color-highlight: rgb(248, 248, 248);
