// Main colors
$color-steel-blue:       #4183c4;

// Text colors
$color-text-gray:        #666666;
$color-text-gray-light:  #f9f9f9;

// Border colors
$color-border-gray:      #e2e2e2;
$color-border-gray-dark: #cccccc;
$color-border-blue:      #51a7e8;

// Background colors
$color-bg-gray:          #eeeeee;
$color-bg-gray-light:    #fcfcfc;
$color-bg-gray-dark:     #dddddd;
