.u-container-root {
  height: 100%;
  > div {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.u-container-main {
  flex: 1;
  overflow: hidden;
}

.u-container-editor {
  display: flex;
  flex-direction: row;
  height: 100%;
}
