.u-container-root {
  height: 100%;
  > div {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.u-container-main {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.u-container-main--row {
  flex-direction: row;
}

.u-container-editor {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 0;
}

.u-container-body {
  flex: 1;
  padding: 2rem;
  padding-bottom: 15rem;
}

.u-container {
  padding-left: 2rem;
  padding-right: 2rem;
  height:100%;
}

.u-container--align-left {
  padding-left: 2rem;
}

.u-container--vscroll {
  overflow-y: auto;
}
