// Font families
$font-family-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-body: Georgia, serif;
$ui-font-lft-etica: "lft-etica", "LFT Etica", Helvetica, Arial, sans-serif;

// Font weights
$font-weight-normal: normal;
$font-weight-bold: 600;


// Font sizes
$font-size-base: 14;

@mixin font-size($pixels) {
  font-size: ($pixels / $font-size-base) + em;
}
