// Font families
$font-family-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-body: Georgia, serif;
$ui-font-lft-etica: "lft-etica", "LFT Etica", Helvetica, Arial, sans-serif;

// Font weights
$font-weight-normal: normal;
$font-weight-semi-bold: 500;
$font-weight-bold: 600;


// Font sizes
$font-size-base: 14;

@mixin font-size($pixels) {
  font-size: ($pixels / $font-size-base) + em;
}

@font-face {
  font-family: 'Icons16';
  src: url('../fonts/icons-16.eot') format('eot'),
       url('../fonts/icons-16.woff') format('woff'),
       url('../fonts/icons-16.ttf') format('ttf');
}
