// Font families
$font-family-default: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-body: Georgia, serif;
$ui-font-lft-etica: "lft-etica", "LFT Etica", Helvetica, Arial, sans-serif;

// Font-weights
$font-weight-normal: normal;
$font-weight-bold: 600;
