{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% include 'headers/topbar.html' %}
    <main class="author">
        <div class="container padded">
            <div class="profile table-row">
                {% if person.image %}
                <div class="profile-image cell">
                    <img src="{{ person.get_image_url }}" />
                </div>
                {% endif %}
                <div class="cell middle">
                    <h1 class="basic">{{ person.full_name }}</h1>
                    {% if person.description %}<p class="snippet">{{ person.description }}</p>{% endif %}
                </div>
            </div>
            <div class="article-search">
                <form method="get" action="{% url 'author-articles' person.slug %}">
                <label for="author-search"><i class="fa fa-search"></i></label>
                <input name="q" id="author-search" type="text" {% if q %}value="{{ q }}"{% endif %} placeholder="Search author archive" />
                </form>
            </div>
            {% block author_archive %}
            <div class="article-archive clearfix">
                <h3 class="basic uppercase">Recent Articles</h2>
                <div class="blocks">
                    {% for article in articles %}
                    <article>
                        <a href="{{ article.get_absolute_url }}"><h2 class="headline">{{ article.headline }}</h2></a>
                        <span class="byline"><span class="author">By {{ article.get_author_string }}</span> &nbsp;·&nbsp; <span class="published">{{ article.published_at }}</span></span>
                        <p class="snippet">{{ article.snippet }}</p>
                    </article>
                    {% endfor %}
                </div>
                {% if articles|length == 6 %}
                <div class="more">
                    <a class="button large" href="{% url 'author-articles' person.slug %}">View all (showing 6 of 124)</a>
                </div>
                {% endif %}
            </div>
            {% endblock %}
        </div>
    </main>
{% endblock %}