*.pyc
.idea/
media/
resources/
dispatch/production_settings/
/static/*
!/static/manager/
.sass-cache/
npm-debug.log
*.module-cache/
node_modules/
.DS_Store
dispatch/apps/**/migrations/

lib/
bin/
.Python
include/
pip-selfcheck.json
