*.pyc
*.module-cache/
*.egg-info

.DS_Store
.Python

dist/
node_modules/

dispatch/static/manager/yarn-error.log
yarn.lock

.coverage
htmlcov/

# swap files
*.swp

*.vscode/

dispatch/tests/media

dispatch/apps/**/migrations/

dispatch/static/manager/dispatch/