recursive-include dispatch/templates *
recursive-include dispatch/apps *
include dispatch/core/management/templates/*
recursive-include dispatch/static/manager/dist *
recursive-exclude dispatch/static/manager/node_modules *
