recursive-include dispatch/templates *
recursive-include dispatch/apps *
include dispatch/core/management/templates/*
include dispatch/apps/manager/static/manager/js/dist/*
recursive-exclude dispatch/apps/manager/static/manager/js/node_modules *
