<!DOCTYPE html>{% load staticfiles %}
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/dropzone.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.min.css' %}" type="text/css">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="dispatch-logo">D</div>
            <nav class="side-nav">
                <ul>
                    <li><a href="{% url 'apps.manager.views.section' 'news' %}"><i class="fa fa-newspaper-o"></i></a></li>
                    <li><a href="{% url 'apps.manager.views.section' 'sports' %}"><i class="fa fa-futbol-o"></i></a></li>
                    <li><a href="{% url 'apps.manager.views.section' 'culture' %}"><i class="fa fa-paint-brush"></i></a></li>
                    <li><a href="{% url 'apps.manager.views.sections' %}"><i class="fa fa-list"></i></a></li>
                    <li><a href="{% url 'apps.manager.views.users' %}"><i class="fa fa-users"></i></a></li>
                    <li><a href="{% url 'apps.manager.views.profile' %}"><i class="fa fa-user"></i></a></li>
                </ul>
            </nav>
        </div>
        {% block main %}
        <main>
            <header>
                <div class="header-main">
                    {% block header %}
                    {% endblock %}
                </div>
            </header>
            <div class="main clearfix">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        {% endblock %}
    </div>
    {% block modals %}
    {% endblock %}
    {% comment %}<script src="{% static 'js/vendor/react.js' %}" type="text/javascript"></script>{% endcomment %}
    <script src="{% static 'js/vendor/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/dist/dispatch.js' %}" type="text/javascript"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>