<!DOCTYPE html>{% load staticfiles %}
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/chosen.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/dropzone.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'js/vendor/pickadate/themes/classic.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'js/vendor/pickadate/themes/classic.date.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'js/vendor/pickadate/themes/classic.time.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.min.css' %}" type="text/css">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <div class="dispatch-logo">D</div>
            <nav class="side-nav">
                <ul>
                    <li><a href="{% url 'apps.manager.views.section' 'news' %}">news<i class="fa fa-newspaper-o"></i></a></li>
                    <li><a href="{% url 'apps.manager.views.section' 'sports' %}">sports<i class="fa fa-soccer-ball-o"></i></a></li>
                    <li><a href="{% url 'apps.manager.views.section' 'culture' %}">culture<i class="fa fa-paint-brush"></i></a></li>
                    <li><a href="{% url 'apps.manager.views.sections' %}">sections<i class="fa fa-th-list"></i></a></li>
                    <li><a href="{% url 'apps.manager.views.users' %}">users<i class="fa fa-users"></i></a></li>
                    <li><a href="{% url 'apps.manager.views.profile' %}">profile<i class="fa fa-user"></i></a></li>
                </ul>
            </nav>
        </div>
        <main>
            <header>
                <div class="header-main">
                    {% block header %}
                    {% endblock %}
                </div>
            </header>
            <div class="main clearfix">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </div>
    {% block modals %}
    {% endblock %}
    <script src="{% static 'js/vendor/react.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/vendor/jquery.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/dist/dispatch.js' %}" type="text/javascript"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>