{% extends 'manager/base.html' %}
{% block header %}
    <div class="title">
        <h1>Section</h1>
    </div>
{% endblock %}
{% block content %}
<div class="inner scroll">
    <div class="container">
        <form class="section-form"  action="" method="post">
            {% csrf_token %}
            <h2>Basic Information</h2>
            {% for field in form %}
                <div class="field">
                    {{ field.errors }}
                    <label>{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="dis-button green">Update</button>
        </form>
    </div>
</div>
{% endblock %}