{% extends 'manager/base.html' %}
{% load staticfiles %}
{% block main %}
    <main id="page-admin" data-id="{{ page }}">
    <header class="secondary"></header>
    </main>
{% endblock %}

{% block modals %}
<div id="modals">
    <div id="image-manager"></div>
    <div id="gallery-manager"></div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'manager/js/vendor/lodash.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'manager/js/vendor/dropzone.js' %}" type="text/javascript"></script>
    {% with 'manager/js/dist/article-'|add:version|add:'.js' as article_url %}
    <script src="{% static article_url %}" type="application/javascript"></script>
    {% endwith %}
{% endblock %}