@import "compass/css3/box-shadow";

$text-padding: 60px;

div.panel {
  float: left;
}

textarea.headline {
  font-weight: 600;
  font-size: 28px;
  color: #000000;
  line-height: 40px;
  height: 40px;
  border: none;
  font-family: "LFT Etica";
  font-weight: 600;
  width: 100%;
  resize: none;
}

div.field-row {
  &.headline {
    margin-bottom: 15px;
  }
}

div.field label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-family: "LFT Etica";
}

input, select {
  font-size: 14px;
}

div.field {
  margin-bottom: 10px;
}

div.col {
  min-width: 175px;
}

ul.author-list {
  list-style-type: none;
  padding: 0;
  margin: 5px 0;
  li {
    padding: 8px 0;
    span {
      cursor: move;
      background: white;
      padding: 6px 9px;
      border: solid 1px grey;
      border-radius: 2px;
      font-size: 12px;
      a {
        margin-left: 8px;
      }
    }
  }
}

.ui-state-highlight { height: 1em; line-height: 1em; }

div.manage-authors {
  display: none;
}

div.main {
}

div.panel.content {
  width: 730px;
  background: white;
  height: 100%;
  overflow: scroll;

  border-right: 1px solid #DEDEDE;

  @include box-shadow(rgba(0, 0, 0, 0.13) 0px 0px 5px);

  > div.inner {
    padding-top: 35px;
    padding-right: $text-padding;
    padding-bottom: 95px;
  }
}

div.fieldset.tab {
  padding: 20px 40px;
}

nav.edit-tabs {
  border-bottom: 1px solid #D9D9D9;
  ul {
    padding-left: 20px;
    margin: 0;
    list-style-type: none;
    li {
      display: inline-block;

      a {
        display: block;
        padding: 20px 15px;
        font-family: LFT Etica;
        font-size: 12px;
        color: #A2A2A2;
        &:visited {
          color: #A2A2A2;
        }
        &:hover {
          color: #272727;
        }
        line-height: 17px;
        text-decoration: none;
      }
    }
  }
}

div.panel.options {
  position: absolute;
  float: none;
  right: 0;
  left: 785px;
  div.fieldset {
    padding-bottom: 30px;
    margin-bottom: 15px;
    border-bottom: solid 1px #C6C6C6;
    div.col:first-child {
      margin-right: 15px;
    }
  }
}

div.field-row.content {
  textarea.content {
    width: 100%;
    display: none;
  }
}

button.dis-button {
  border: 1px solid rgb(200, 200, 200);
  background: none;
  border-radius: 25px;
  color: rgb(137, 137, 137);
  font-size: 10px;
  padding: 0 9px;
  height: 28px;
  vertical-align: middle;
  &:hover {
    cursor: pointer;
    border-color: grey;
    color: grey;
  }
  &:active {
    outline: none;
  }
}

div.field-row.headline {
  margin-left: $text-padding;
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-bottom: 15px;
  margin-bottom: 30px;
  div.authors {
    padding: 10px 0;
    font-family: LFTEtica-SemiBold;
    font-size: 16px;
    color: #7E7E7E;
    line-height: 28px;
    height: 28px;
    &:hover{
      button {
        display: inline-block;
      }
    }
    button {
      display: none;
    }
  }
}

input.add-box {
  display: none;
}

ul.tags {
  list-style-type: none;
  padding: 0;
  li {
    display: inline-block;
    border: 1px solid black;
    background: white;
    padding: 4px;
    margin-right: 5px;
  }
}

ul.tagList {
  list-style-type: none;
  padding: 0;
  li {
    display: inline-block;
    border: 1px solid black;
    background: white;
    padding: 4px;
    margin-right: 5px;
  }
}
.image-manager img {
  height: auto;
}

.images-list {
  list-style-type: none;
  padding: 0;
  li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 5px 5px 0;
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

.image-manager {
  .image-catalog-container {
    overflow-y: scroll;
    height: 100%;
    border-right: 1px solid #e5e5e5;
    margin: 0 360px 0 0;
  }
  .image-results {
    padding: 7px;
    margin: 0;
    list-style-type: none;
    &.dz-drag-hover {
      background: rgb(240, 240, 240);
      li {
        opacity: 0.2;
      }
    }
    li {
      display: inline-block;
      width: 120px;
      height: 120px;
      background-size: auto 100%;
      margin: 8px;
      background-position: center;
      background-repeat: no-repeat;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
      &.selected {
        box-shadow: 0 0 0 1px #fff, 0 0 0 4px #e14d43;
      }
    }
  }
  .image-meta {
    position: absolute;
    width: 330px;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 15px;
    h3 {
      font-size: 12px;
    }
    img {
      max-width: 100%;
      width: auto;
      max-height: 150px;
    }
  }
}

// Editor styles

#editor {
    min-height: 200px;
    padding: 0;
}

#full-toolbar {
  padding: 0;
  margin-left: $text-padding;
}

.ql-editor {
    margin-left: $text-padding;
    img {
      width: 100%;
    }
}

#editor p {
    font-family: Georgia;
    font-size: 16px;
    color: #2F2F2F;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 20px;
}

#editor p.no-bottom-margin {
    margin-bottom: 0;
}

.drop-area {
    height: 20px;
}

.drop-area.hover {
    border: 1px solid grey;
    border-radius: 20px;
    padding: 10px 0;
    margin: 8px 0;
}

span.format-shortcode {
    color: red;
}
img.drag-image {
    width: 150px;
    height: auto;
}

#editor img.drag-image {
    width: 50%;
}

button.dark-button {
  border: 1px solid #fff;
  background: none;
  border-radius: 25px;
  color: #fff;
  font-size: 10px;
  padding: 0 13px;
  height: 36px;
  vertical-align: middle;
  margin: 0 5px;
  &:hover {
    background: rgba(255,255,255,0.3);
    cursor: pointer;
    color: white;
  }
  &:active {
    outline: none;
  }
}

.image-tools {
  display: none;
  position: absolute;
  left: 60px;
  background: rgba(0,0,0,0.5);
  &:hover {
    cursor: pointer;
  }
  > .inner {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    .tools {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.inline-toolbar {
    position: absolute;
    z-index: 500;
    display: none;
    height: 22px;
    line-height: 22px;
}

.inline-toolbar .side-button {
    width: 45px;
    float: left;
}

.inline-toolbar .toolbar {
    float: left;
    display: none;
    margin-left: 15px;
}

.tb-toolbar {
  float: right;
  background: none;
  border: 1px solid rgb(200, 200, 200);
  color: rgb(150, 150, 150);
  border-radius: 40px;
  width: 28px;
  padding: 0;
  height: 28px;
  span {
    line-height: 100%;
    font-size: 18px;
    font-weight: 100;
    font-family: LFT Etica;
  }
  &:hover {
    border-color: grey;
    color: grey;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

.ql-format-button {
  color: #fff;
  width: 32px;
  margin-right: 15px;
  &:hover, &.ql-active {
    color: rgba(0,0,0,0.5);
  }
}

.field {
  margin: 15px 0;
  input, select {
    border: 1px solid rgb(185,185,185);
    border-radius: 2px;
    padding: 9px 8px;
    font-size: 12px;
  }
  select {
     background: transparent;
     font-size: 12px;
     height: 33px;
  }
}

input.dis-input, select.dis-input {
  border: 1px solid rgb(185,185,185);
  border-radius: 2px;
  padding: 9px 8px;
  font-size: 12px;
  margin-right: 4px;
}

#id_section {
  width: 100%;
  max-width: 250px;
}

#id_slug, #id_short_headline {
  width: 100%;
  max-width: 350px;
}

img.featured-image {
  width: 100%;
  max-width: 300px;
}

div.tab {
  display: none;
  &.active {
    display: block;
  }
}

div.save-buttons {
  padding: 0 40px;
  a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
  }
}

input.full {
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

input.image-search {
  width: 250px;
}

.image-meta {
  .fa-check{
    display: none;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    text-align: center;
    color: rgba(128, 128, 128, 0.5);
  }
}