@import "compass/css3/box-shadow";
@import "utilities/fonts";
@import "utilities/colors";

$toolbar-width: 55px;

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Helvetica;
}

div.sidebar {
  width: $toolbar-width;
  height: 100%;
  background: #1D1D1D;
  position: absolute;
  left: 0;
  top: 0;
  div.dispatch-logo {
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 800;
    background: black;
  }
  nav {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        a {
          height: $toolbar-width;
          line-height: $toolbar-width;
          text-align: center;
          display: block;
          width: 100%;
          color: white;
          &:hover {
            color: #4A90E2;
          }
        }
      }
    }
  }
}

div.wrapper {
  float: left;
  width: 100%;
  height: 100%;
}

main {
  margin-left: 55px;
  height: 100%;
}

header {
  background: #4A90E2;
  height: $toolbar-width;
  line-height: 40px;
  position: fixed;
  left: $toolbar-width;
  right: 0;
  top: 0;
  z-index: 50;
  div.header-main {
    line-height: $toolbar-width;
    height: 100%;
    .toolbar{
      float: left;
    }
    .save-buttons {
      float: right;
    }
  }
  div.title {
    float: left;
    margin-left: 20px;
    h1 {
      color: white;
      margin: 0;
      font-size: 16px;
      font-family: $ui-font-lft-etica;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
  div.brand {
    width: $toolbar-width;
    background: #353535;
    text-align: center;
    font-family: LFTEtica-Bold;
    font-size: 24px;
    color: #FFFFFF;
  }
}


div.main {
  top: 55px;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  right: 0;
  left: 55px;
  > div.content {
    overflow: hidden;
    float: left;
    height: 100%;
  }
  > div.inner {
    padding: 0 20px;
  }
  form, form > .row {
    overflow: hidden;
    height: 100%;
  }
}

// Modal

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0,0,0,0.6);
  z-index: 500;
  &.visible {
    display: table;
  }
  .body {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
  }
  .content {
    width: 75%;
    height: 90%;
    max-width: 1440px;
    min-height: 400px;
    background: white;
    margin: 0 auto;
    position: relative;
    @include box-shadow(rgba(0, 0, 0, 0.5) 0px 0px 5px);
  }
  .content-area {
    position: absolute;
    width: 100%;
    top: 70px;
    bottom: 70px;
  }
  .header {
    height: 70px;
    line-height: 70px;
    position: absolute;
    width: 100%;
    z-index: 550;
    border-bottom: 1px solid rgb(213, 213, 213);
    @include box-shadow(rgba(0, 0, 0, 0.05) 0px 1px 1px);
    nav {
      padding: 0 15px;
      button {
        margin-right: 15px;
      }
      a {
        padding: 0 15px;
        font-family: "Lucida Grande";
        font-size: 14px;
        color: #A2A2A2;
        &:visited {
          color: #A2A2A2;
        }
        &:hover {
          color: #272727;
        }
        line-height: 17px;
        text-decoration: none;
      }
    }
  }
  .footer {
    nav {
      padding: 0 15px;
    }
    height: 70px;
    line-height: 70px;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid rgb(213, 213, 213);
    @include box-shadow(rgba(0, 0, 0, 0.05) 0px -1px 1px);
  }
  input {
    border: 1px solid black;
  }
}

form.search-bar {
  display: inline;
  input {
    border: 1px solid #E2E2E2;
    border-radius: 2px;
    padding: 0 8px;
    height: 32px;
    line-height: 32px;
    font-size: 12px;
    min-width: 250px;
    margin: 0 10px;
  }
}

div.list-header {
  padding: 12px 0 12px 20px;
  border-bottom: thin solid #E2E2E2;
  background: #f9f9f9;
  div.cell {
    height: 34px;
    line-height: 34px;
    float: left;
    span {
      color: gray;
      font-size: 14px;
      .fa {
        font-size: 15px;
      }
    }
    a {
      font-size: 14px;
      color: #4A90E2;
    }
    &.checkbox {
      text-align: center;
      width: 12px;
    }
    &.actions {
      margin-left: 20px;

    }
    &.search {
      padding-right: 20px;
      float: right;
    }
  }
}

div.item-list {
  display: table;
  width: 100%;
  div.item {
    display: table-row;
    &:hover {
      background: #f9f9f9;
    }
    div.cell {
      display: table-cell;
      padding: 20px 0 20px 15px;
      border-bottom: thin solid #E2E2E2;
      a, span {
        font-family: $ui-font-helvetica;
        font-size: 13px;
        text-decoration: none;
        color: rgb(100, 100, 100);
      }
      &.checkbox, &.status {
        text-align: center;
        width: 12px;
        padding-left: 20px;
        padding-right: 0px;
      }
      &.status {
        padding-left: 15px;
        .fa-check-circle {
          color: #4FD74B;
        }
      }
      &.title {
        a {
          font-weight: 600;
          color: black;
          font-size: 14px;
          &:hover {
            color: $steel-blue;
          }
        }
      }
    }
  }
}

// Dropzone

.dropzone {
  height: 100%;
}

.dz-preview {
  display: inline-block;
}

// Inputs

input, textarea {
  //border: none;
  &:focus {
    outline: none;
  }
}

input {
  font-family: $ui-font-helvetica;
}

button.sq-button, a.sq-button {
  border-radius: 2px;
  font-family: $ui-font-lft-etica;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  font-size: 11px;
  line-height: 35px;
  height: 35px;
  padding: 0 15px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;

  border-color: #4A90E2;
  background: #4A90E2;

  &.green {
    background: #4FD74B;
    border-color: #4FD74B;
  }
  &.red {
    background: #E24A4A;
    border-color: #E24A4A;
  }
  &:hover {
    cursor: pointer;
    color: rgba(255,255,255,0.9);

    background: #437FC5;
    border-color: #437FC5;

    &.green {
      background: #48BB45;
      border-color: #48BB45;
    }

    &.red {
      background: #BD4141;
      border-color: #BD4141;
    }
  }
  &:active, &:focus {
    outline: none;
  }

  &:disabled, &:disabled:hover {
    cursor: default;
    background: gray;
    border-color: gray;
    opacity: 0.5;
  }
}

// SPINNER

.loader {
  display: inline-block;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid rgba(0, 0, 0, 0.2);
  border-right: 5px solid rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  border-left: 5px solid #ffffff;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  margin-top: -5px;
  width: 15px;
  height: 15px;
  top: 7px;
  left: 10px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}