$toolbar-width: 55px;
@import "compass/css3/box-shadow";

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: Helvetica;
}

div.sidebar {
  width: $toolbar-width;
  height: 100%;
  background: #1D1D1D;
  position: absolute;
  left: 0;
  top: 0;
  @include box-shadow(rgba(0, 0, 0, 0.2) 3px 0px 5px);
  div.dispatch-logo {
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 800;
    background: black;
  }
  nav {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        a {
          height: $toolbar-width;
          line-height: $toolbar-width;
          text-align: center;
          display: block;
          width: 100%;
          color: white;
          &:hover {
            color: #4A90E2;
          }
        }
      }
    }
  }
}

div.wrapper {
  float: left;
  width: 100%;
  height: 100%;
}

main {
  margin-left: 55px;
  height: 100%;
}

header {
  background: #4A90E2;
  height: $toolbar-width;
  line-height: 40px;
  position: fixed;
  left: $toolbar-width;
  right: 0;
  top: 0;
  z-index: 50;
  @include box-shadow(rgba(0, 0, 0, 0.2) 0px 1px 1px);
  div.header-main {
    line-height: $toolbar-width;
    height: 100%;
    .toolbar{
      float: left;
    }
    .save-buttons {
      float: right;
    }
  }
  div.title {
    float: left;
    margin-left: 60px;
    h1 {
      color: white;
      margin: 0;
      font-size: 18px;
      font-family: "LFT Etica";
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
  div.brand {
    width: $toolbar-width;
    background: #353535;
    text-align: center;
    font-family: LFTEtica-Bold;
    font-size: 24px;
    color: #FFFFFF;
  }
}


div.main {
  padding-top: 55px;
  height: 100%;
  overflow: hidden;
  > div.content {
    overflow: hidden;
    float: left;
    height: 100%;
  }
  form, form > .row {
    overflow: hidden;
    height: 100%;
  }
}

// Modal

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0,0,0,0.6);
  z-index: 500;
  .body {
    display: table-cell;
    vertical-align: middle;
  }
  .content {
    width: 75%;
    height: 90%;
    max-width: 1440px;
    min-height: 400px;
    background: white;
    margin: 0 auto;
    position: relative;
    @include box-shadow(rgba(0, 0, 0, 0.5) 0px 0px 5px);
  }
  .content-area {
    position: absolute;
    width: 100%;
    top: 60px;
    bottom: 60px;
  }
  .header {
    height: 60px;
    line-height: 60px;
    position: absolute;
    width: 100%;
    z-index: 550;
    @include box-shadow(rgba(0, 0, 0, 0.05) 0px 1px 1px);
    nav {
      padding: 0 20px;
      a {
        padding: 0 15px;
        font-family: "Lucida Grande";
        font-size: 14px;
        color: #A2A2A2;
        &:visited {
          color: #A2A2A2;
        }
        &:hover {
          color: #272727;
        }
        line-height: 17px;
        text-decoration: none;
      }
    }
  }
  .footer {
    height: 60px;
    line-height: 60px;
    position: absolute;
    width: 100%;
    bottom: 0;
    @include box-shadow(rgba(0, 0, 0, 0.05) 0px -1px 1px);
  }

  input {
    border: 1px solid black;
  }
}

div.article-list {
  display: table;
  width: 100%;
  div.article {
    display: table-row;
    &:nth-child(even){
      background: rgb(240, 240, 240)
    }
    div.cell {
      display: table-cell;
      border-bottom: 1px solid rgb(210, 210, 210);
      a, span {
        padding: 20px 60px;
        font-family: "LFT Etica";
        font-size: 14px;
        display: block;
        text-decoration: none;
        color: rgb(100, 100, 100);
        font-weight: 300;
      }
      &.title a {
        font-weight: 600;
        color: black;
      }
    }
  }
}

// Dropzone

.dropzone {
  height: 100%;
}

.dz-preview {
  display: inline-block;
}

// Inputs

input, textarea {
  //border: none;
  &:focus {
    outline: none;
  }
}