// Modal

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0,0,0,0.6);
  z-index: 500;
  &.visible {
    display: table;
  }
  .body {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
  }
  .content {
    width: 75%;
    height: 90%;
    max-width: 1440px;
    min-height: 400px;
    background: white;
    margin: 0 auto;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  }
  .content-area {
    position: absolute;
    width: 100%;
    top: 70px;
    bottom: 70px;
  }
  .header {
    height: 70px;
    line-height: 70px;
    position: absolute;
    width: 100%;
    z-index: 550;
    border-bottom: 1px solid rgb(213, 213, 213);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px;
    nav {
      padding: 0 15px;
      button {
        margin-right: 15px;
        .fa {
          margin-right: 6px;
        }
        &:last-child {
          margin-right: 0;
        }
      }
      a {
        padding: 0 15px;
        font-family: "Lucida Grande";
        font-size: 14px;
        color: #A2A2A2;
        &:visited {
          color: #A2A2A2;
        }
        &:hover {
          color: #272727;
        }
        line-height: 17px;
        text-decoration: none;
      }
    }
  }
  .footer {
    nav {
      padding: 0 15px;
    }
    height: 70px;
    line-height: 70px;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid rgb(213, 213, 213);
    box-shadow: rgba(0, 0, 0, 0.05) 0px -1px 1px;
  }
}

.image-catalog-container.small , {
    border-right: 1px solid #e5e5e5;
    margin: 0 360px 0 0;
}

.image-results li.catalog-image {
  height: 120px;
  &.selected {
    box-shadow: 0 0 0 1px #fff, 0 0 0 4px #e14d43;
  }
}

.image-results li.catalog-gallery {
  vertical-align: top;
  width: 120px;
  height: auto;
  position: relative;
  div.image {
    width: 100%;
    height: 120px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
  &.selected div.image {
    box-shadow: 0 0 0 1px #fff, 0 0 0 4px #e14d43;
  }
  div.title {
    margin-top: 8px;
    font-size: 14px;
  }
  span.count {
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 11px;
    padding: 0 8px;
    min-width: 8px;
    height: 24px;
    text-align: center;
    color: #FFFFFF;
    line-height: 24px;
    background: #000;
    border-radius: 12px;
  }
}

.image-manager, .gallery-manager {
  .header nav {
    .left, .middle, .right {
      float: left;
    }
    .left, .right {
      width: 20%;
    }
    .middle {
      width: 60%;
      text-align: center;
      input {
        width: 100%;
        max-width: 400px;
      }
    }
    .right {
      text-align: right;
    }
  }
  .image-catalog-container {
    overflow-y: scroll;
    height: 100%;
  }
  .image-results {
    padding: 7px;
    margin: 0;
    list-style-type: none;
    &.dz-drag-hover {
      background: rgb(240, 240, 240);
      li {
        opacity: 0.2;
      }
    }
    li {
      display: inline-block;
      width: 120px;
      background-size: auto 100%;
      margin: 8px;
      background-position: center;
      background-repeat: no-repeat;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
  .image-meta {
    position: absolute;
    width: 330px;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 15px;
    h3 {
      font-size: 13px;
      margin: 10px 0;
    }
    img {
      max-width: 100%;
      width: auto;
      max-height: 150px;
    }
  }
  .selected-text {
    padding: 0 20px;
  }
}
