{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="advertisement homepage leaderboard">
    <img src="{% static 'img/sample-leaderboard-ad.png' %}">
</div>
{% include 'headers/main.html' %}
{% include 'headers/topbar.html' %}
<div class="container large no-padding">
    <div class="homepage-section frontpage-container">
        <div class="frontpage">
            <div class="cell left">
            {% with articles.secondary as article %}
                <article class="secondary padded">
                    <h2 class="headline"><a href="{{ article.get_absolute_url }}">{{ article.long_headline }}</a></h2>
                    <span class="byline"><span class="author">By {{ article.get_author_string }}</span> &nbsp;&middot;&nbsp; <span class="published">{{ article.published_at }}</span> </span>
                    <p class="snippet">{{ article.snippet }}</p>
                </article>
            {% endwith %}
            {% for article in articles.thumbs %}
                <article class="thumb row padded">
                    <div class="image">
                        <a href="{{ article.get_absolute_url }}"><img src="{{ article.featured_image.image.get_thumbnail_url }}"/></a>
                    </div>
                    <div>
                        <h2 class="headline"><a href="{{ article.get_absolute_url }}">{{ article.long_headline }}</a></h2>
                        <span class="byline"><span class="author">By {{ article.get_author_string }}</span> &nbsp;&middot;&nbsp; <span class="published">{{ article.published_at }}</span> </span>
                    </div>
                </article>
            {% endfor %}
               <ul class="article-headlines">
            {% for article in articles.bullets %}
                <li><a href="{{ article.get_absolute_url }}"><h2 class="headline">{{ article.long_headline }}</h2></a></li>
            {% endfor %}
                </ul>
            </div>
            <div class="cell middle">
                {% with articles.primary as article %}
                <article class="primary {{ article.template }}">
                    <a href="{{ article.get_absolute_url }}"><img src="{{ article.featured_image.image.get_medium_url }}"/></a><br/>
                    <div class="meta">
                        <a href="{{ article.get_absolute_url }}"><h1 class="headline">{{ article.long_headline }}</h1></a>
                        <span class="byline"><span class="author">By {{ article.get_author_string }}</span> &nbsp;&middot;&nbsp; <span class="published">{{ article.published_at }}</span></span>
                        <p class="snippet">{{ article.snippet }}</p>
                    </div>
                </article>
                {% endwith %}
            </div>
            <div class="multi-zone cell right">
                {{ components.multi_zone|safe }}
            </div>
        </div>
    </div>
    <div class="homepage-section row">
        <div class="sections">
            {% include 'homepage/blocks/section_1.html' with section="news" articles=sections.news %}
            {% include 'homepage/blocks/section_2.html' with section="culture" articles=sections.culture %}
            {% include 'homepage/blocks/section_2.html' with section="sports" articles=sections.sports %}
        </div>
        <div class="sidebar-home">
            <div class="advert box sidebar-block">
                <img src="{% static 'img/sample-box-ad.png' %}" />
            </div>
            <div class="article-list popular sidebar-block">
                <h2 class="block-title">Most popular this week</h2>
                <ol>
                    {% for article in popular %}
                    <li><h2 class="headline"><a href="{{ article.get_absolute_url }}">{{ article.long_headline }}</a></h2></li>
                    {% endfor %}
                </ol>
            </div>
            <div class="advert box sidebar-block">
                <img src="{% static 'img/sample-box-ad.png' %}" />
            </div>
            <div class="article-list blog sidebar-block">
                <h2 class="block-title">From the blog</h2>
                <ul>
                    {% for article in popular %}
                    <li>
                        <a class="clearfix" href="{{ article.get_absolute_url }}">
                            <div class="featured-image-container">
                                <img class="featured" src="{{ article.featured_image.image.get_medium_url }}" />
                            </div>
                            <h2 class="headline">{{ article.long_headline }}</h2>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <footer>
        this is a footer
    </footer>
</div>
{% endblock %}