{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block content %}
<div class="advertisement homepage leaderboard">
    <div class="adslot" data-size="leaderboard" data-dfp="Front_leaderboard_728x90" id="div-gpt-ad-1443288719995-12"></div>
</div>
{% include 'headers/main.html' %}
{% include 'headers/mobile.html' %}
<main class="homepage container large">
    <div class="homepage-section frontpage-container">
        <div class="frontpage">
            <div class="cell left">
            {% with articles.secondary as article %}
                <article class="secondary padded">
                    <h2 class="headline"><a href="{{ article.get_absolute_url }}?ref=frontpage">{{ article.headline|safe }}</a></h2>
                    <p class="snippet"><span class="timestamp">{{ article.published_at|naturaltime }}</span>{{ article.snippet|safe }}</p>
                </article>
            {% endwith %}
            {% for article in articles.thumbs %}
                <article class="thumb row padded">
                    <div class="image">
                        <a href="{{ article.get_absolute_url }}?ref=frontpage"><img src="{{ article.featured_image.image.get_thumbnail_url }}"/></a>
                    </div>
                    <div>
                        <h2 class="headline"><a href="{{ article.get_absolute_url }}?ref=frontpage">{{ article.headline|safe }}</a></h2>
                        <p class="snippet"><span class="timestamp hide-desktop">{{ article.published_at|naturaltime }}</span></p>
                    </div>
                </article>
            {% endfor %}
               <ul class="article-headlines">
            {% for article in articles.bullets %}
                <li><a href="{{ article.get_absolute_url }}?ref=frontpage"><h2 class="headline">{{ article.headline|safe }}</h2></a></li>
            {% endfor %}
                </ul>
            </div>
            <div class="cell middle">
                {% with articles.primary as article %}
                <article class="primary {{ article.template }}">
                    <a class="image" href="{{ article.get_absolute_url }}?ref=frontpage"><img src="{{ article.featured_image.image.get_medium_url }}"/></a>
                    <div class="meta">
                        <a href="{{ article.get_absolute_url }}?ref=frontpage"><h1 class="headline">{{ article.headline|safe }}</h1></a>
                        <span class="byline"><span class="author">By {{ article.get_author_url|safe }}</span> &nbsp;&middot;&nbsp; <span class="published">{{ article.published_at }}</span></span>
                        <p class="snippet"><span class="timestamp hide-desktop">{{ article.published_at|naturaltime }}</span>{{ article.snippet|safe }}</p>
                    </div>
                </article>
                {% endwith %}
            </div>
            <div class="multi-zone cell right">
                {% if day_of_week == 5 or day_of_week == 6 %}
                    {{ components.multi_zone|safe }}
                {% else %}
                    {{ components.print_issue|safe }}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="homepage-section row">
        <div class="sections">
            {% include 'homepage/blocks/section_1.html' with section="news" articles=sections.news %}
            {% include 'homepage/blocks/section_2.html' with section="culture" articles=sections.culture %}
            {% include 'homepage/blocks/section_2.html' with section="sports" articles=sections.sports %}
            {% include 'homepage/blocks/section_2.html' with section="opinion" articles=sections.opinion %}
            {% include 'homepage/blocks/section_2.html' with section="features" articles=sections.features %}
            {% include 'homepage/blocks/section_2.html' with section="science" articles=sections.science %}
        </div>
        <div class="sidebar-home">
            <div class="advertisement box sidebar-block">
                <div class="adslot" id="div-gpt-ad-1443288719995-10" data-size="box" data-dfp="Front_BoxA_300x250"></div>
            </div>
            <div class="popular sidebar-block">
                <h2 class="block-title">Most popular this week</h2>
                <ol class="article-list">
                    {% for article in popular %}
                    <li><h4 class="headline"><a href="{{ article.get_absolute_url }}?ref=popular&dur=week">{{ article.headline|safe }}</a></h4></li>
                    {% endfor %}
                </ol>
            </div>
            <div class="advertisement box sidebar-block">
                <div class="adslot" id="div-gpt-ad-1443288719995-11" data-size="box" data-dfp="Front_BoxB_300x250"></div>
            </div>
            <div class="article-list blog sidebar-block">
                <h2 class="block-title">From the blog</h2>
                <ul class="article-list">
                    {% for article in blog %}
                    <li>
												<a class="clearfix" href="{{ article.get_absolute_url }}">
	                          <div class="featured-image-container">
																<div class="featured" style="background-image: url('{{ article.featured_image.image.get_medium_url }}');"></div>
	                          </div>
	                          <h4 class="headline">{{ article.headline|safe }}</h4>
	                      </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="multi-zone cell right">
                {% if day_of_week == 5 or day_of_week == 6 %}
                    {{ components.print_issue|safe }}
                {% else %}
                    {{ components.multi_zone|safe }}
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block footer %}
{% include 'homepage/footer.html' %}
{% endblock %}
