{% load staticfiles %}
<footer class="homepage">
    <div class="container large clearfix">
        <div class="left">
            <a class="home-link" href="{% url 'home' %}"><img class="logo" src="{% static 'img/ubyssey-logo-small-grey.svg' %}" /></a>
            <ul class="sections">
                <li><a href="{% url 'page' 'news' %}">News</a></li>
                <li><a href="{% url 'page' 'culture' %}">Culture</a></li>
                <li><a href="{% url 'page' 'features' %}">Features</a></li>
                <li><a href="{% url 'page' 'opinion' %}">Opinion</a></li>
                <li><a href="{% url 'page' 'sports' %}">Sports</a></li>
                <li><a href="{% url 'page' 'video' %}">Video</a></li>
                <li><a href="{% url 'page' 'blog' %}">Blog</a></li>
								<li><a href="{% url 'page' 'science' %}">Science</a></li>
            </ul>
        </div>
        <div class="right">
            <ul class="light">
                <li><a href="{% url 'page' 'volunteer' %}">Volunteer</a></li>
                <li><a href="{% url 'page' 'advertise' %}">Advertise</a></li>
                <li><a href="{% url 'page' 'contact' %}">Contact</a></li>
            </ul>
            <div class="copyright">&copy; 2015 The Ubyssey</div>
        </div>
    </div>
</footer>
