{% load staticfiles %}
<footer class="homepage">
    <div class="container large clearfix">
        <div class="left">
            <a class="home-link" href="{% url 'home' %}"><img class="logo" src="{% static 'img/ubyssey-logo-small-grey.svg' %}" /></a>
            <ul class="sections">
                <li><a href="{% url 'section' 'news' %}">News</a></li>
                <li><a href="{% url 'section' 'culture' %}">Culture</a></li>
                <li><a href="{% url 'section' 'features' %}">Features</a></li>
                <li><a href="{% url 'section' 'opinion' %}">Opinion</a></li>
                <li><a href="{% url 'section' 'sports' %}">Sports</a></li>
                <li><a href="{% url 'section' 'video' %}">Video</a></li>
                <li><a href="{% url 'section' 'blog' %}">Blog</a></li>
            </ul>
        </div>
        <div class="right">
            <ul class="light">
                <li><a href="">Volunteer</a></li>
                <li><a href="">Advertise</a></li>
                <li><a href="">Contact</a></li>
            </ul>
            <div class="copyright">&copy; 2015 The Ubyssey</div>
        </div>
    </div>
</footer>
