<section class="{{ section|safe }} homepage row">
    <div class="left col-8">
        <div class="inner">
            <article class="section-xl">
            {% with articles.0 as article %}
                <img class="featured" src="{{ article.featured_image.image.get_medium_url }}" />
                <h3 class="headline">{{ article.headline|safe }}</h3>
                <p class="snippet">{{ article.snippet|safe }}</p>
            {% endwith %}
            </article>
        </div>
    </div>
    <div class="right col-4">
        <div class="inner">
        {% for article in articles %}
            <h4 class="headline">{{ article.headline|safe }}</h4>
            <p class="snippet">{{ article.snippet|safe }}</p>
        {% endfor %}
        </div>
    </div>
</section>