{% extends 'base.html' %}
{% load static %}

{% block header %}
    {% include 'headers/topbar.html' with article=article section=article.section.slug %}
    {% include 'headers/mobile.html' %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/public_event_form-1.0.13.css' %}" type="text/css"/>
<script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://s3-us-west-1.amazonaws.com/ubyssey/static/css/jquery.datetimepicker.min.css" />
<script type="text/javascript" src="https://s3-us-west-1.amazonaws.com/ubyssey/static/js/jquery.datetimepicker.full.min.js"></script>

<div class="u-container u-container--padded" >

  <h2 class="headline">Submit an Event</h2>

  <form method="post">
    {% csrf_token %}

    <hr>
    <div class="fieldWrapper">
      <label for="facebook_url">Facebook Url<br></label>
      <p id="info">If you have uploaded your event to Facebook, you can enter the URL and we will fill in some info for you!</p>
      <input id="facebook_url" type="text" name="facebook_url"/>
    </div>
    <input type="submit" name="submit_facebook" value="Enter Facebook URL" />
    <hr>

  </form>

  {{ form.non_field_errors }}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="fieldWrapper">
      {{ form.title.errors }}
      <label for="{{ form.title.id_for_label }}">Title of Event<br></label>
      {{ form.title }}
    </div>

    <div class="fieldWrapper">
      {{ form.description.errors }}
      <label for="{{ form.description.id_for_label }}">Description<br></label>
      {{ form.description }}
    </div>

    <div class="two-col">
      <div class="fieldWrapper" type="left">
        {{ form.host.errors }}
        <label for="{{ form.host.id_for_label }}">Host<br></label>
        {{ form.host }}
      </div>

      <div class="fieldWrapper" type="right">
        {{ form.category.errors }}
        <label for="{{ form.category.id_for_label }}">Category of Event<br></label>
        {{ form.category }}
      </div>
    </div>

    {% if form.facebook_image_url.value %}
    <div class="fieldWrapper">

      {{ form.facebook_image_url.errors }}

      <label for="{{ form.facebook_image_url.id_for_label }}">Image for the Event<br></label>

      <img id="previewImage" src="{{ form.facebook_image_url.value }}" >

      {{ form.image.errors }}
      <label for="{{ form.image.id_for_label }}"><br>Or choose your own image<br></label>
      <input id="imgInp" type="file" onchange="readUrl(this);" name="image"/>

      <input id="reset" type="reset"
      value="Or stick with the facebook image" onclick="
        document.getElementById('previewImage').src='{{ form.facebook_image_url.value }}';
        document.getElementById('reset').style.display = 'none';" />

    </div>

    {% else %}
    <div class="fieldWrapper">
      {{ form.image.errors }}
      <label for="{{ form.image.id_for_label }}">Image for the Event<br></label>
      <input id="imgInp" type="file" onchange="readUrl(this);" name="image"/>
      <img id="previewImage"/>
    </div>
    {% endif %}

    <div class="two-col">
      <div class="fieldWrapper" type="left">
        {{ form.start_time.errors }}
        <label class="starttime" for="{{ form.start_time.id_for_label }}">Start Time<br></label>
        {{ form.start_time }}
      </div>

      <div class="fieldWrapper" type="right">
        {{ form.end_time.errors }}
        <label for="{{ form.end_time.id_for_label }}">End Time<br></label>
        {{ form.end_time }}
      </div>
    </div>

    <div class="fieldWrapper">
      {{ form.location.errors }}
      <label for="{{ form.location.id_for_label }}">Location<br></label>
      {{ form.location }}
    </div>

    <div class="fieldWrapper">
      {{ form.address.errors }}
      <label for="{{ form.address.id_for_label }}">Address<br></label>
      {{ form.address }}
    </div>

    <i>Please add in your email and phone number! It will allow us to contact you in case we need to confirm any information.</i>

    <div class="fieldWrapper">
      {{ form.submitter_email.errors }}
      <label for="{{ form.submitter_email.id_for_label }}">Email <br></label>
      {{ form.submitter_email }}
    </div>

    <div class="fieldWrapper">
      {{ form.submitter_phone.errors }}
      <label for="{{ form.submitter_phone.id_for_label }}">Phone Number <br></label>
      {{ form.submitter_phone }}
    </div>

    <p hidden>{{ form.facebook_url }}</p>
    <p hidden>{{ form.facebook_image_url }}</p>

    <input type="submit" name="submit_event" value="Submit Event" />
  </form>

</div>

<script type="text/javascript">

  jQuery('#id_start_time').datetimepicker({
    minDate:new Date(),
    format:'Y-m-d H:i',
    formatTime:'H:i',
    formatDate:'Y-m-d'
  });

  jQuery('#id_end_time').datetimepicker({
    minDate:new Date(),
    format:'Y-m-d H:i',
    formatTime:'H:i',
    formatDate:'Y-m-d'
  });

</script>

<script type="text/javascript">

  function readURL(input) {
    if (input.files && input.files[0]) {

      var reader = new FileReader();
      reader.onload = function(e) {
        $('#previewImage').attr('src', e.target.result);
      }
      // TODO: Hidden vs unhidden for the image
      // If (not facebook image or image) display else dont

      reader.readAsDataURL(input.files[0]);
    }

    var x = document.getElementById('reset');
    x.style.display = 'inline';
  }

  $("#imgInp").change(function() {
    readURL(this);
  });

  function hideReset() {
    {document.getElementById("reset") ? document.getElementById("reset").style.display = 'none': null};
  }

  window.onload = hideReset

</script>
{% endblock %}
