{% extends 'base.html' %}
{% load static %}

{% block header %}
    {% include 'headers/topbar.html' with article=article section=article.section.slug %}
    {% include 'headers/mobile.html' %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/public_event_form_submit-1.2.4.css' %}" type="text/css"/>

<main class="u-container u-container--padded">

  <h1 class="c-submit-event__title">Submit an Event</h1>
  <p class="c-submit-event__description">Hosting an event on or off campus? Submit it to us and we’ll feature it on our website!</p>

  <div class="c-two-col">
    {{ form.non_field_errors }}


    <form class="c-fb-import" method="post">
      {% csrf_token %}

      <div class="c-two_col__title">
        <h3>Import from Facebook</h3>
      </div>

      <div class="c-two_col__description">
        <p>Just paste the Facebook event URL below and we’ll handle the rest. Don’t worry, you’ll have a chance to double-check the information before we save it.</p>
      </div>

      <div class="c-input">
        {{ form.facebook_url.errors }}
        <input class="c-input c-input--text" placeholder="Event URL" id="facebook_url" type="text" name="facebook_url"/>
        <input class="c-input c-input--button c-input--button--left" type="submit" name="submit_facebook" value="Import"/>
      </div>

    </form>

    <div class="line">&nbsp;</div>

    <form class="c-manual-submit">

      <div class="c-two_col__title">
        <h3>Submit manually</h3>
      </div>

      <div class="c-two_col__description">
        <p>If you don’t have a Facebook event, you can use the manual submission form.</p>
      </div>

      <div class="c-input">
        <input class="c-input c-input--button" type="submit" name="submit_manually" value="Submit manually"/>
      </div>

    </form>

  </div>
</main>

{% endblock %}
