{% extends 'base.html' %}
{% load static %}

{% block header %}
    {% include 'headers/topbar.html' with article=article section=article.section.slug %}
    {% include 'headers/mobile.html' %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/public_event_form_success-1.2.4.css' %}" type="text/css"/>

<main>
  <div class="u-container u-container--padded" >

    <h1 class="c-success c-success--title">Thanks for your submission!</h1>
    <a href="http://www.ubyssey.ca" class="c-success c-success--message">Your event has been submitted for approval. We’ll email you once it goes live on our site. In the meantime, please don’t hesitate to contact events@ubyssey.ca if you have any questions.</a>

  </div>
</main>
{% endblock %}
