{% extends 'blog/base.html' %}
{% load humanize %}
{% load staticfiles %}
{% block header %}{% include 'blog/header_home.html' %}{% endblock %}
{% block content %}
{% with articles.first as article %}
<article class="primary">
    <a class="article" href="{{ article.get_absolute_url }}">
        <div class="blog-header">
            <div class="image" style="background-image: url('{{ article.featured_image.image.get_absolute_url }}');"></div>
                <div class="meta">
                    <div class="container">
                        {% if article.topic %}<span class="category">{{ article.topic.name }}</span>{% endif %}
                        <h1 class="headline">{{ article.headline|safe }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </a>
</article>
{% endwith %}
<div class="featured-articles">
    <div class="topbar">
        <div class="container">
            <ul class="tabs">
                <li><a>Recent posts</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="list">
            {% for article in articles.rest|slice:":8" %}
                <article>
                    <div class="left">
                        <a class="article" href="{{ article.get_absolute_url }}">
                            <img src="{{ article.featured_image.image.get_absolute_url }}" />
                        </a>
                    </div>
                    <div>
                        <a class="article" href="{{ article.get_absolute_url }}"><h2 class="headline">{{ article.headline|safe }}</h2></a>
                        <p class="snippet">{{ article.snippet }}</p>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}