div.spots {
  float: left;
  border-right: 1px solid #D9D9D9;
  position: absolute;
  top: 0;
  bottom: 0px;
  width: 200px;
  ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    li {
      border-bottom: 1px solid #D9D9D9;
      padding: 0 15px;
      font-family: $ui-font-helvetica;
      font-size: 12px;
      color: #A2A2A2;

      &:visited {
        color: #A2A2A2;
      }
      &:hover {
        color: rgb(110, 110, 110);
        cursor: pointer;
      }
      &:active, &:focus {
        outline: none;
      }
      line-height: 50px;
      height: 50px;
      text-decoration: none;

      &.active {
        background: rgb(245, 245, 245);
        border-color: rgb(217, 217, 217);
        color: rgb(110, 110, 110);
      }
    }
  }
}

div.component-header {
  padding: 0 15px;
  height: 59px;
  line-height: 59px;
  border-bottom: 1px solid #E2E2E2;
  background: #f9f9f9;
  label {
    font-size: 14px;
    color: gray;
    margin-right: 5px;
  }
}

div.component {
  margin-left: 200px;
  div.component-header {
    padding: 0 23px;
  }
  div.component-fields {
    padding: 15px;
  }
}

div.model-field {
  margin: 10px 0;
  width: 300px;
  padding: 0;
  div.field-container {
    padding: 8px 8px 0 8px;
    background: none;
    border: 1px solid transparent;
  }
  &.active div.field-container, {
    background: rgb(242, 242, 242);
    border-color: rgb(218, 218, 218);
  }
  div.search-container {
    position: absolute;
    width: 300px;
  }
  div.model-label {
    background: #FFFFFF;
    padding: 8px;
    font-size: 13px;
    border-radius: 2px;
    border: 1px solid rgb(202, 202, 202);
    color: rgb(68, 68, 68);
    position: relative;
    cursor: default;
    margin-bottom: 8px;
    div.left {
      margin-right: 25px;
    }
    div.model-delete {
      right: 8px;
      bottom: 0;
      top: 8px;
      text-align: center;
      width: 20px;
      position: absolute;
      &:hover {
        cursor: pointer;
        opacity: 0.85;
      }
    }
  }
  div.config{
    padding: 0 8px;
    a {
      font-size: 12px;
    }
  }
  div.search-field {
    position: absolute;
    top: -1px;
    width: 100%;
    background: #fff;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 0 1px 0 1px;
    box-sizing: border-box;
    div.search-bar {
      //padding: 8px;
    }
    input {
      width: 100%;
      box-sizing: border-box;
      border: none;
      padding: 9px 8px;
      font-size: 12px;
      background: white;
      color: gray;
      &:focus {
        color: black;
      }
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        padding: 6px 8px;
        font-size: 13px;
        border-bottom: 1px solid rgb(218, 218, 218);
        &:last-child {
          border: none;
        }
        &:first-child {
          border-top: 1px solid rgb(218, 218, 218);
        }
        &:hover {
          background: rgb(242, 242, 242);
          cursor: pointer;
        }
      }
    }
  }
}

