header.blog {
  height: 80px;
  line-height: 80px;

  &.home {
    position: absolute;
    z-index: 500;
    width: 100%;
    border-bottom: none;
    i {
      color: #fff;
    }
  }

  //background: $color-ub-blue;

  text-align: center;

  i {
    font-size: 22px;
  }

  img.logo {
    height: 25px;
    width: auto;
    vertical-align: middle;
  }

  div.left {
    float: left;
  }

  div.right {
    float: right;
  }
}