/* line 3, ../sass/modules/homepage.scss */
img.featured {
  width: 100%;
}

/* line 7, ../sass/modules/homepage.scss */
div.frontpage-container {
  display: table;
  margin-top: 20px;
  margin-bottom: 25px;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 25px;
}

/* line 15, ../sass/modules/homepage.scss */
div.frontpage {
  display: table-row;
}
/* line 19, ../sass/modules/homepage.scss */
div.frontpage div.cell {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
}
/* line 24, ../sass/modules/homepage.scss */
div.frontpage div.cell.left, div.frontpage div.cell.right {
  width: 29%;
}
/* line 28, ../sass/modules/homepage.scss */
div.frontpage div.cell.left {
  padding-right: 15px;
  border-right: 1px solid #E6E6E6;
}
/* line 31, ../sass/modules/homepage.scss */
div.frontpage div.cell.left article, div.frontpage div.cell.left ul.article-headlines {
  border-bottom: 1px dotted #C8C8C8;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 35, ../sass/modules/homepage.scss */
div.frontpage div.cell.left article:first-child, div.frontpage div.cell.left ul.article-headlines:first-child {
  padding-top: 0;
}
/* line 38, ../sass/modules/homepage.scss */
div.frontpage div.cell.left article:last-child, div.frontpage div.cell.left ul.article-headlines:last-child {
  border-bottom: none;
}
/* line 43, ../sass/modules/homepage.scss */
div.frontpage div.cell.middle {
  width: 42%;
  padding: 0 15px;
  border-right: 1px solid #E6E6E6;
}
/* line 52, ../sass/modules/homepage.scss */
div.frontpage article h1, div.frontpage article h2, div.frontpage li h1, div.frontpage li h2 {
  font-family: TisaPro-Bold;
  margin: 3px 0;
}
/* line 57, ../sass/modules/homepage.scss */
div.frontpage article img, div.frontpage li img {
  width: 100%;
}
/* line 61, ../sass/modules/homepage.scss */
div.frontpage article.primary h1, div.frontpage li.primary h1 {
  margin: 8px 0;
  font-size: 24px;
  line-height: 29px;
}
/* line 66, ../sass/modules/homepage.scss */
div.frontpage article.primary.feature, div.frontpage li.primary.feature {
  text-align: center;
}
/* line 68, ../sass/modules/homepage.scss */
div.frontpage article.primary.feature h1, div.frontpage li.primary.feature h1 {
  margin: 15px 0;
}
/* line 74, ../sass/modules/homepage.scss */
div.frontpage article.secondary h2, div.frontpage li.secondary h2 {
  margin-top: 0;
  font-size: 21px;
  line-height: 27px;
}
/* line 82, ../sass/modules/homepage.scss */
div.frontpage article.thumb .left, div.frontpage li.thumb .left {
  width: 35%;
  margin-right: 15px;
}
/* line 87, ../sass/modules/homepage.scss */
div.frontpage article.thumb h2, div.frontpage li.thumb h2 {
  font-size: 15px;
  line-height: 22px;
  margin: 0;
}

/* line 96, ../sass/modules/homepage.scss */
div.container.large {
  max-width: 1260px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 106, ../sass/modules/homepage.scss */
div.sections {
  float: left;
  width: 71%;
  border-right: 1px solid #E6E6E6;
  box-sizing: border-box;
  padding-right: 20px;
}
/* line 113, ../sass/modules/homepage.scss */
div.sections section {
  box-sizing: border-box;
  padding-bottom: 25px;
  border-bottom: 1px solid #E0E0E0;
}
/* line 118, ../sass/modules/homepage.scss */
div.sections section.homepage {
  width: 100%;
}
/* line 121, ../sass/modules/homepage.scss */
div.sections section.homepage .left, div.sections section.homepage .right {
  box-sizing: border-box;
}
/* line 125, ../sass/modules/homepage.scss */
div.sections section.homepage.section-1 .left {
  padding-right: 15px;
}
/* line 128, ../sass/modules/homepage.scss */
div.sections section.homepage.section-1 .right {
  border-left: 1px solid #E6E6E6;
  padding-left: 15px;
}

/* line 141, ../sass/modules/homepage.scss */
h1.section {
  font-family: "LFT Etica";
  font-size: 26px;
  color: #242424;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 25px 0;
}
/* line 149, ../sass/modules/homepage.scss */
h1.section:first-child {
  margin-top: 0;
}

/* line 156, ../sass/modules/homepage.scss */
article.section-top {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #E0E0E0;
}
/* line 157, ../sass/modules/homepage.scss */
article.section-top .left {
  float: left;
  width: 40%;
  margin-right: 20px;
}

/* line 168, ../sass/modules/homepage.scss */
article.stacked {
  border-bottom: 1px dotted #C8C8C8;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
/* line 172, ../sass/modules/homepage.scss */
article.stacked:last-child {
  padding: 0;
  margin: 0;
  border: none;
}

/* line 181, ../sass/modules/homepage.scss */
ul.article-headlines {
  padding-left: 24px;
  margin: 0;
}
/* line 184, ../sass/modules/homepage.scss */
ul.article-headlines li {
  font-size: 24px;
}
/* line 186, ../sass/modules/homepage.scss */
ul.article-headlines li h2 {
  font-size: 14px;
  margin: 0;
}

/* line 193, ../sass/modules/homepage.scss */
article.column {
  box-sizing: border-box;
  float: left;
  width: 33.3%;
  padding: 0 10px;
}
/* line 198, ../sass/modules/homepage.scss */
article.column:first-child {
  padding-left: 0;
}
/* line 201, ../sass/modules/homepage.scss */
article.column:last-child {
  padding-right: 0;
}
/* line 204, ../sass/modules/homepage.scss */
article.column h4.headline {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

/* line 216, ../sass/modules/homepage.scss */
div.featured-image-container {
  overflow: hidden;
  float: left;
  width: 72px;
  height: 72px;
  margin-right: 12px;
  margin-bottom: 5px;
}
/* line 223, ../sass/modules/homepage.scss */
div.featured-image-container img {
  width: auto;
  height: 100%;
}

/* line 229, ../sass/modules/homepage.scss */
p.snippet {
  font-family: Georgia;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 20px;
  color: #363636;
}

/* line 241, ../sass/modules/homepage.scss */
h1.headline, h2.headline, h3.headline, h4.headline, h5.headline {
  margin: 7px 0;
  font-family: TisaPro-Bold;
}
/* line 244, ../sass/modules/homepage.scss */
h1.headline:first-child, h2.headline:first-child, h3.headline:first-child, h4.headline:first-child, h5.headline:first-child {
  margin-top: 0;
}
/* line 247, ../sass/modules/homepage.scss */
h1.headline a, h2.headline a, h3.headline a, h4.headline a, h5.headline a {
  color: inherit;
  text-decoration: none;
}
/* line 250, ../sass/modules/homepage.scss */
h1.headline a:hover, h2.headline a:hover, h3.headline a:hover, h4.headline a:hover, h5.headline a:hover {
  color: #0071c9;
}

/* line 257, ../sass/modules/homepage.scss */
h3.headline {
  font-size: 24px;
  line-height: 35px;
}

/* line 262, ../sass/modules/homepage.scss */
h4.headline {
  font-size: 17px;
  line-height: 25px;
}

/* line 267, ../sass/modules/homepage.scss */
span.author.small {
  font-family: "LFT Etica";
  font-weight: 600;
  font-size: 11px;
  color: #414040;
  line-height: 16px;
  display: block;
  margin: 10px 0;
  text-transform: uppercase;
}

/* line 280, ../sass/modules/homepage.scss */
div.sidebar-home {
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  box-sizing: border-box;
  width: 29%;
}
/* line 287, ../sass/modules/homepage.scss */
div.sidebar-home .sidebar-block {
  padding-top: 25px;
  margin-top: 25px;
  border-top: 1px solid #E6E6E6;
}
/* line 291, ../sass/modules/homepage.scss */
div.sidebar-home .sidebar-block:first-child {
  padding-top: 0;
  border-top: none;
}
/* line 295, ../sass/modules/homepage.scss */
div.sidebar-home .sidebar-block h2.block-title {
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
  font-family: "LFT Etica";
  text-transform: uppercase;
  font-size: 14px;
}

/* line 307, ../sass/modules/homepage.scss */
div.advert.box {
  text-align: center;
}

/* line 313, ../sass/modules/homepage.scss */
div.article-list ul, div.article-list ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 318, ../sass/modules/homepage.scss */
div.article-list ul > li, div.article-list ol > li {
  border-bottom: 1px dotted #C8C8C8;
}
/* line 320, ../sass/modules/homepage.scss */
div.article-list ul > li h2.headline, div.article-list ol > li h2.headline {
  font-family: TisaPro;
  font-size: 14px;
  margin: 2px 0;
}
/* line 325, ../sass/modules/homepage.scss */
div.article-list ul > li a, div.article-list ol > li a {
  display: block;
}
/* line 332, ../sass/modules/homepage.scss */
div.article-list ul > li {
  display: block;
  overflow: auto;
  font-weight: bold;
  margin-top: 12px;
  padding-bottom: 12px;
}
/* line 338, ../sass/modules/homepage.scss */
div.article-list ul > li div.featured-image-container {
  margin-bottom: 0;
}
/* line 343, ../sass/modules/homepage.scss */
div.article-list ol {
  counter-reset: ol-counter;
}
/* line 345, ../sass/modules/homepage.scss */
div.article-list ol > li {
  margin: 18px 0;
  position: relative;
  padding-bottom: 15px;
  padding-left: 40px;
}
/* line 346, ../sass/modules/homepage.scss */
div.article-list ol > li h2.headline {
  font-weight: normal;
}
/* line 353, ../sass/modules/homepage.scss */
div.article-list ol > li a {
  display: inline-block;
}
/* line 356, ../sass/modules/homepage.scss */
div.article-list ol > li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}
/* line 361, ../sass/modules/homepage.scss */
div.article-list ol > li:before {
  font-family: "LFT Etica";
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #323232;
  content: counter(ol-counter);
  counter-increment: ol-counter;
}
