/* line 1, sass/modules/_responsive.scss */
div.col {
  float: left;
}

/* line 5, sass/modules/_responsive.scss */
div.col-8 {
  width: 75%;
  float: left;
}

/* line 10, sass/modules/_responsive.scss */
div.col-4 {
  width: 25%;
  float: left;
}

/* line 15, sass/modules/_responsive.scss */
div.col-6 {
  width: 50%;
  float: left;
}

/* line 20, sass/modules/_responsive.scss */
div.row, .clearfix {
  overflow: auto;
}

/* line 7, sass/modules/admin/_base.scss */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/* line 14, sass/modules/admin/_base.scss */
body {
  font-family: Helvetica;
}

/* line 18, sass/modules/admin/_base.scss */
div.sidebar {
  width: 55px;
  height: 100%;
  background: #1D1D1D;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 25, sass/modules/admin/_base.scss */
div.sidebar div.dispatch-logo {
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: white;
  font-size: 22px;
  font-weight: 800;
  background: black;
}
/* line 35, sass/modules/admin/_base.scss */
div.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 40, sass/modules/admin/_base.scss */
div.sidebar nav ul li a {
  height: 55px;
  line-height: 55px;
  text-align: center;
  display: block;
  width: 100%;
  color: white;
}
/* line 47, sass/modules/admin/_base.scss */
div.sidebar nav ul li a:hover {
  color: #4A90E2;
}

/* line 56, sass/modules/admin/_base.scss */
div.wrapper {
  float: left;
  width: 100%;
  height: 100%;
}

/* line 62, sass/modules/admin/_base.scss */
main {
  margin-left: 55px;
  height: 100%;
}

/* line 67, sass/modules/admin/_base.scss */
header {
  background: #4A90E2;
  height: 55px;
  line-height: 40px;
  position: fixed;
  left: 55px;
  right: 0;
  top: 0;
  z-index: 50;
}
/* line 76, sass/modules/admin/_base.scss */
header div.header-main {
  line-height: 55px;
  height: 100%;
}
/* line 79, sass/modules/admin/_base.scss */
header div.header-main .toolbar {
  float: left;
}
/* line 82, sass/modules/admin/_base.scss */
header div.header-main .save-buttons {
  float: right;
}
/* line 86, sass/modules/admin/_base.scss */
header div.title {
  float: left;
  margin-left: 20px;
}
/* line 89, sass/modules/admin/_base.scss */
header div.title h1 {
  color: white;
  margin: 0;
  font-size: 16px;
  font-family: "lft-etica", "LFT Etica", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
/* line 99, sass/modules/admin/_base.scss */
header div.brand {
  width: 55px;
  background: #353535;
  text-align: center;
  font-family: LFTEtica-Bold;
  font-size: 24px;
  color: #FFFFFF;
}

/* line 110, sass/modules/admin/_base.scss */
div.main {
  top: 55px;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  right: 0;
  left: 55px;
}
/* line 117, sass/modules/admin/_base.scss */
div.main > div.content {
  overflow: hidden;
  float: left;
  height: 100%;
}
/* line 122, sass/modules/admin/_base.scss */
div.main > div.inner {
  padding: 0 20px;
}
/* line 125, sass/modules/admin/_base.scss */
div.main form, div.main form > .row {
  overflow: hidden;
  height: 100%;
}

/* line 133, sass/modules/admin/_base.scss */
.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 500;
}
/* line 141, sass/modules/admin/_base.scss */
.modal.visible {
  display: table;
}
/* line 144, sass/modules/admin/_base.scss */
.modal .body {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
/* line 149, sass/modules/admin/_base.scss */
.modal .content {
  width: 75%;
  height: 90%;
  max-width: 1440px;
  min-height: 400px;
  background: white;
  margin: 0 auto;
  position: relative;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
}
/* line 159, sass/modules/admin/_base.scss */
.modal .content-area {
  position: absolute;
  width: 100%;
  top: 70px;
  bottom: 70px;
}
/* line 165, sass/modules/admin/_base.scss */
.modal .header {
  height: 70px;
  line-height: 70px;
  position: absolute;
  width: 100%;
  z-index: 550;
  border-bottom: 1px solid #d5d5d5;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px;
}
/* line 173, sass/modules/admin/_base.scss */
.modal .header nav {
  padding: 0 15px;
}
/* line 175, sass/modules/admin/_base.scss */
.modal .header nav button {
  margin-right: 15px;
}
/* line 178, sass/modules/admin/_base.scss */
.modal .header nav a {
  padding: 0 15px;
  font-family: "Lucida Grande";
  font-size: 14px;
  color: #A2A2A2;
  line-height: 17px;
  text-decoration: none;
}
/* line 183, sass/modules/admin/_base.scss */
.modal .header nav a:visited {
  color: #A2A2A2;
}
/* line 186, sass/modules/admin/_base.scss */
.modal .header nav a:hover {
  color: #272727;
}
/* line 194, sass/modules/admin/_base.scss */
.modal .footer {
  height: 70px;
  line-height: 70px;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #d5d5d5;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0px -1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px -1px 1px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px -1px 1px;
}
/* line 195, sass/modules/admin/_base.scss */
.modal .footer nav {
  padding: 0 15px;
}
/* line 206, sass/modules/admin/_base.scss */
.modal input {
  border: 1px solid black;
}

/* line 211, sass/modules/admin/_base.scss */
form.search-bar {
  display: inline;
}
/* line 213, sass/modules/admin/_base.scss */
form.search-bar input {
  border: 1px solid #E2E2E2;
  border-radius: 2px;
  padding: 0 8px;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  min-width: 250px;
  margin: 0 10px;
}

/* line 225, sass/modules/admin/_base.scss */
div.list-header {
  padding: 12px 0 12px 20px;
  border-bottom: thin solid #E2E2E2;
  background: #f9f9f9;
}
/* line 229, sass/modules/admin/_base.scss */
div.list-header div.cell {
  height: 34px;
  line-height: 34px;
  float: left;
}
/* line 233, sass/modules/admin/_base.scss */
div.list-header div.cell span {
  color: gray;
  font-size: 14px;
}
/* line 236, sass/modules/admin/_base.scss */
div.list-header div.cell span .fa {
  font-size: 15px;
}
/* line 240, sass/modules/admin/_base.scss */
div.list-header div.cell a {
  font-size: 14px;
  color: #4A90E2;
}
/* line 244, sass/modules/admin/_base.scss */
div.list-header div.cell.checkbox {
  text-align: center;
  width: 12px;
}
/* line 248, sass/modules/admin/_base.scss */
div.list-header div.cell.actions {
  margin-left: 20px;
}
/* line 252, sass/modules/admin/_base.scss */
div.list-header div.cell.search {
  padding-right: 20px;
  float: right;
}

/* line 259, sass/modules/admin/_base.scss */
div.list-container {
  position: absolute;
  top: 59px;
  bottom: 0;
  overflow: scroll;
  width: 100%;
}

/* line 267, sass/modules/admin/_base.scss */
div.item-list {
  display: table;
  width: 100%;
}
/* line 270, sass/modules/admin/_base.scss */
div.item-list div.item {
  display: table-row;
}
/* line 272, sass/modules/admin/_base.scss */
div.item-list div.item:hover {
  background: #f9f9f9;
}
/* line 275, sass/modules/admin/_base.scss */
div.item-list div.item div.cell {
  display: table-cell;
  padding: 20px 0 20px 20px;
  border-bottom: thin solid #E2E2E2;
}
/* line 279, sass/modules/admin/_base.scss */
div.item-list div.item div.cell a, div.item-list div.item div.cell span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-decoration: none;
  color: #646464;
}
/* line 285, sass/modules/admin/_base.scss */
div.item-list div.item div.cell.checkbox, div.item-list div.item div.cell.status {
  text-align: center;
  width: 12px;
  padding-left: 20px;
  padding-right: 0px;
}
/* line 291, sass/modules/admin/_base.scss */
div.item-list div.item div.cell.status {
  padding-left: 15px;
}
/* line 293, sass/modules/admin/_base.scss */
div.item-list div.item div.cell.status .fa-check-circle {
  color: #4FD74B;
}
/* line 298, sass/modules/admin/_base.scss */
div.item-list div.item div.cell.title a {
  font-weight: 600;
  color: black;
  font-size: 14px;
}
/* line 302, sass/modules/admin/_base.scss */
div.item-list div.item div.cell.title a:hover {
  color: #4183c4;
}

/* line 313, sass/modules/admin/_base.scss */
.dropzone {
  height: 100%;
}

/* line 317, sass/modules/admin/_base.scss */
.dz-preview {
  display: inline-block;
}

/* line 325, sass/modules/admin/_base.scss */
input:focus, textarea:focus {
  outline: none;
}

/* line 330, sass/modules/admin/_base.scss */
input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 334, sass/modules/admin/_base.scss */
button.sq-button, a.sq-button {
  border-radius: 2px;
  font-family: "lft-etica", "LFT Etica", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  font-size: 11px;
  line-height: 35px;
  height: 35px;
  padding: 0 15px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #4A90E2;
  background: #4A90E2;
}
/* line 351, sass/modules/admin/_base.scss */
button.sq-button.green, a.sq-button.green {
  background: #4FD74B;
  border-color: #4FD74B;
}
/* line 355, sass/modules/admin/_base.scss */
button.sq-button.red, a.sq-button.red {
  background: #E24A4A;
  border-color: #E24A4A;
}
/* line 359, sass/modules/admin/_base.scss */
button.sq-button:hover, a.sq-button:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  background: #437FC5;
  border-color: #437FC5;
}
/* line 366, sass/modules/admin/_base.scss */
button.sq-button:hover.green, a.sq-button:hover.green {
  background: #48BB45;
  border-color: #48BB45;
}
/* line 371, sass/modules/admin/_base.scss */
button.sq-button:hover.red, a.sq-button:hover.red {
  background: #BD4141;
  border-color: #BD4141;
}
/* line 376, sass/modules/admin/_base.scss */
button.sq-button:active, button.sq-button:focus, a.sq-button:active, a.sq-button:focus {
  outline: none;
}
/* line 380, sass/modules/admin/_base.scss */
button.sq-button:disabled, button.sq-button:disabled:hover, a.sq-button:disabled, a.sq-button:disabled:hover {
  cursor: default;
  background: gray;
  border-color: gray;
  opacity: 0.5;
}

/* line 390, sass/modules/admin/_base.scss */
.loader {
  display: inline-block;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid rgba(0, 0, 0, 0.2);
  border-right: 5px solid rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  border-left: 5px solid #ffffff;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

/* line 402, sass/modules/admin/_base.scss */
.loader,
.loader:after {
  border-radius: 50%;
  margin-top: -5px;
  width: 15px;
  height: 15px;
  top: 7px;
  left: 10px;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 6, sass/modules/admin/_article.scss */
div.panel {
  float: left;
}

/* line 10, sass/modules/admin/_article.scss */
textarea.headline {
  font-weight: 600;
  font-size: 28px;
  color: #000000;
  line-height: 40px;
  height: 40px;
  border: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  width: 100%;
  resize: none;
}

/* line 24, sass/modules/admin/_article.scss */
div.field-row.headline {
  margin-bottom: 15px;
}

/* line 29, sass/modules/admin/_article.scss */
ul.author-list {
  list-style-type: none;
  padding: 0;
  margin: 5px 0;
}
/* line 33, sass/modules/admin/_article.scss */
ul.author-list li {
  padding: 8px 0;
}
/* line 35, sass/modules/admin/_article.scss */
ul.author-list li span {
  cursor: move;
  background: white;
  padding: 6px 9px;
  border: solid 1px grey;
  border-radius: 2px;
  font-size: 12px;
}
/* line 42, sass/modules/admin/_article.scss */
ul.author-list li span a {
  margin-left: 8px;
}

/* line 49, sass/modules/admin/_article.scss */
.ui-state-highlight {
  height: 1em;
  line-height: 1em;
}

/* line 51, sass/modules/admin/_article.scss */
div.manage-authors {
  display: none;
}

/* line 58, sass/modules/admin/_article.scss */
div.panel.content {
  width: 730px;
  background: white;
  height: 100%;
  overflow: scroll;
  border-right: 1px solid #DEDEDE;
  -moz-box-shadow: rgba(0, 0, 0, 0.13) 0px 0px 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.13) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 0px 5px;
}
/* line 68, sass/modules/admin/_article.scss */
div.panel.content > div.inner {
  padding-top: 35px;
  padding-right: 60px;
  padding-bottom: 95px;
}

/* line 75, sass/modules/admin/_article.scss */
div.fieldset.tab {
  padding: 20px 35px;
}
/* line 77, sass/modules/admin/_article.scss */
div.fieldset.tab.list {
  padding: 0;
}
/* line 79, sass/modules/admin/_article.scss */
div.fieldset.tab.list .row {
  padding: 20px 35px;
  border-bottom: 1px solid #C6C6C6;
}
/* line 82, sass/modules/admin/_article.scss */
div.fieldset.tab.list .row.active {
  background: rgba(74, 144, 226, 0.05);
}
/* line 85, sass/modules/admin/_article.scss */
div.fieldset.tab.list .row:last-child {
  border-bottom: none;
}

/* line 92, sass/modules/admin/_article.scss */
nav.edit-tabs {
  border-bottom: 1px solid #D9D9D9;
}
/* line 94, sass/modules/admin/_article.scss */
nav.edit-tabs ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}
/* line 98, sass/modules/admin/_article.scss */
nav.edit-tabs ul li {
  display: inline-block;
}
/* line 100, sass/modules/admin/_article.scss */
nav.edit-tabs ul li a {
  display: block;
  padding: 17px 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #A2A2A2;
  min-width: 60px;
  text-align: center;
  border-width: 0 1px;
  border-style: solid;
  border-color: transparent;
  line-height: 17px;
  text-decoration: none;
}
/* line 115, sass/modules/admin/_article.scss */
nav.edit-tabs ul li a:visited {
  color: #A2A2A2;
}
/* line 118, sass/modules/admin/_article.scss */
nav.edit-tabs ul li a:hover {
  color: #6e6e6e;
}
/* line 121, sass/modules/admin/_article.scss */
nav.edit-tabs ul li a:active, nav.edit-tabs ul li a:focus {
  outline: none;
}
/* line 127, sass/modules/admin/_article.scss */
nav.edit-tabs ul li.ui-state-active a {
  background: whitesmoke;
  border-color: #d9d9d9;
  color: #6e6e6e;
}

/* line 136, sass/modules/admin/_article.scss */
div.panel.options {
  position: absolute;
  float: none;
  right: 0;
  left: 730px;
  bottom: 0;
  top: 0;
}
/* line 144, sass/modules/admin/_article.scss */
div.panel.options div.fieldset div.col:first-child {
  margin-right: 15px;
}

/* line 151, sass/modules/admin/_article.scss */
div.field-row.content textarea.content {
  width: 100%;
  display: none;
}

/* line 157, sass/modules/admin/_article.scss */
button.dis-button {
  border: 1px solid #c8c8c8;
  background: none;
  border-radius: 25px;
  color: #898989;
  font-size: 10px;
  padding: 0 9px;
  height: 28px;
  vertical-align: middle;
}
/* line 166, sass/modules/admin/_article.scss */
button.dis-button:hover {
  cursor: pointer;
  border-color: grey;
  color: grey;
}
/* line 171, sass/modules/admin/_article.scss */
button.dis-button:active {
  outline: none;
}

/* line 176, sass/modules/admin/_article.scss */
div.field-row.headline {
  margin-left: 60px;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 15px;
  margin-bottom: 30px;
}
/* line 181, sass/modules/admin/_article.scss */
div.field-row.headline div.authors {
  padding: 10px 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #7E7E7E;
  line-height: 28px;
  height: 28px;
}
/* line 190, sass/modules/admin/_article.scss */
div.field-row.headline div.authors:hover button {
  display: inline-block;
}
/* line 194, sass/modules/admin/_article.scss */
div.field-row.headline div.authors button {
  display: none;
}

/* line 200, sass/modules/admin/_article.scss */
input.add-box {
  display: none;
}

/* line 204, sass/modules/admin/_article.scss */
ul.tags {
  list-style-type: none;
  padding: 0;
}
/* line 207, sass/modules/admin/_article.scss */
ul.tags li {
  display: inline-block;
  border: 1px solid black;
  background: white;
  padding: 4px;
  margin-right: 5px;
}

/* line 216, sass/modules/admin/_article.scss */
ul.tagList {
  list-style-type: none;
  padding: 0;
}
/* line 219, sass/modules/admin/_article.scss */
ul.tagList li {
  display: inline-block;
  border: 1px solid black;
  background: white;
  padding: 4px;
  margin-right: 5px;
}

/* line 227, sass/modules/admin/_article.scss */
.image-manager img {
  height: auto;
}

/* line 231, sass/modules/admin/_article.scss */
.images-list {
  list-style-type: none;
  padding: 0;
}
/* line 234, sass/modules/admin/_article.scss */
.images-list li {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 5px 5px 0;
}
/* line 239, sass/modules/admin/_article.scss */
.images-list li:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* line 247, sass/modules/admin/_article.scss */
.image-manager .image-catalog-container {
  overflow-y: scroll;
  height: 100%;
  border-right: 1px solid #e5e5e5;
  margin: 0 360px 0 0;
}
/* line 253, sass/modules/admin/_article.scss */
.image-manager .image-results {
  padding: 7px;
  margin: 0;
  list-style-type: none;
}
/* line 257, sass/modules/admin/_article.scss */
.image-manager .image-results.dz-drag-hover {
  background: #f0f0f0;
}
/* line 259, sass/modules/admin/_article.scss */
.image-manager .image-results.dz-drag-hover li {
  opacity: 0.2;
}
/* line 263, sass/modules/admin/_article.scss */
.image-manager .image-results li {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-size: auto 100%;
  margin: 8px;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 271, sass/modules/admin/_article.scss */
.image-manager .image-results li:hover {
  cursor: pointer;
  opacity: 0.8;
}
/* line 275, sass/modules/admin/_article.scss */
.image-manager .image-results li.selected {
  box-shadow: 0 0 0 1px #fff, 0 0 0 4px #e14d43;
}
/* line 280, sass/modules/admin/_article.scss */
.image-manager .image-meta {
  position: absolute;
  width: 330px;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 15px;
}
/* line 287, sass/modules/admin/_article.scss */
.image-manager .image-meta h3 {
  font-size: 12px;
}
/* line 290, sass/modules/admin/_article.scss */
.image-manager .image-meta img {
  max-width: 100%;
  width: auto;
  max-height: 150px;
}

/* line 300, sass/modules/admin/_article.scss */
#editor {
  min-height: 200px;
  padding: 0;
}

/* line 305, sass/modules/admin/_article.scss */
#full-toolbar {
  padding: 0;
  margin-left: 60px;
}

/* line 310, sass/modules/admin/_article.scss */
.ql-container {
  overflow: visible;
}

/* line 314, sass/modules/admin/_article.scss */
.ql-editor {
  margin-left: 60px;
}
/* line 316, sass/modules/admin/_article.scss */
.ql-editor img {
  width: 100%;
  display: block;
}
/* line 320, sass/modules/admin/_article.scss */
.ql-editor .ql-embed {
  width: 97%;
  margin-bottom: 20px;
  cursor: default;
}
/* line 326, sass/modules/admin/_article.scss */
.ql-editor .ql-embed.selected .image .image-toolbar-container {
  display: block;
}
/* line 330, sass/modules/admin/_article.scss */
.ql-editor .ql-embed .image {
  position: relative;
  overflow: visible;
}
/* line 333, sass/modules/admin/_article.scss */
.ql-editor .ql-embed .image .image-toolbar-container {
  pointer-events: none;
  display: none;
  position: absolute;
  top: -50px;
  width: 100%;
}
/* line 339, sass/modules/admin/_article.scss */
.ql-editor .ql-embed .image .image-toolbar-container .image-toolbar {
  pointer-events: auto;
  margin: 0 auto;
  width: 200px;
  background: black;
  height: 40px;
}
/* line 347, sass/modules/admin/_article.scss */
.ql-editor .ql-embed .image .image-caption {
  padding-top: 15px;
}
/* line 349, sass/modules/admin/_article.scss */
.ql-editor .ql-embed .image .image-caption textarea {
  width: 100%;
  border: none;
  color: grey;
  background: none;
  resize: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
}
/* line 361, sass/modules/admin/_article.scss */
.ql-editor .ql-embed .image .images {
  overflow: auto;
}
/* line 363, sass/modules/admin/_article.scss */
.ql-editor .ql-embed .image .images.single img {
  width: 100%;
}
/* line 366, sass/modules/admin/_article.scss */
.ql-editor .ql-embed .image .images.double img {
  width: 49%;
  float: left;
}
/* line 369, sass/modules/admin/_article.scss */
.ql-editor .ql-embed .image .images.double img:nth-child(2) {
  float: right;
}
/* line 373, sass/modules/admin/_article.scss */
.ql-editor .ql-embed .image .images .add-image {
  float: left;
  width: 50%;
  display: none;
}
/* line 380, sass/modules/admin/_article.scss */
.ql-editor .ql-embed .image .images.show-add-button .add-image {
  display: block;
}

/* line 389, sass/modules/admin/_article.scss */
#editor div.ql-line {
  font-family: Georgia;
  font-size: 16px;
  color: #2F2F2F;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 20px;
}

/* line 398, sass/modules/admin/_article.scss */
#editor p.no-bottom-margin {
  margin-bottom: 0;
}

/* line 402, sass/modules/admin/_article.scss */
.drop-area {
  height: 20px;
}

/* line 406, sass/modules/admin/_article.scss */
.drop-area.hover {
  border: 1px solid grey;
  border-radius: 20px;
  padding: 10px 0;
  margin: 8px 0;
}

/* line 413, sass/modules/admin/_article.scss */
span.format-shortcode {
  color: red;
}

/* line 416, sass/modules/admin/_article.scss */
img.drag-image {
  width: 150px;
  height: auto;
}

/* line 421, sass/modules/admin/_article.scss */
#editor img.drag-image {
  width: 50%;
}

/* line 425, sass/modules/admin/_article.scss */
button.dark-button {
  border: 1px solid #fff;
  background: none;
  border-radius: 25px;
  color: #fff;
  font-size: 10px;
  padding: 0 13px;
  height: 36px;
  vertical-align: middle;
  margin: 0 5px;
}
/* line 435, sass/modules/admin/_article.scss */
button.dark-button:hover {
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  color: white;
}
/* line 440, sass/modules/admin/_article.scss */
button.dark-button:active {
  outline: none;
}

/* line 445, sass/modules/admin/_article.scss */
.image-tools {
  display: none;
  position: absolute;
  left: 60px;
  background: rgba(0, 0, 0, 0.5);
}
/* line 450, sass/modules/admin/_article.scss */
.image-tools:hover {
  cursor: pointer;
}
/* line 453, sass/modules/admin/_article.scss */
.image-tools > .inner {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
}
/* line 458, sass/modules/admin/_article.scss */
.image-tools > .inner .tools {
  display: table-cell;
  vertical-align: middle;
}

/* line 465, sass/modules/admin/_article.scss */
.inline-toolbar {
  position: absolute;
  z-index: 500;
  display: none;
  height: 22px;
  line-height: 22px;
}

/* line 473, sass/modules/admin/_article.scss */
.inline-toolbar .side-button {
  width: 45px;
  float: left;
}

/* line 478, sass/modules/admin/_article.scss */
.inline-toolbar .toolbar {
  float: left;
  display: none;
  margin-left: 15px;
}

/* line 484, sass/modules/admin/_article.scss */
.tb-toolbar {
  float: right;
  background: none;
  border: 1px solid #c8c8c8;
  color: #969696;
  border-radius: 40px;
  width: 28px;
  padding: 0;
  height: 28px;
}
/* line 493, sass/modules/admin/_article.scss */
.tb-toolbar span {
  line-height: 100%;
  font-size: 18px;
  font-weight: 100;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 499, sass/modules/admin/_article.scss */
.tb-toolbar:hover {
  border-color: grey;
  color: grey;
  cursor: pointer;
}
/* line 504, sass/modules/admin/_article.scss */
.tb-toolbar:focus {
  outline: none;
}

/* line 509, sass/modules/admin/_article.scss */
.ql-format-button {
  color: #fff;
  width: 32px;
  margin-right: 15px;
}
/* line 513, sass/modules/admin/_article.scss */
.ql-format-button:hover, .ql-format-button.ql-active {
  color: rgba(0, 0, 0, 0.5);
}

/* line 518, sass/modules/admin/_article.scss */
input.dis-input, select.dis-input {
  border: 1px solid #b9b9b9;
  border-radius: 2px;
  padding: 9px 8px;
  font-size: 12px;
  margin-right: 4px;
}

/* line 526, sass/modules/admin/_article.scss */
#id_section {
  width: 100%;
  max-width: 250px;
}

/* line 531, sass/modules/admin/_article.scss */
#id_slug, #id_short_headline {
  width: 100%;
  max-width: 350px;
}

/* line 536, sass/modules/admin/_article.scss */
img.featured-image {
  width: 100%;
  max-width: 300px;
}

/* line 541, sass/modules/admin/_article.scss */
div.tab {
  display: none;
  position: absolute;
  top: 52px;
  width: 100%;
  bottom: 0;
  overflow-y: auto;
}
/* line 548, sass/modules/admin/_article.scss */
div.tab.active {
  display: block;
}

/* line 553, sass/modules/admin/_article.scss */
div.save-buttons {
  padding: 0 40px;
}
/* line 555, sass/modules/admin/_article.scss */
div.save-buttons a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

/* line 562, sass/modules/admin/_article.scss */
input.full {
  width: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
}

/* line 569, sass/modules/admin/_article.scss */
input.image-search {
  width: 250px;
}

/* line 574, sass/modules/admin/_article.scss */
.image-meta .fa-check {
  display: none;
  width: 25px;
  height: 25px;
  margin-left: 10px;
  text-align: center;
  color: rgba(128, 128, 128, 0.5);
}

/* line 584, sass/modules/admin/_article.scss */
div.attachment-thumb {
  width: 110px;
  height: 110px;
  background-size: auto 100%;
  background-position: center;
}

/* line 592, sass/modules/admin/_article.scss */
#attachments-form input {
  min-width: 300px;
}

/* line 3, sass/modules/admin/_login.scss */
div.login-box input[type='text'], div.login-box input[type='password'] {
  border: 1px solid #E2E2E2;
  border-radius: 2px;
  padding: 0 8px;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  box-sizing: border-box;
}

/* line 13, sass/modules/admin/_login.scss */
div.login-box {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 350px;
}
/* line 19, sass/modules/admin/_login.scss */
div.login-box h1 {
  font-family: "lft-etica", "LFT Etica", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
/* line 25, sass/modules/admin/_login.scss */
div.login-box input[type='text'], div.login-box input[type='password'] {
  width: 100%;
  margin: 5px 0 15px 0;
}
/* line 29, sass/modules/admin/_login.scss */
div.login-box input[type='submit'] {
  font-family: "lft-etica", "LFT Etica", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  font-size: 11px;
  line-height: 35px;
  height: 35px;
  padding: 0 15px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #4A90E2;
  background: #4A90E2;
}
/* line 43, sass/modules/admin/_login.scss */
div.login-box input[type='submit']:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  background: #437FC5;
  border-color: #437FC5;
}
/* line 50, sass/modules/admin/_login.scss */
div.login-box label {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 3, sass/modules/admin/_forms.scss */
input, select {
  font-size: 14px;
}

/* line 8, sass/modules/admin/_forms.scss */
form h2 {
  margin: 25px 0;
  font-size: 18px;
}
/* line 12, sass/modules/admin/_forms.scss */
form div.field {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 15, sass/modules/admin/_forms.scss */
form div.field:first-child {
  margin-top: 0;
}
/* line 18, sass/modules/admin/_forms.scss */
form div.field label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 24, sass/modules/admin/_forms.scss */
form div.field input, form div.field textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #b9b9b9;
  border-radius: 2px;
  padding: 9px 8px;
  font-size: 12px;
  width: 100%;
  max-width: 350px;
  margin-bottom: 5px;
}
/* line 34, sass/modules/admin/_forms.scss */
form div.field textarea {
  line-height: 1.5em;
}
/* line 37, sass/modules/admin/_forms.scss */
form div.field input {
  margin-right: 10px;
}
/* line 39, sass/modules/admin/_forms.scss */
form div.field input:last-child {
  margin-right: 0;
}
/* line 43, sass/modules/admin/_forms.scss */
form div.field select {
  font-size: 12px;
  margin-bottom: 5px;
}
