{% extends 'manager/base.html' %}
{% block content %}
    {{ person.full_name }}<br/>
<form class="person-form"  action="" method="post">
    {% csrf_token %}
    {% for field in form %}
        {{ field.label }}
        {{ field }}<br/>
    {% endfor %}
    {% for entry in user_form %}
        {% for field in entry %}
            {{ field.label }}
            {{ field }}<br/>
        {% endfor %}
    {% endfor %}
    {{ user_form.management_form }}
    <input type="submit" />
</form>
{% endblock %}