.advertisement {

  &.leaderboard, &.box {
    .adslot {
      margin: 0 auto;
    }
  }

  // Desktop leaderboard ad
  &.leaderboard {
    &.homepage {
      padding-bottom: 0;
    }

    display: none;
    padding: 25px 0;
    text-align: center;

    @media($bp-larger-than-mobile){
      display: block;
      &.homepage {
        display: none;
      }
    }

    @media($bp-larger-than-tablet){
      &.homepage {
        display: block;
      }
    }

    .adslot {
      width: 728px;
      height: 90px;
    }
  }

  // Mobile leaderboard
  &.mobile-leaderboard {
    @media(min-width: 768px){
      display: none;
    }
  }

  // Desktop box
  &.box {
    .adslot {
      width: 300px;
      height: 250px;
    }
    &.sidebar {
      padding: 0;
    }
	
		&.inline {
			display: block;
			margin-top: 10px;
			margin-bottom: 10px;
				
			&.center {
				margin: 0 auto;
				@media($bp-larger-than-tablet) {
					margin: 40px 0;
					max-width: 585px;
				}
				
				&.fw-story {
					margin: 0 auto;
				}
			}
		
			&.left {
				float: left;
			}
		
			&.right {
				float: right;
			}
		}
  }

  // Full-width article ads
  &.fw-story {
    &.right, &.left, &.top {
      margin: 0 auto;
      display: none;
    }
    @media($bp-larger-than-phablet) {
      padding-top: 50px;
      &.right, &.top {
        float: right;
        padding-left: 40px;
      }
      &.left {
        float: left;
        padding-right: 30px;
      }
      &.top {
        display: none;
      }  
    }

    @media($bp-larger-than-mobile){
      &.right, &.left, &.top {
        display: block;
      }
    }
  }
}