div.profile {
  padding-top: 10px;
  padding-bottom: 20px;
}

div.profile-image {
  img {
    width: 100%;
    height: auto;
  }
  margin-bottom: 30px;
}

div.profile, div.filter, div.list article {
  padding-left: 20px;
  padding-right: 20px;
}

@media($bp-larger-than-phablet){


  div.profile, div.article-search, div.filter, div.list article {
    padding-left: 0;
    padding-right: 0;
  }

  div.profile-image {
    padding-right: 40px;
    margin-bottom: 0;
    img {
      width: 300px;
    }
  }
}

div.article-search {

  position: relative;

  label {
    position: absolute;
    width: 40px;
    text-align: center;
    line-height: 44px;
    font-size: 15px;
    color: #807E7E;
  }

  label, input {
    height: 40px;
  }

  input {
    line-height: 40px;
    border-radius: 3px;
    background: white;
    border: 1px solid #DADADA;
    width: 100%;
    padding: 0 12px 0 36px;
    line-height: 40px;
    font-size: 14px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);

    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    &:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
  }

}

div.article-archive {
  padding-top: 20px;
  border-top: 1px solid #E6E6E6;
  margin-bottom: 20px;

  div.filter {
    font-size: $font-size-14px;
    h3 {
      float: left;
    }
    div.dropdown {
      float: right;
      position: relative;
      > a {
        text-align: right;
        display: block;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 12px;
      }
      ul {
        display: none;
        position: absolute;
        right: 0;
        margin: 0;
        list-style-type: none;
        z-index: 500;
        background: #fff;
        border: 1px solid #CACACA;
        border-radius: 2px;
        width: 200px;
        padding: 8px 0;
        box-shadow: 0 3px 12px rgba(0,0,0,0.15);
        li a {
          display: block;
          padding: 6px 10px;
        }
      }
    }
  }

  div.more {
    color: grey;
    text-align: right;
  }


  div.blocks {
    margin: 20px -10px 0 -10px;
    overflow: auto;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

  }

  div.blocks article {

    box-sizing: border-box;
    padding: 0 10px 30px 10px;
      // v uncommented this
    min-width: 100%;
    flex: 0 0 33.33%;
    -webkit-flex: 0 0 33.33%;
    //float: left;
      
      // added this v
    @media($bp-larger-than-phablet) {
        min-width: 33.33%
    }

    a.image {
      margin-bottom: 15px;
    }

  }

  div.list {
    padding-top: 20px;
    article {
      overflow: auto;
      padding-bottom: 30px;
      border-bottom: 1px solid #E2E2E2;
      margin-bottom: 30px;
      a.image {
        display: block;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  div.pagination {
    font-size: $font-size-14px;
    text-align: center;
    span.current {
      margin: 0 10px;
    }
  }

  div.no-results {
    margin: 20px 0;
    text-align: center;
  }

  @media($bp-larger-than-tablet){
    div.list article a.image {
      float: left;
      margin-right: 15px;
      img {
        width: 200px;
      }
    }
  }
}