a.button, button {
  font-family: $font-default;
  display: inline-block;
  border-radius: 2px;
  color: #4E4D4D;
  font-size: 12px;
  font-weight: 600;
  line-height: 28px;
  padding: 0 12px;
  border-width: 1px;
  border-style: solid;
  text-decoration: none;
  background-color: #eee;
  border-color: #d5d5d5;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfc),color-stop(100%, #eeeeee));
  background-image: -moz-linear-gradient(#fcfcfc,#eeeeee);
  background-image: -webkit-linear-gradient(#fcfcfc,#eeeeee);
  background-image: linear-gradient(#fcfcfc,#eeeeee);

  margin-right: 8px;

  &:hover {
    cursor: pointer;
  }

  &:active, &:focus {
    outline: none;
  }

  &.large {
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    padding: 0 18px;
  }
}