@import 'modules/variables';
@import 'modules/fonts';

// BODY

body {
  font-family: $font-default;
  font-size: 14px;
  &.no-scroll {
    overflow-y: hidden;
  }
}

main {
  margin-top: 49px;
}

// ROWS AND COLUMNS

.row {
  overflow: auto;
  > .left {
    float: left;
  }

  > .right {
    float: right;
  }

  > .left.stack-mobile, > .right.stack-mobile {
    float: none;
  }

  @media($bp-larger-than-mobile){
    > .left.stack-mobile {
      float: left;
    }
    > .right.stack-mobile {
      float: right;
    }
  }
}

.col, .col-4, .col-8 {
  float: left;
}

.col-4 {
  width: 33.3%;
}

.col-8 {
  width: 66.3%;
}

// UTILITIES

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.hide-desktop {
  @media($bp-larger-than-phablet){
    display: none;
  }
}

// ANCHORS

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: rgb(0, 113, 201);
  }
}