// BODY

body {
  font-size: 14px;
  &.no-scroll {
    overflow-y: hidden;
  }
}

// ROWS AND COLUMNS

.row {
  overflow: auto;
  .left {
    float: left;
  }

  .right {
    float: right;
  }
}

.col, .col-4, .col-8 {
  float: left;
}

.col-4 {
  width: 33.3%;
}

.col-8 {
  width: 66.3%;
}

// UTILITIES

.clearfix {
  overflow: auto;
}

.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

.u-text-right {
  text-align: right;
}

// ANCHORS

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: rgb(0, 113, 201);
  }
}