// Font families
$font-default: 'ub-franklin-gothic', 'ITC Franklin Gothic Std', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-secondary: 'ub-lft-etica', 'LFT Etica', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-headline: 'ub-minion-pro', 'Minion Pro', 'Georgia', serif;
$font-body: 'Georgia', serif;

// Font sizes
$font-size-11px:  0.688em;
$font-size-14px:  0.875em;
$font-size-145px: 0.906em;
$font-size-15px:  0.938em;
$font-size-18px:  1.125em;
$font-size-21px:  1.313em;
$font-size-24px:  1.500em;
$font-size-26px:  1.625em;
$font-size-36px:  2.250em;