@font-face {
	font-family:'ub-minion-pro';
	src: url('fonts/MinionPro-Bold_gdi.eot');
	src: url('fonts/MinionPro-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/MinionPro-Bold_gdi.woff') format('woff'),
		url('fonts/MinionPro-Bold_gdi.ttf') format('truetype'),
		url('fonts/MinionPro-Bold_gdi.svg#MinionPro-Bold') format('svg');
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'ub-minion-pro';
	src: url('fonts/MinionPro-BoldIt_gdi.eot');
	src: url('fonts/MinionPro-BoldIt_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/MinionPro-BoldIt_gdi.woff') format('woff'),
		url('fonts/MinionPro-BoldIt_gdi.ttf') format('truetype'),
		url('fonts/MinionPro-BoldIt_gdi.svg#MinionPro-BoldIt') format('svg');
	font-weight: 800;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'ub-minion-pro';
	src: url('fonts/MinionPro-Regular_gdi.eot');
	src: url('fonts/MinionPro-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/MinionPro-Regular_gdi.woff') format('woff'),
		url('fonts/MinionPro-Regular_gdi.ttf') format('truetype'),
		url('fonts/MinionPro-Regular_gdi.svg#MinionPro-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'ub-minion-pro';
	src: url('fonts/MinionPro-It_gdi.eot');
	src: url('fonts/MinionPro-It_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/MinionPro-It_gdi.woff') format('woff'),
		url('fonts/MinionPro-It_gdi.ttf') format('truetype'),
		url('fonts/MinionPro-It_gdi.svg#MinionPro-It') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'ub-lft-etica';
	src: url('fonts/LFTEtica-Bold_gdi.eot');
	src: url('fonts/LFTEtica-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/LFTEtica-Bold_gdi.woff') format('woff'),
		url('fonts/LFTEtica-Bold_gdi.ttf') format('truetype'),
		url('fonts/LFTEtica-Bold_gdi.svg#LFTEtica-Bold') format('svg');
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'ub-lft-etica';
	src: url('fonts/LFTEtica-Regular_gdi.eot');
	src: url('fonts/LFTEtica-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/LFTEtica-Regular_gdi.woff') format('woff'),
		url('fonts/LFTEtica-Regular_gdi.ttf') format('truetype'),
		url('fonts/LFTEtica-Regular_gdi.svg#LFTEtica-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'ub-franklin-gothic';
	src: url('fonts/ITCFranklinGothicStd-Med_gdi.eot');
	src: url('fonts/ITCFranklinGothicStd-Med_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/ITCFranklinGothicStd-Med_gdi.woff') format('woff'),
		url('fonts/ITCFranklinGothicStd-Med_gdi.ttf') format('truetype'),
		url('fonts/ITCFranklinGothicStd-Med_gdi.svg#ITCFranklinGothicStd-Med') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'ub-franklin-gothic';
	src: url('fonts/ITCFranklinGothicStd-Book_gdi.eot');
	src: url('fonts/ITCFranklinGothicStd-Book_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/ITCFranklinGothicStd-Book_gdi.woff') format('woff'),
		url('fonts/ITCFranklinGothicStd-Book_gdi.ttf') format('truetype'),
		url('fonts/ITCFranklinGothicStd-Book_gdi.svg#ITCFranklinGothicStd-Book') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}