$font-default: 'ITC Franklin Gothic Std', 'Proxima Nova', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-secondary: 'LFT Etica', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-headline: 'MinionPro', 'Georgia', serif;

$font-size-11px: 0.78571428571em;
$font-size-145px: 1.03571428571em;
$font-size-15px: 1.07142857143em;
$font-size-26px: 1.85714285714em;

@font-face {
	font-family:'MinionPro';
	src: url('fonts/MinionPro-Bold_gdi.eot');
	src: url('fonts/MinionPro-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/MinionPro-Bold_gdi.woff') format('woff'),
		url('fonts/MinionPro-Bold_gdi.ttf') format('truetype'),
		url('fonts/MinionPro-Bold_gdi.svg#MinionPro-Bold') format('svg');
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'MinionPro';
	src: url('fonts/MinionPro-BoldIt_gdi.eot');
	src: url('fonts/MinionPro-BoldIt_gdi.eot?#iefix') format('embedded-opentype'),
		url('fonts/MinionPro-BoldIt_gdi.woff') format('woff'),
		url('fonts/MinionPro-BoldIt_gdi.ttf') format('truetype'),
		url('fonts/MinionPro-BoldIt_gdi.svg#MinionPro-BoldIt') format('svg');
	font-weight: 800;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}