footer {

  padding: 15px 0;
  line-height: 40px;

  border-top: 1px solid #DADADA;

  text-align: center;

  ul.sections {
    display: none;
  }
  @media($bp-960px){
    padding: 0;
    text-align: left;
    height: 66px;
    line-height: 66px;
    ul.sections {
      display: inline-block;
      margin-left: 15px;
      width: 90%; //
      float: left; //
    }
    a.home-link {
      display: inline-block;
      float: left;
    }
    ul.light {
      display: inline-block;
      float: left; //
      width: 200px; //
    }
    div.left {
      float: left;
      width: 60%; //
    }
    div.right {
      float: right;
      width: 360px; //
    }
    div.copyright {
      display: inline-block;
      margin-left: 30px;
    }
  }

  a.home-link {
    img {
      vertical-align: -8%;
      height: 20px;
      width: auto;
    }
  }

  ul li a, div.copyright {
    font-family: $font-default;
    font-size: 13px;
    font-weight: 300;
    color: #888;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0 8px;
      display: inline-block;
    }
    &.light {
      margin-left: 0;
      li {
        &:last-child {
          margin-right: 0;
        }
        a {
          font-weight: 300;
        }
      }
    }
  }

  &.homepage {
    background: none;
  }
}