@import 'fonts';
@import 'modules/variables';

// Main header

header.main, header.topbar {
  display: none;
  @media($bp-larger-than-tablet){
    display: block;
  }
}

div.branding {
  text-align: center;
  margin: 20px 0;
  .left, .right {
    width: 25%;
  }
  .left {
    text-align: left;
    line-height: 60px;
  }
  .left, .middle {
    float: left;
  }
  .middle {
    width: 50%;
  }
  .right {
    float: right;
  }
  h1.section-title {
    font-family: $font-default;
    font-size: 34px;
    margin: 0;
    line-height: 60px;
  }
  img.top-logo {
    width: 285px;
  }
  img.left-logo {
    width: 150px;
    margin-left: 20px;
    vertical-align: middle;
  }
}

nav.main {
  border-top: 2px solid #313131;
  border-bottom: 1px solid #D3D3D3;

  .inner {
    //padding: 15px 0px 13px 0;
  }

  .left, .middle, .right {
    float: left;
    line-height: 45px;
    vertical-align: middle;
    height: 47px;
  }

  .left, .right {
    width: 22%;
  }

  .right {
    text-align: right;
  }

  .middle {
    width: 56%;
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
    }

    &.sections {
      li {
        font-family: $font-default;//FranklinGothicURW-Med;
        font-size: $font-size-145px;
        font-weight: 500;
        color: #2B2B2B;
        margin: 0 10px;
        letter-spacing: 0.01em;
      }
    }

    &.meta {
      li {
        font-family: $font-default;//FranklinGothicURW-Boo;
        font-size: 13px;
        color: #33331E;

        margin: 0 20px;
      }
    }

    &.large {
      display: none;
    }
  }

  @media(min-width: 1080px){
    .left, .right {
      width: 27%;
    }
    .middle {
      width: 46%;
    }

    ul.large {
      display: block;
    }

    ul.small {
      display: none;
    }
  }
}

// Mobile & topbar header

header.topbar, header.mobile {
  width: 100%;
  z-index: 50;
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.99);
  border-bottom: 1px solid #DADADA;
}

header.topbar {
  height: 48px;
  line-height: 48px;
  .section-name {
      display: inline-block;
      margin-right: 10px;
      span {
        margin-left: 7px;
        font-family: $font-default;
        font-weight: 500;
        font-size: 12.5px;
        text-transform: uppercase;
        color: #33331E;
      }
  }

  &.header-article {
      display: none;
  }

  img.logo {
      vertical-align: middle;
      margin-top: -2px;
      height: 20px;
  }
  nav {
    display: none;
    @media($bp-larger-than-mobile){
      display: inline-block;
    }

    white-space: nowrap;
    vertical-align: top;
    font-family: $font-default;
    font-weight: 500;
    font-size: 14px;
    color: #373737;
    margin-left: 20px;
    ul {
      line-height: 48px;
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        padding: 0 15px;
        height: 45px;
        a {
          display: inline-block;
        }
        &.current, &:hover {
          border-bottom: 3px solid rgba(52, 144, 214, 1);
        }
      }
    }
  }

  h1.nav-headline {
      display: inline-block;
      white-space: nowrap;
      font-family: $font-default;
      font-size: 14px;
      font-weight: 500;
      color: #373737;
      line-height: 19px;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 10px;
  }
  a.icon-logo {
    display: inline-block;
    width: 20px;
    overflow: hidden;
    vertical-align: middle;
    margin-top: -2px;
  }
}

header.mobile {
  height: 54px;
  line-height: 54px;
  display: table;

  a.left, a.right, a.logo {
    display: table-cell;
    vertical-align: middle;
  }

  a.left, a.right {
    box-sizing: border-box;
    width: 30%;

    font-size: 20px;
    color: #303030;
  }

  a.left {
    padding-left: 25px;
  }

  a.right {
    padding-right: 25px;
    text-align: right;
  }

  a.logo {
    text-align: center;
    width: 40%;
    img {
      vertical-align: middle;
      width: 100%;
      max-height: 24px;
    }
  }
  @media($bp-larger-than-tablet){
    display: none;
  }
}

nav.mobile {
  display: none; // Initially
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.99); // Barely transparent
  border-bottom: 1px solid rgb(178,178,178);
  ul {
    list-style: none;
    padding: 10px 20px;
    margin: 0;
    li a {
      padding: 10px 0;
      display: block;
      font-weight: 500;
      font-size: 18px;
    }
  }
}

html.hairlines header.mobile,  html.hairlines nav.mobile {
  border-bottom: 0.5px solid rgb(178,178,178);
}