@import 'fonts';

// Main header

div.branding {
  text-align: center;
  margin: 20px 0;
  .left, .right {
    width: 25%;
  }
  .left {
    text-align: left;
    line-height: 60px;
  }
  .left, .middle {
    float: left;
  }
  .middle {
    width: 50%;
  }
  .right {
    float: right;
  }
  h1.section-title {
    font-family: $font-default;
    font-size: 34px;
    margin: 0;
    line-height: 60px;
  }
  img.top-logo {
    width: 285px;
  }
  img.left-logo {
    width: 150px;
    margin-left: 20px;
    vertical-align: middle;
  }
}

nav.main {
  border-top: 2px solid #313131;
  border-bottom: 1px solid #D3D3D3;
  //border: 1px solid #D3D3D3;
  //border-radius: 2px;
  .inner {
    //padding: 15px 0px 13px 0;
  }

  .left, .middle, .right {
    float: left;
    line-height: 45px;
    vertical-align: middle;
    height: 47px;
  }

  .left, .right {
    width: 27%;
  }

  .right {
    text-align: right;
  }

  .middle {
    width: 46%;
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
    }

    &.sections {
      li {
        font-family: $font-default;//FranklinGothicURW-Med;
        font-size: $font-size-145px;
        font-weight: 500;
        color: #2B2B2B;
        margin: 0 10px;
        letter-spacing: 0.01em;
      }
    }

    &.meta {
      li {
        font-family: $font-default;//FranklinGothicURW-Boo;
        font-size: 13px;
        color: #33331E;

        margin: 0 20px;
      }
    }
  }
}

// Topbar header


header.topbar {
  height: 48px;
  line-height: 48px;
  width: 100%;
  z-index: 50;
  position: fixed;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #DADADA;
  box-shadow: rgba(0,0,0,0.15) 0 0 3px 0;

  .section-name {
      display: inline-block;
      margin-right: 10px;
      span {
        margin-left: 7px;
        font-family: $font-default;
        font-weight: 500;
        font-size: 12.5px;
        text-transform: uppercase;
        color: #33331E;
      }
  }

  .header-article {
      display: none;
  }

  img.logo {
      vertical-align: middle;
      margin-top: -2px;
      height: 20px;
  }
  nav {
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
    font-family: $font-default;
    font-weight: 500;
    font-size: 14px;
    color: #373737;
    margin-left: 20px;
    ul {
      line-height: 48px;
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        padding: 0 15px;
        height: 45px;
        a {
          display: inline-block;
        }
        &.current, &:hover {
          border-bottom: 3px solid rgba(52, 144, 214, 1);
        }
      }
    }
  }

  h1.nav-headline {
      display: inline-block;
      white-space: nowrap;
      font-family: $font-default;
      font-size: 14px;
      font-weight: 500;
      color: #373737;
      line-height: 19px;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 10px;
  }
  a.icon-logo {
    display: inline-block;
    width: 20px;
    overflow: hidden;
    vertical-align: middle;
    margin-top: -2px;
  }
}