@import 'fonts';
@import 'modules/variables';

// Main header

header.main, header.topbar {
  display: none;
  @media($bp-larger-than-tablet){
    display: block;
  }
}

div.branding {
  margin: 20px 0;
  height: 50px;
  overflow: hidden;

  .left, .middle, .right {
    display: inline-block;
    height: 100%;
    line-height: 50px;
  }

  .left, .right {
    width: 30%;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .middle {
    width: 40%;
    text-align: center;
  }

  .right {
    text-align: right;
    a {
      margin-right: 20px;
      font-size: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  span.since-line {
    font-size: 13px;
    color: #7D7D7D;
  }

  h1.section-title {
    font-family: $font-default;
    font-size: 34px;
    margin: 0;
    line-height: 60px;
  }
  img.top-logo {
    width: 285px;
  }
  img.left-logo {
    width: 150px;
    margin-left: 20px;
    vertical-align: middle;
  }
}

nav.main {
  border-top: 2px solid #313131;
  border-bottom: 1px solid #D3D3D3;

  .inner {
    //padding: 15px 0px 13px 0;
  }

  .left, .middle, .right {
    float: left;
    line-height: 45px;
    vertical-align: middle;
    height: 47px;
  }

  .left, .right {
    width: 22%;
  }

  .right {
    text-align: right;
  }

  .middle {
    width: 56%;
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
    }

    &.sections {
      li {
        font-family: $font-default;//FranklinGothicURW-Med;
        font-size: $font-size-145px;
        font-weight: 500;
        color: #2B2B2B;
        margin: 0 10px;
        letter-spacing: 0.01em;
      }
    }

    &.meta {
      li {
        font-family: $font-default;//FranklinGothicURW-Boo;
        font-size: 13px;
        color: #33331E;
        margin: 0 15px;
      }
    }

    &.large {
      display: none;
    }
  }

  @media(min-width: 1080px){
    .left, .right {
      width: 27%;
    }
    .middle {
      width: 46%;
    }

    ul.large {
      display: block;
    }

    ul.small {
      display: none;
    }
  }
}

// Mobile & topbar header

header.topbar, header.mobile {
  width: 100%;
  z-index: $z-scale-2;
  position: fixed;
  top: 0;
}

header.topbar {
  height: 54px;
  line-height: 48px;
  background: rgba(255, 255, 255, 0.99);
  border-bottom: 1px solid #DADADA;
  .section-name {
      display: inline-block;
      margin-right: 10px;
      span {
        margin-left: 7px;
        font-family: $font-default;
        font-weight: 500;
        font-size: 12.5px;
        text-transform: uppercase;
        color: #33331E;
      }
  }

  &.header-article {
      display: none;
  }

  img.logo {
      vertical-align: middle;
      height: 20px;
  }

  nav {
    display: none;
    @media($bp-larger-than-phablet){
      display: inline-block;
    }

    white-space: nowrap;
    vertical-align: top;
    font-family: $font-default;
    font-weight: 500;
    font-size: 14px;
    color: #373737;
    margin-left: 20px;
    ul {
      line-height: 48px;
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        padding: 0 15px;
        height: 45px;
        a {
          display: inline-block;
        }
        &.current, &:hover {
          border-bottom: 3px solid rgba(52, 144, 214, 1);
        }
      }
    }
  }

  h1.nav-headline {
    display: inline-block;
    position: fixed;
    top: 16px;
    white-space: nowrap;
    font-family: $font-default;
    font-size: 14px;
    font-weight: 500;
    color: #373737;
    line-height: 19px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
  }
  a.icon-logo {
    display: inline-block;
    width: 20px;
    overflow: hidden;
    vertical-align: middle;
  }
}

header.mobile {
  height: 54px;
  line-height: 54px;
  border-bottom: 1px solid #DADADA;

  a.left, a.right, a.logo {
    position: absolute;
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.99);
  }

  a.left, a.right {
    top: 0;
    bottom: 0;
    z-index: 600;

    box-sizing: border-box;
    font-size: 20px;
    color: #303030;

    padding: 0 25px;

    &.active {
      background: rgba(249, 249, 249, 0.99);
      bottom: -1px;
    }
  }

  a.left {
    left: 0;
    border-right: 1px solid transparent;
    &.active {
      border-right: 1px solid #DADADA;
    }
  }

  a.right {
    right: 0;
    border-left: 1px solid transparent;
    &.active {
      border-left: 1px solid #DADADA;
    }
  }

  a.logo {
    width: 100%;
    z-index: 500;
    text-align: center;
    img {
      vertical-align: middle;
      width: 100%;
      max-height: 24px;
    }
  }
  @media($bp-larger-than-tablet){
    display: none;
  }
}

nav.mobile {
  display: none; // Initially
  position: fixed;
  width: 100%;
  background: rgba(249, 249, 249, 0.99); // Barely transparent
  border-bottom: 1px solid rgb(178,178,178);
  overflow: auto;
  padding: 10px 20px;
  z-index: 200;
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li a {
      padding: 10px 0;
      display: block;
      font-weight: 500;
      font-size: 16px;
    }
  }
  .left, .right {
    float: left;
    width: 50%;
  }
  h3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #5D5D5D;
  }
}

html.hairlines {
  header.mobile, nav.mobile {
    border-bottom: 0.5px solid rgb(178,178,178);
  }
  nav.mobile, #search-form {
    margin-top: -0.5px;
  }
}