

// Headlines

h1, h2, h3, h4, h5 {
  &.headline {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: $font-headline;
    font-weight: 800;
    line-height: 1.1em;
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        color: rgb(0, 113, 201);
      }
    }
  }

  &.basic {
    font-family: $font-default;
    font-weight: 500;
    margin: 0;
  }

  @media($bp-larger-than-phablet){
    &.headline {
      line-height: 1.3em;
      margin: 7px 0;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

h1 {
  font-weight: 600;
  margin: 18px 0;
  font-size: $font-size-36px;
}

h2 {
  font-weight: 200;
  font-size: $font-size-24px;
}

h1.basic {
  font-size: 36px;
}

h2.headline {
  font-size: $font-size-21px;
  line-height: 1.3em;
}

h3.headline {
  font-size: 24px;
}

h4.headline {
  font-size: 18px;
}

@media($bp-larger-than-phablet){
  h4.headline {
    font-size: 20px;
  }
}