@import 'fonts';

img.featured {
  width: 100%;
}

div.homepage-section {
  @media($bp-larger-than-phablet){
    padding-bottom: 25px;
    border-bottom: 1px solid #E6E6E6;
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
    }
    &.row {
      display: table;
    }
  }
}

div.frontpage-container {
  @media($bp-larger-than-phablet){
    padding-top: 20px;
  }
  @media($bp-larger-than-tablet){
    display: table;
    margin-top: 20px;
    padding-top: 0;
  }
}

div.frontpage {

  display: table-row;

  div.cell {
    vertical-align: top;
    box-sizing: border-box;

    &.left {

      display: table-footer-group;

      padding-right: 15px;
      article, ul.article-headlines {
        border-bottom: 1px dotted #C8C8C8;
      }
      ul.article-headlines {
        display: none;
      }
    }

    &.middle {

      display: table-header-group;

      width: 42%;
      padding: 0 15px;
      border-right: 1px solid #E6E6E6;
    }



  }



  article, li {

    &.primary {
      border-bottom: 1px dotted #C8C8C8;
      img {
        width: 100%;
      }
      h1 {
        margin-top: 15px;
        margin-bottom: 10px;
        font-size: 28px;
      }
    }
    &.secondary {
      h2 {
        margin-top: 0;
        font-size: 28px;
        margin-bottom: 10px;
      }
    }

    &.thumb {
      .image {
        float: right;
        margin-left: 15px;
        width: 35%;
        img {
          width: 100%;
        }
      }
    }

    @media($bp-larger-than-phablet){
      &.primary {
        border-bottom: none;
        h1.headline {
          margin: 12px 0;
        }
        &.fw-story {
          text-align: center;
          h1 {
            margin-top: 15px;
            margin-bottom: 0;
          }
        }
      }
      &.secondary {
        h2.headline {
          margin: 0;
        }
      }
      &.thumb {
        span.byline {
          display: none;
        }
        h2 {
          font-size: 1.125em;
          margin: 0;
        }
        .image {
          float: left;
          margin-left: 0;
          margin-right: 15px;
        }
      }
    }

  }
}

@media($bp-larger-than-tablet){
  div.frontpage div.cell {
    display: table-cell;
    &.left, &.right {
      width: 29%;
    }
    &.right {
      display: table-cell;
      padding-left: 15px;
    }
    &.left, &.middle {
      display: table-cell;
    }
    &.left {
      border-right: 1px solid #E6E6E6;
      article, ul.article-headlines {
        padding-top: 15px;
        padding-bottom: 15px;
        h2.headline {
          margin-bottom: 5px;
        }
        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          border-bottom: none;
        }
      }
      ul.article-headlines {
        display: block;
      }
    }
  }
}


// Tablet Only

@media only screen
  and (min-width: $bp-phablet)
  and (max-width: $bp-tablet){

  div.frontpage div.cell {

    &.left {
      width: 40%;
      float: right;
      padding-right: 0;
      padding-left: 15px;
      article, ul.article-headlines {
        padding-top: 15px;
        padding-bottom: 15px;
        h2.headline {
          margin-bottom: 5px;
        }
        &:first-child {
          padding-top: 0;
        }
        &:last-of-type {
          border-bottom: 1px dotted #C8C8C8;
        }
      }
    }

    &.middle {
      width: 60%;
      float: left;
      padding-left: 0;
    }

    &.right {
      display: none;
    }

  }

  div.sidebar-home {
    display: none;
  }

}

article.padded, article div.meta {
  padding: 20px 15px;
  @media($bp-larger-than-phablet){
    padding: 0;
  }
}

article div.meta {
  padding-top: 0;
}

// Homepage sections

div.sections {

  section.homepage {
    width: 100%;

    .left, .right {
      box-sizing: border-box;
    }
    &.section-1 {
      article.section-xl {
        border-bottom: 1px dotted #C8C8C8;
      }
      .left, .right {
        display: block;
      }
    }
  }

  @media($bp-larger-than-mobile){

    section {
      box-sizing: border-box;
      padding-bottom: 25px;
      &:last-child {
        border: none;
      }
      border-bottom: 1px solid #E0E0E0;
    }

    section.homepage {
      &.section-1 {
        display: table;
        article.section-xl {
          border-bottom: none;
          h3.headline {
            margin-top: 15px;
            margin-bottom: 0;
          }
        }
        .left, .right {
          display: table-cell;
          vertical-align: top;
        }
        .left {
          width: 50%;
          padding-right: 15px;
        }
        .right {
          width: 50%;
          border-left: 1px solid #E6E6E6;
          padding-left: 15px;
        }
      }
    }
  }

  @media($bp-larger-than-tablet){
    display: table-cell;
    vertical-align: top;

    box-sizing: border-box;

    border-right: 1px solid #E6E6E6;
    padding-right: 20px;
  }

  @media($bp-larger-than-desktop){

    section.homepage.section-1 {
      .left {
        width: 60%;
      }
      .right {
        width: 40%;
      }
    }

  }
}

// Section header



h1.section, h2.title, h2.block-title {
  font-weight: 700;
  text-align: center;
  font-family: $font-secondary;
  text-transform: uppercase;
  font-size: 1.125em;
  border-style: solid;
  border-color: #DDD;
  border-width: 1px 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px 0;

}

html.hairlines {
  h1.section, h2.title {
    border-width: 0.5px 0;
  }
}

@media($bp-larger-than-phablet){
  h1.section {
    font-family: $font-secondary;
    font-size: 26px;
    color: #242424;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 25px 0;

    border: none;
    text-align: left;
    padding: 0;

    &:first-child {
      margin-top: 0;
    }
  }
  h2.title {
    padding: 10px 0;
  }
}

// Section articles

article.section-top {
  border-bottom: 1px dotted #E0E0E0;
  @media($bp-larger-than-phablet){
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #E0E0E0;
    .left {
      width: 40%;
      margin-right: 20px;
    }
  }

}

// Stacked articles (used in .section-1)
article.stacked {
  border-bottom: 1px dotted #C8C8C8;
  &:last-of-type {
    border: none;
    margin-bottom: 0;
  }
  @media($bp-larger-than-phablet){
    padding-bottom: 15px;
    margin-bottom: 15px;
    &:last-of-type {
      border-bottom: 1px dotted #C8C8C8;
      padding-bottom: 15px;
      margin-bottom: 15px;
    }
  }
}

// Headline bullets
ul.article-headlines {
  padding-left: 22px;
  margin: 0;
  display: none;
  li {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      display: block;
    }
    h2 {
      font-size: 16px;
      font-weight: 800;
      margin: 0;
    }
  }
  @media($bp-larger-than-phablet){
    display: block;
  }
}

div.featured-image-container {
  display: none;
}

article.col {
  border-bottom: 1px dotted #C8C8C8;
  &:last-child {
    border-bottom: none;
  }
}

@media($bp-larger-than-phablet){
  article.col {
    box-sizing: border-box;
    float: left;
    width: 33.3%;
    padding: 0 10px;
    border-bottom: none;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    h4.headline {
      margin: 0;
      font-size: 1.125em;
    }
  }
}
@media($bp-larger-than-desktop){
  // Featured image
  div.featured-image-container {
    display: block;
    overflow: hidden;
    float: left;
    width: 72px;
    height: 72px;
    margin-right: 12px;
    margin-bottom: 5px;
    div.featured {
      width: auto;
      height: 100%;
      background-position: center;
      background-size: cover;
    }
  }
}

p.snippet {
  font-family: $font-default;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5em;
  color: #6B6B6B;
  @media($bp-larger-than-phablet){
    font-size: 13.5px;
  }
}

span.byline {
  font-family: $font-default;
  font-weight: 500;
  margin: 10px 0;
  span.author {
    font-size: 0.9em;
  }
  span.published {
    color: #777;
    font-size: 0.85em;
  }
  display: none;
}

p.snippet span.timestamp {
  font-family: $font-default;
  color: #0071C9;
  font-weight: 500;
  font-size: 13px;
  margin-right: 8px;

}

@media($bp-larger-than-phablet){
  span.byline {
    display: block;
  }
}

// Multi-zone

div.multi-zone {
  article.featured {
    img.featured-image {
      width: 75%;
    }
  }
  @media($bp-larger-than-phablet){
    h2.title {
      border-style: dotted;
      border-color: #C8C8C8;
      font-size: 14px;

    }
  }
  .sidebar-block {
	  a {
			display: block;
			margin: 0 auto;
			text-align: center;
	  }
		
		img {
			display: block;
			margin: 0 auto;
		}
	  
  }
}

// Sidebar

div.sidebar-home {

  .sidebar-block {
    padding-bottom: 25px;
  }

  @media($bp-larger-than-tablet){

    padding-left: 20px;
    vertical-align: top;
    display: table-cell;
    width: 300px;

    h2.block-title {
      margin-top: 0;
      text-align: center;
      font-family: $font-secondary;
      text-transform: uppercase;
      font-size: 14px;
    }
  }

  @media($bp-larger-than-desktop){

    box-sizing: border-box;
    width: 353px;
    //width: 29%;
  }
}

div.advertisement {
  border-top: 1px solid #E6E6E6;
  padding: 25px 0;
  &.box {
    text-align: center;
  }
  &:first-child {
    border-top: none;
    paddding-top: 0;
  }
}

ul.article-list, ol.article-list {

  margin: 0;
  padding: 0;
  list-style-type: none;

  > li {
    padding: 20px 15px;
    border-bottom: 1px dotted #C8C8C8;
    h4.headline {
      font-family: $font-headline;
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 17px;
    }
    a {
      display: block;
    }
    &:last-child {
      border-bottom: none;
    }

  }
}

ul.article-list {
  > li {
    display: block;
    overflow: auto;
    div.featured-image-container {
      margin-bottom: 0;
    }
  }
}

ol.article-list {
  counter-reset: ol-counter;
  padding: 15px;
  > li {
    h4.headline {
      font-weight: normal;
      margin-bottom: 0;
    }
    margin: 18px 0;
    position: relative;
    padding-top: 0;
    padding-bottom: 15px;
    padding-left: 40px;
    a {
      display: inline-block;
    }
    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0;
    }
    &:before {
      font-family: $font-default;
      font-weight: 600;
      letter-spacing: 0.75px;
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      font-size: 15px;
      line-height: 24px;
      text-align: center;
      color: rgb(50,50,50);
      content: counter(ol-counter) ".";
      counter-increment: ol-counter;
    }

  }
}

@media($bp-larger-than-phablet){
  ol.article-list {
    padding: 15px 0 0 0;
  }
  ul.article-list > li  {
    padding: 20px 0;
  }
}
