a.search {
  float: right;
}

#search-form {
  display: none;
  position: fixed;
  width: 100%;
  z-index: $z-scale-1;

  .container {
    padding: 20px;
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.2);
    background: rgba(249, 249, 249, 0.99);
    border-bottom: 1px solid #CBCBCB;
  }

  form {
    label {
      position: absolute;
      height: 40px;
      line-height: 44px;
      width: 40px;
      text-align: center;
      font-size: 18px;
      color: #B1B1B1;
    }
  }

  #search-bar {
    padding-left: 40px;
    box-sizing: border-box;
    height: 40px;
    font-size: $font-size-14px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #D8D8D8;

    &:focus {
      outline: none;
    }

    &.open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  ul.results {
    display: none;
    &.open {
      display: block;
    }
    list-style-type: none;
    padding: 20px 0;
    margin: 0;
    li {
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media($bp-larger-than-tablet){
    .container {
      padding: 0;
      max-width: 960px;
      border-radius: 5px;
      margin-top: 50px;
      background: #fff;
    }
    form label {
      height: 60px;
      line-height: 65px;
      width: 60px;
      font-size: 24px;
    }
    #search-bar {
      padding-left: 55px;
      height: 60px;
      line-height: 60px;
      font-size: 18px;
      border-radius: 5px;
    }
    ul.results {
      border: 1px solid #D8D8D8;
      border-top: none;
      padding: 20px;
    }
  }
}