main.section {
  h1.section {
    margin: 0;
  }
  article.section-top {
    border-top: 1px solid #E6E6E6;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-top: 20px;
  }
}