// Social/share icons

ul.social {
  margin-top: 25px;
  margin-bottom: 0;

  padding: 0;
  list-style-type: none;

  li a {
    font-family: $font-default;
    font-size: $font-size-14px;
    font-weight: 500;
    i, span {
      vertical-align: middle;
    }
    i {
      font-size: $font-size-18px;
      margin-right: 8px;
    }
  }

  li a span {
    display: none;
  }

  @media($bp-larger-than-mobile){
    margin-top: 0;
    li a span {
      display: inline;
    }
  }


  &.dots {
    li {
      margin-right: 5px;
      display: inline-block;
      a {
        font-size: $font-size-18px;
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 20px;
        color: #fff;
        text-align: center;
        background: #ABABAB;
        span {
          display: none;
        }
        i {
          margin-right: 0;
        }
      }
    }

    .facebook {
      background: #3A4E95;
    }

    .twitter {
      background: #55ACD2;
    }

    .pinterest {
      background: #EE0000;
    }

  }

  &.top {
    width: 90px;
    @media($bp-larger-than-phablet) {
      width: 166px;
    }
    
    li {
      display: inline-block;
      margin-right: 15px;
    }

    @media($bp-larger-than-mobile){
      float: right;
      li {
        margin-right: 0;
        margin-left: 20px;
      }
    }
  }

  &.left {
    @media($bp-larger-than-mobile){
      float: left;
    }
    li {
      display: inline-block;
      padding: 0px 15px 0px;
      //border-top: 1px solid #E4E4E4;
      margin: 0;
    }
  }
}