// Breakpoints
$bp-larger-than-mobile    : "min-width: 401px" !default;
$bp-smaller-than-mobile   : "max-width: 400px" !default;

$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 960px" !default;

$bp-larger-than-desktop   : "min-width: 1200px" !default;
$bp-larger-than-desktophd : "min-width: 1400px" !default;

$bp-phablet               : "550px";
$bp-tablet                : "960px";

$bp-960px                 : "min-width: 960px" !default;


// Colors

$color-ub-blue: #3A6BCC;

// Z-Index Scale

$z-scale-1: 100;
$z-scale-2: 200;
$z-scale-3: 300;
$z-scale-4: 400;
$z-scale-5: 500;