div.branding {
  text-align: center;
  margin: 15px 0;

  img.top-logo {
    width: 285px;
  }
}


nav.main {
  border-top: 2px solid #33331E;
  border-bottom: 1px solid #B3B3B3;
  .inner {
    padding: 17px 0px 15px 0;
  }

  .left, .middle, .right {
    float: left;
  }

  .left, .right {
    width: 27%;
  }

  .right {
    text-align: right;
  }

  .middle {
    width: 46%;
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
    }

    &.sections {
      li {
        font-family: FranklinGothicURW-Med;
        font-size: 16px;
        color: #2B2B2B;
        margin: 0 10px;
      }
    }

    &.meta {
      li {
        font-family: FranklinGothicURW-Boo;
        font-size: 14px;
        color: #33331E;

        margin: 0 20px;
      }
    }
  }
}