$font-default: 'ub-franklin-gothic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-secondary: 'ub-lft-etica', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-headline: 'ub-minion-pro', 'Georgia', serif;
$font-body: 'Georgia', serif;

$font-size-11px: 0.78571428571em;
$font-size-145px: 1.03571428571em;
$font-size-15px: 1.07142857143em;
$font-size-26px: 1.85714285714em