{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% include 'headers/topbar.html' %}
    {% include 'headers/mobile.html' %}
    <main class="404">
        <div class="container padded">
            <h1>Where do you think you’re going?</h1>
            <h2>The page you’re looking for doesn’t exist. Make sure you entered the correct URL, or try searching our site.</h2>
            <div class="article-search">
                <form method="get" action="{% url 'search' %}">
                <label for="author-search"><i class="fa fa-search"></i></label>
                <input name="q" type="text" {% if q %}value="{{ q }}"{% endif %} placeholder="Search ubyssey.ca" />
                </form>
            </div>
        </div>
    </main>
{% endblock %}
