{% extends 'base.html' %}
{% load dispatch_filters %}
{% block content %}
<header class="topbar">
    <div class="container">
        <div class="header-site">
            <img class="logo" src="{{ STATIC_DIR }}img/ubyssey_logo.png" type="text/css"/>
            <nav>
                <ul>
                    <li>News</li>
                    <li>Culture</li>
                    <li>Opinion</li>
                    <li>Features</li>
                    <li>Sports</li>
                    <li>Blog</li>
                </ul>
            </nav>
        </div>
        <div class="header-article">
            <div class="section-name">
                <img class="logo" src="{{ STATIC_DIR }}img/ubyssey_icon.png" type="text/css"/>
                <span>{{ article.section.name }}</span>
            </div>
            |
            <h1 class="nav-headline">
                {{ article.long_headline }}</li>
            </h1>
        </div>
    </div>
</header>
<main class="article">
    <div class="advertisement leaderboard">
        <img src="{{ STATIC_DIR }}img/sample-leaderboard-ad.png" />
    </div>
    <article data-id="{{ article.id }}">
        <h1 class="headline">{{ article.long_headline }}</h1>
        <div class="article-info">
            <div class="author-published">
                <span class="author">By {{ article.get_author_string }}</span> &nbsp;&middot;&nbsp; <span class="published">{{ article.published_at }}</span>
            </div>
        </div>
        <div class="right-column">
            {% if article.featured_image %}
            <div class="featured-image">
                <img class="article-attachment" data-id="{{ article.featured_image.id }}" src="http://dispatch.dev:8888/media/{{ article.featured_image.image.img }}"/>
                <div class="caption">
                    {{ article.featured_image.caption }} <span class="credit">Photo {{ article.featured_image.image.authors.all.0 }} / The Ubyssey</span>
                </div>
            </div>
            <div class="sidebar offset">
            {% else %}
            <div class="sidebar">
            {% endif %}
                <img src="{{ STATIC_DIR }}img/sample-box-ad.png" />
            </div>
        </div>
        <div class="article-content">
            {{ article.get_html|safe }}
        </div>
    </article>
</main>

<div class="slideshow">
    <div class="image-container">
        <div class="image-inner">
            <div class="slide">
                <img class="slide-image" />
                <p class="slide-caption"></p>
                <div class="navigation">
                    <a class="prev-slide" href="#"><i class="fa fa-chevron-left"></i></a>
                    <span class="curr-slide"></span> &nbsp; of &nbsp; <span class="total-slide"></span>
                    <a class="next-slide" href="#"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="gallery">
</div>
{% endblock %}
{% block scripts %}
<script src="{{ STATIC_DIR }}js/article.js" type="text/javascript"></script>
{% endblock %}

<!-- Article-specific scripts -->
{% for s in article.scripts.all %}
<script src="http://dispatch.dev:8888/resources/js/{{ s.filename }}"></script>
{% endfor %}