{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    {% include 'headers/topbar.html' %}
    <main class="search">
        <div class="container padded">
            <h1>{% if q %}Search results for “{{ q }}”{% else %}Search{% endif %}</h1>
            <div class="article-search">
                <form method="get" action="{% url 'search' %}">
                <label for="author-search"><i class="fa fa-search"></i></label>
                <input name="q" id="author-search" type="text" {% if q %}value="{{ q }}"{% endif %} placeholder="Search author archive" />
                </form>
            </div>
            {% if q %}
            <div class="article-archive">
                <div class="filter clearfix">
                    {% if articles|length > 0 %}<h3 class="basic uppercase">{{ count }} result{% if count != 1 %}s{% endif %} for “{{ q }}”</h2>{% endif %}
                    <div class="dropdown">
                        <a href="#">{{ order|title }} <i class="fa fa-caret-down"></i></a>
                        <ul>
                            <li><a href="{% url 'search' %}?{% if q %}q={{ q }}&{% endif %}order=newest">Newest</a></li>
                            <li><a href="{% url 'search' %}?{% if q %}q={{ q }}&{% endif %}order=oldest">Oldest</a></li>
                        </ul>
                    </div>
                </div>
                {% if articles|length > 0 %}
                <div class="list">
                {% for article in articles %}
                    <article>
                        {% if article.featured_image %}
                        <a href="{{ article.get_absolute_url }}" class="image">
                            <img src="{{ article.featured_image.image.get_absolute_url }}" />
                        </a>
                        {% endif %}
                        <a href="{{ article.get_absolute_url }}"><h2 class="headline">{{ article.headline|safe }}</h2></a>
                        <span class="byline"><span class="author">By {{ article.get_author_url|safe }}</span> &nbsp;·&nbsp; <span class="published">{{ article.published_at }}</span></span>
                        <p class="snippet">{{ article.snippet|safe }}</p>
                    </article>
                {% endfor %}
                </div>
                <div class="pagination">
                    <span class="step-links">
                        {% if articles.has_previous %}
                            <a class="button large" href="?q={{ q }}&page={{ articles.previous_page_number }}">Previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ articles.number }} of {{ articles.paginator.num_pages }}
                        </span>

                        {% if articles.has_next %}
                            <a class="button large" href="?q={{ q }}&page={{ articles.next_page_number }}">Next</a>
                        {% endif %}
                    </span>
                </div>
                {% else %}
                <div class="no-results">No articles found.</div>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
