{% extends 'base.html' %}
{% load humanize %}
{% load staticfiles %}
{% block content %}
{% include 'headers/topbar.html' with section=section.slug %}
{% include 'headers/mobile.html' %}
    <main class="section" data-id="{{ section.id }}" data-type="{{ type }}">
        <div class="advertisement leaderboard">
            <div class="adslot" data-size="leaderboard" data-dfp="Front_leaderboard_728x90" id="div-gpt-ad-1400538648567-10"></div>
        </div>
        <div class="container">
            <h1 class="section">{{ section.name }}</h1>
            <article class="section-top row padded">
                {% with articles.first as article %}
                    <div class="left stack-mobile">
                        <a class="image" href="{{ article.get_absolute_url }}"><img class="featured" src="{{ article.featured_image.image.get_medium_url }}" /></a>
                    </div>
                    <div>
                        <h1 class="headline"><a href="{{ article.get_absolute_url }}">{{ article.headline|safe }}</a></h1>
                        <span class="byline"><span class="author">By {{ article.get_author_string }}</span> &nbsp;&middot;&nbsp; <span class="published">{{ article.published_at }}</span></span>
                        <p class="snippet"><span class="timestamp hide-desktop">{{ article.published_at|naturaltime }}</span>{{ article.snippet|safe }}</p>
                    </div>
                {% endwith %}
            </article>
            <div class="article-archive">
                <h3 class="basic uppercase">Recent Articles</h2>
                <div class="blocks">
                {% for article in articles.rest|slice:":6" %}
                    <article>
                        {% if article.featured_image %}
                        <a href="{{ article.get_absolute_url }}" class="image image-aspect-4-3">
                            <div style="background-image: url('{{ article.featured_image.image.get_medium_url }}')"></div>
                        </a>
                        {% endif %}
                        <a href="{{ article.get_absolute_url }}"><h2 class="headline">{{ article.headline|safe }}</h2></a>
                        <span class="byline"><span class="author">By {{ article.get_author_string }}</span> &nbsp;·&nbsp; <span class="published">{{ article.published_at }}</span></span>
                        <p class="snippet">{{ article.snippet|safe }}</p>
                    </article>
                {% endfor %}
                </div>
                <div id="article-loader"></div>
            </div>
        </div>
    </main>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/dist/section.js' %}" type="text/javascript"></script>
{% endblock %}