/* line 4, ../sass/modules/core.scss */
body.no-scroll {
  overflow-y: hidden;
}

/* line 11, ../sass/modules/core.scss */
.row {
  overflow: auto;
}
/* line 13, ../sass/modules/core.scss */
.row .left {
  float: left;
}
/* line 17, ../sass/modules/core.scss */
.row .right {
  float: right;
}

/* line 22, ../sass/modules/core.scss */
.col, .col-4, .col-8 {
  float: left;
}

/* line 26, ../sass/modules/core.scss */
.col-4 {
  width: 33.3%;
}

/* line 30, ../sass/modules/core.scss */
.col-8 {
  width: 66.3%;
}

/* line 36, ../sass/modules/core.scss */
.clearfix {
  overflow: auto;
}

/* line 43, ../sass/modules/core.scss */
a {
  color: inherit;
  text-decoration: none;
}
/* line 46, ../sass/modules/core.scss */
a:hover {
  color: #0071c9;
}
