$ui-font-helvetica: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; //"Helvetica Neue", Helvetica, Arial, sans-serif;
$ui-font-lft-etica: "lft-etica", "LFT Etica", Helvetica, Arial, sans-serif;
$ui-font-source-sans: "Source Sans Pro", $ui-font-helvetica;