{% load staticfiles %}
<header class="main">
    <div class="container large">
        <div class="branding row">
            <div class="left"><span class="since-line">UBC’s student newspaper since 1918</span></div>
            <div class="middle">
                <img class="top-logo" src="{% static 'img/ubyssey-logo.svg' %}" />
            </div>
            <div class="right">
                <a href="https://www.facebook.com/ubyssey"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/Ubyssey"><i class="fa fa-twitter"></i></a>
                <a class="search" href="{% url 'search' %}"><i class="fa fa-search"></i></a>
            </div>
        </div>
        <nav class="main">
            <div class="inner row">
                <div class="left">
                    <ul class="meta">
                        <li>{% now "F j, Y" %}</li>
                    </ul>
                </div>
                <div class="middle">
                    <ul class="sections">
                        <li><a href="{% url 'page' 'news' %}">News</a></li>
                        <li><a href="{% url 'page' 'culture' %}">Culture</a></li>
                        <li><a href="{% url 'page' 'features' %}">Features</a></li>
                        <li><a href="{% url 'page' 'opinion' %}">Opinion</a></li>
                        <li><a href="{% url 'page' 'sports' %}">Sports</a></li>
                        <li><a href="{% url 'page' 'blog' %}">Blog</a></li>
						<li><a class="topic" href="{% url 'topic' 436 %}">AMS Elections</a></li>
                    </ul>
                </div>
                <div class="right">
                    <ul class="meta large">
                        <li><a href="{% url 'page' 'volunteer' %}">Volunteer</a></li>
                        <li><a href="{% url 'page' 'about' %}">About</a></li>
                        <li><a href="{% url 'page' 'contact' %}">Contact</a></li>
                    </ul>
                    <ul class="meta small">
                        <li><a href="{% url 'page' 'volunteer' %}">Volunteer</a></li>
                        <li><a href="{% url 'page' 'about' %}">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
