{% load staticfiles %}
<header class="mobile">
    <a class="menu left" href="#"><i class="fa fa-bars"></i></a>
    <a class="logo" href="{% url 'home' %}"><img src="{% static 'img/ubyssey-logo-small.svg' %}" type="text/css"/></a>
    <a class="search right" href="{% url 'search' %}"><i class="fa fa-search"></i></a>
</header>
<nav class="mobile">
    <div class="left">
        <h3>Sections</h3>
        <ul class="sections">
            <li><a href="{% url 'page' 'news' %}">News</a></li>
            <li><a href="{% url 'page' 'culture' %}">Culture</a></li>
            <li><a href="{% url 'page' 'features' %}">Features</a></li>
            <li><a href="{% url 'page' 'opinion' %}">Opinion</a></li>
            <li><a href="{% url 'page' 'sports' %}">Sports</a></li>
            <li><a href="{% url 'page' 'blog' %}">Blog</a></li>
            <li><a class="topic" href="{% url 'topic' 436 %}">AMS Elections</a></li>
        </ul>
    </div>
    <div class="right">
        <h3>Links</h3>
        <ul class="links">
            <li><a href="{% url 'page' 'volunteer' %}">Volunteer</a></li>
            <li><a href="{% url 'page' 'about' %}">About</a></li>
            <li><a href="{% url 'page' 'contact' %}">Contact</a></li>
        </ul>
    </div>
</nav>
