{% load staticfiles %}
<header class="topbar header-site">
    <div class="container">
        <a class="home-link" href="{% url 'home' %}"><img class="logo" src="{% static 'img/ubyssey-logo-small.svg' %}" /></a>
        <nav>
            <ul>
                <li {% if section == 'news' %}class="current"{% endif %}>
                    <a href="{% url 'page' 'news' %}">News</a>
                </li><li {% if section == 'culture' %}class="current"{% endif %}>
                    <a href="{% url 'page' 'culture' %}">Culture</a>
                </li><li {% if section == 'opinion' %}class="current"{% endif %}>
                    <a href="{% url 'page' 'opinion' %}">Opinion</a>
                </li><li {% if section == 'features' %}class="current"{% endif %}>
                    <a href="{% url 'page' 'features' %}">Features</a>
                </li><li {% if section == 'sports' %}class="current"{% endif %}>
                    <a href="{% url 'page' 'sports' %}">Sports</a>
                </li><li {% if section == 'blog' %}class="current"{% endif %}>
                    <a href="{% url 'page' 'blog' %}">Blog</a>
                </li><li>
                    <a class="topic" href="{% url 'topic' 436 %}">AMS Elections</a>
                </li>
            </ul>
        </nav>
        <a class="search" href="{% url 'search' %}"><i class="fa fa-search"></i></a>
    </div>
</header>
