/* line 2, sass/modules/homepage.scss */
.left {
  float: left;
}

/* line 6, sass/modules/homepage.scss */
.right {
  float: right;
}

/* line 10, sass/modules/homepage.scss */
.clearfix {
  overflow: auto;
}

/* line 14, sass/modules/homepage.scss */
div.frontpage {
  margin: 50px 0;
}
/* line 16, sass/modules/homepage.scss */
div.frontpage div.col {
  float: left;
}
/* line 18, sass/modules/homepage.scss */
div.frontpage div.col.left {
  width: 340px;
  padding-right: 15px;
}
/* line 21, sass/modules/homepage.scss */
div.frontpage div.col.left article {
  border-bottom: 1px dotted #C8C8C8;
  padding: 15px 0;
}
/* line 24, sass/modules/homepage.scss */
div.frontpage div.col.left article:first-child {
  padding-top: 0;
}
/* line 29, sass/modules/homepage.scss */
div.frontpage div.col.middle {
  width: 500px;
  padding: 0 15px;
  border-left: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
}
/* line 38, sass/modules/homepage.scss */
div.frontpage article h1, div.frontpage article h2 {
  font-family: TisaPro-Bold;
  margin: 3px 0;
}
/* line 43, sass/modules/homepage.scss */
div.frontpage article p.snippet {
  font-family: Georgia;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 20px;
  color: #363636;
}
/* line 52, sass/modules/homepage.scss */
div.frontpage article img {
  width: 100%;
}
/* line 56, sass/modules/homepage.scss */
div.frontpage article.primary h1 {
  font-size: 20px;
  line-height: 29px;
}
/* line 62, sass/modules/homepage.scss */
div.frontpage article.secondary h2 {
  font-size: 21px;
  line-height: 27px;
}
/* line 69, sass/modules/homepage.scss */
div.frontpage article.thumb .left {
  width: 125px;
}
/* line 72, sass/modules/homepage.scss */
div.frontpage article.thumb .right {
  width: 200px;
}
/* line 75, sass/modules/homepage.scss */
div.frontpage article.thumb h2 {
  font-size: 15px;
  line-height: 22px;
  margin: 0;
}

/* line 84, sass/modules/homepage.scss */
div.container.large {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
}

/* line 3, sass/main.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 8, sass/main.scss */
main.article {
  width: 960px;
  margin-top: 56px;
  margin-left: auto;
  margin-right: auto;
}

/* line 15, sass/main.scss */
header.topbar {
  height: 55px;
  line-height: 55px;
  width: 100%;
  z-index: 50;
  position: fixed;
  top: 0;
  /* background: rgba(255, 255, 255, 0.98); */
  background: #fff;
  border-bottom: 1px solid #DADADA;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px 0;
}
/* line 27, sass/main.scss */
header.topbar .section-name {
  display: inline-block;
  margin-right: 10px;
}
/* line 30, sass/main.scss */
header.topbar .section-name span {
  margin-left: 10px;
  font-family: LFT Etica;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #33331E;
}
/* line 40, sass/main.scss */
header.topbar .header-article {
  display: none;
}
/* line 44, sass/main.scss */
header.topbar img.logo {
  vertical-align: middle;
  margin-top: -3px;
}
/* line 48, sass/main.scss */
header.topbar nav {
  display: inline-block;
  font-family: FranklinGothicURW-Med;
  font-size: 15px;
  color: #33331E;
  line-height: 19px;
  margin-left: 20px;
}
/* line 55, sass/main.scss */
header.topbar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 59, sass/main.scss */
header.topbar nav ul li {
  display: inline-block;
  margin: 0 17px;
}
/* line 66, sass/main.scss */
header.topbar h1.nav-headline {
  display: inline-block;
  font-family: FranklinGothicURW-Med;
  font-size: 15px;
  color: #33331E;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  font-weight: normal;
}

/* line 79, sass/main.scss */
div.advertisement.leaderboard {
  padding: 25px 0;
  text-align: center;
}

/* line 84, sass/main.scss */
div.container {
  width: 960px;
  margin: 0 auto;
}

/* line 90, sass/main.scss */
article h1.headline {
  border-top: 2px solid #3E3E3E;
  border-bottom: 1px solid #D2D2D2;
  font-family: TisaPro-Bold;
  font-size: 32px;
  color: #000000;
  line-height: 46px;
  padding: 25px 0;
  margin: 0;
}
/* line 101, sass/main.scss */
article div.article-content {
  max-width: 585px;
}
/* line 103, sass/main.scss */
article div.article-content p {
  /* font-family: MinionPro-Regular; */
  /* font-size: 18px; */
  font-family: Georgia;
  font-size: 16px;
  color: #333333;
  line-height: 24px;
}
/* line 110, sass/main.scss */
article div.article-content p:first-child {
  margin-top: 5px;
}
/* line 115, sass/main.scss */
article div.article-info {
  padding: 25px 0;
}
/* line 117, sass/main.scss */
article div.article-info div.author-published {
  font-size: 13px;
  color: #333333;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
/* line 123, sass/main.scss */
article div.article-info div.author-published span.author {
  font-family: LFTEtica-Bold;
}
/* line 127, sass/main.scss */
article div.article-info div.author-published span.published {
  font-family: LFTEtica-Regular;
}

/* line 134, sass/main.scss */
div.right-column {
  padding: 0 0 40px 40px;
  float: right;
  position: relative;
}
/* line 138, sass/main.scss */
div.right-column div.featured-image {
  width: 500px;
}

/* line 143, sass/main.scss */
div.right-column img {
  width: 100%;
}

/* line 147, sass/main.scss */
div.side {
  float: right;
}

/* line 151, sass/main.scss */
div.sidebar {
  position: absolute;
  right: 0;
  width: 300px;
}
/* line 155, sass/main.scss */
div.sidebar.offset {
  margin-top: 200px;
}

/* line 160, sass/main.scss */
div.article-image {
  margin: 40px 0;
}

/* line 164, sass/main.scss */
div.article-image img {
  width: 100%;
}

/* line 168, sass/main.scss */
div.caption {
  margin-top: 6px;
  font-family: MinionPro-Regular;
  font-size: 15px;
  color: #5A5A5A;
  line-height: 19px;
}

/* line 176, sass/main.scss */
span.credit {
  font-style: italic;
  color: #969696;
  margin-left: 4px;
}

/* line 182, sass/main.scss */
div.slideshow {
  display: none;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
}
/* line 191, sass/main.scss */
div.slideshow.visible {
  display: block;
}

/* line 196, sass/main.scss */
div.image-container {
  height: 100%;
  display: table;
  margin: 0 auto;
  max-width: 90%;
}

/* line 203, sass/main.scss */
div.image-inner {
  display: table-cell;
  vertical-align: middle;
}

/* line 208, sass/main.scss */
p.slide-caption {
  font-family: MinionPro-Regular;
  font-size: 15px;
  color: #c3c3c3;
  line-height: 19px;
}

/* line 218, sass/main.scss */
img.article-attachment:hover {
  cursor: pointer;
}

/* line 222, sass/main.scss */
img.slide-image {
  max-width: 100%;
}

/* line 226, sass/main.scss */
div.navigation {
  color: white;
  font-family: "LFT Etica";
  font-size: 13px;
  text-align: center;
}

/* line 233, sass/main.scss */
div.navigation a {
  display: inline-block;
  padding: 6px 9px;
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 12px;
}

/* line 242, sass/main.scss */
div.navigation a:hover {
  color: black;
  background: #fff;
}

/* line 247, sass/main.scss */
.no-scroll {
  overflow: hidden;
}
