/* line 3, sass/modules/core.scss */
.row {
  overflow: auto;
}

/* line 7, sass/modules/core.scss */
.left {
  float: left;
}

/* line 11, sass/modules/core.scss */
.right {
  float: right;
}

/* line 15, sass/modules/core.scss */
.col, .col-4, .col-8 {
  float: left;
}

/* line 19, sass/modules/core.scss */
.col-4 {
  width: 33.3%;
}

/* line 23, sass/modules/core.scss */
.col-8 {
  width: 66.3%;
}

/* line 29, sass/modules/core.scss */
.clearfix {
  overflow: auto;
}

/* line 1, sass/modules/homepage.scss */
img.featured {
  width: 100%;
}

/* line 5, sass/modules/homepage.scss */
div.frontpage {
  margin: 50px 0;
}
/* line 7, sass/modules/homepage.scss */
div.frontpage div.col {
  float: left;
}
/* line 9, sass/modules/homepage.scss */
div.frontpage div.col.left {
  width: 340px;
  padding-right: 15px;
  border-right: 1px solid #E6E6E6;
}
/* line 14, sass/modules/homepage.scss */
div.frontpage div.col.left article, div.frontpage div.col.left ul.article-headlines {
  border-bottom: 1px dotted #C8C8C8;
  padding: 15px 0;
}
/* line 17, sass/modules/homepage.scss */
div.frontpage div.col.left article:first-child, div.frontpage div.col.left ul.article-headlines:first-child {
  padding-top: 0;
}
/* line 20, sass/modules/homepage.scss */
div.frontpage div.col.left article:last-child, div.frontpage div.col.left ul.article-headlines:last-child {
  border-bottom: none;
}
/* line 24, sass/modules/homepage.scss */
div.frontpage div.col.left ul.article-headlines {
  padding-left: 24px;
  margin: 0;
}
/* line 27, sass/modules/homepage.scss */
div.frontpage div.col.left ul.article-headlines li {
  font-size: 24px;
}
/* line 29, sass/modules/homepage.scss */
div.frontpage div.col.left ul.article-headlines li h2 {
  font-size: 14px;
  margin: 0;
}
/* line 36, sass/modules/homepage.scss */
div.frontpage div.col.middle {
  width: 500px;
  padding: 0 15px;
  border-right: 1px solid #E6E6E6;
}
/* line 44, sass/modules/homepage.scss */
div.frontpage article h1, div.frontpage article h2, div.frontpage li h1, div.frontpage li h2 {
  font-family: TisaPro-Bold;
  margin: 3px 0;
}
/* line 49, sass/modules/homepage.scss */
div.frontpage article img, div.frontpage li img {
  width: 100%;
}
/* line 53, sass/modules/homepage.scss */
div.frontpage article.primary h1, div.frontpage li.primary h1 {
  font-size: 20px;
  line-height: 29px;
}
/* line 59, sass/modules/homepage.scss */
div.frontpage article.secondary h2, div.frontpage li.secondary h2 {
  font-size: 21px;
  line-height: 27px;
}
/* line 66, sass/modules/homepage.scss */
div.frontpage article.thumb .left, div.frontpage li.thumb .left {
  width: 125px;
}
/* line 69, sass/modules/homepage.scss */
div.frontpage article.thumb .right, div.frontpage li.thumb .right {
  width: 200px;
}
/* line 72, sass/modules/homepage.scss */
div.frontpage article.thumb h2, div.frontpage li.thumb h2 {
  font-size: 15px;
  line-height: 22px;
  margin: 0;
}

/* line 81, sass/modules/homepage.scss */
section.homepage {
  width: 887px;
  border-right: 1px solid #E6E6E6;
}
/* line 84, sass/modules/homepage.scss */
section.homepage div.inner {
  padding: 0 15px;
}
/* line 87, sass/modules/homepage.scss */
section.homepage .left {
  border-right: 1px solid #E6E6E6;
}
/* line 89, sass/modules/homepage.scss */
section.homepage .left div.inner {
  padding-left: 0;
}

/* line 95, sass/modules/homepage.scss */
div.container.large {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
}

/* line 104, sass/modules/homepage.scss */
p.snippet {
  font-family: Georgia;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 20px;
  color: #363636;
}

/* line 116, sass/modules/homepage.scss */
h1.headline, h2.headline, h3.headline, h4.headline, h5.headline {
  margin: 7px 0;
  font-family: TisaPro-Bold;
}
/* line 119, sass/modules/homepage.scss */
h1.headline:first-child, h2.headline:first-child, h3.headline:first-child, h4.headline:first-child, h5.headline:first-child {
  margin-top: 0;
}

/* line 125, sass/modules/homepage.scss */
h3.headline {
  font-size: 24px;
  line-height: 35px;
}

/* line 130, sass/modules/homepage.scss */
h4.headline {
  font-size: 17px;
  line-height: 25px;
}

/* line 4, sass/main.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 9, sass/main.scss */
main.article {
  width: 960px;
  margin-top: 56px;
  margin-left: auto;
  margin-right: auto;
}

/* line 16, sass/main.scss */
header.topbar {
  height: 55px;
  line-height: 55px;
  width: 100%;
  z-index: 50;
  position: fixed;
  top: 0;
  /* background: rgba(255, 255, 255, 0.98); */
  background: #fff;
  border-bottom: 1px solid #DADADA;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px 0;
}
/* line 28, sass/main.scss */
header.topbar .section-name {
  display: inline-block;
  margin-right: 10px;
}
/* line 31, sass/main.scss */
header.topbar .section-name span {
  margin-left: 10px;
  font-family: LFT Etica;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #33331E;
}
/* line 41, sass/main.scss */
header.topbar .header-article {
  display: none;
}
/* line 45, sass/main.scss */
header.topbar img.logo {
  vertical-align: middle;
  margin-top: -3px;
}
/* line 49, sass/main.scss */
header.topbar nav {
  display: inline-block;
  font-family: FranklinGothicURW-Med;
  font-size: 15px;
  color: #33331E;
  line-height: 19px;
  margin-left: 20px;
}
/* line 56, sass/main.scss */
header.topbar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 60, sass/main.scss */
header.topbar nav ul li {
  display: inline-block;
  margin: 0 17px;
}
/* line 67, sass/main.scss */
header.topbar h1.nav-headline {
  display: inline-block;
  font-family: FranklinGothicURW-Med;
  font-size: 15px;
  color: #33331E;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  font-weight: normal;
}

/* line 80, sass/main.scss */
div.advertisement.leaderboard {
  padding: 25px 0;
  text-align: center;
}

/* line 85, sass/main.scss */
div.container {
  width: 960px;
  margin: 0 auto;
}

/* line 91, sass/main.scss */
article h1.headline {
  border-top: 2px solid #3E3E3E;
  border-bottom: 1px solid #D2D2D2;
  font-family: TisaPro-Bold;
  font-size: 32px;
  color: #000000;
  line-height: 46px;
  padding: 25px 0;
  margin: 0;
}
/* line 102, sass/main.scss */
article div.article-content {
  max-width: 585px;
}
/* line 104, sass/main.scss */
article div.article-content p {
  /* font-family: MinionPro-Regular; */
  /* font-size: 18px; */
  font-family: Georgia;
  font-size: 16px;
  color: #333333;
  line-height: 24px;
}
/* line 111, sass/main.scss */
article div.article-content p:first-child {
  margin-top: 5px;
}
/* line 116, sass/main.scss */
article div.article-info {
  padding: 25px 0;
}
/* line 118, sass/main.scss */
article div.article-info div.author-published {
  font-size: 13px;
  color: #333333;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
/* line 124, sass/main.scss */
article div.article-info div.author-published span.author {
  font-family: LFTEtica-Bold;
}
/* line 128, sass/main.scss */
article div.article-info div.author-published span.published {
  font-family: LFTEtica-Regular;
}

/* line 135, sass/main.scss */
div.right-column {
  padding: 0 0 40px 40px;
  float: right;
  position: relative;
}
/* line 139, sass/main.scss */
div.right-column div.featured-image {
  width: 500px;
}

/* line 144, sass/main.scss */
div.right-column img {
  width: 100%;
}

/* line 148, sass/main.scss */
div.side {
  float: right;
}

/* line 152, sass/main.scss */
div.sidebar {
  position: absolute;
  right: 0;
  width: 300px;
}
/* line 156, sass/main.scss */
div.sidebar.offset {
  margin-top: 200px;
}

/* line 161, sass/main.scss */
div.article-image {
  margin: 40px 0;
}

/* line 165, sass/main.scss */
div.article-image img {
  width: 100%;
}

/* line 169, sass/main.scss */
div.caption {
  margin-top: 6px;
  font-family: MinionPro-Regular;
  font-size: 15px;
  color: #5A5A5A;
  line-height: 19px;
}

/* line 177, sass/main.scss */
span.credit {
  font-style: italic;
  color: #969696;
  margin-left: 4px;
}

/* line 183, sass/main.scss */
div.slideshow {
  display: none;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
}
/* line 192, sass/main.scss */
div.slideshow.visible {
  display: block;
}

/* line 197, sass/main.scss */
div.image-container {
  height: 100%;
  display: table;
  margin: 0 auto;
  max-width: 90%;
}

/* line 204, sass/main.scss */
div.image-inner {
  display: table-cell;
  vertical-align: middle;
}

/* line 209, sass/main.scss */
p.slide-caption {
  font-family: MinionPro-Regular;
  font-size: 15px;
  color: #c3c3c3;
  line-height: 19px;
}

/* line 219, sass/main.scss */
img.article-attachment:hover {
  cursor: pointer;
}

/* line 223, sass/main.scss */
img.slide-image {
  max-width: 100%;
}

/* line 227, sass/main.scss */
div.navigation {
  color: white;
  font-family: "LFT Etica";
  font-size: 13px;
  text-align: center;
}

/* line 234, sass/main.scss */
div.navigation a {
  display: inline-block;
  padding: 6px 9px;
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 12px;
}

/* line 243, sass/main.scss */
div.navigation a:hover {
  color: black;
  background: #fff;
}

/* line 248, sass/main.scss */
.no-scroll {
  overflow: hidden;
}
