{% extends base_template %}
{% load staticfiles %}
{% block header %}
    {% include 'headers/topbar.html' with article=article section=article.section.slug %}
    {% include 'headers/mobile.html' %}
{% endblock %}
{% block content %}
<main id="article-{{ article.parent_id }}" class="article {{ article.template }}">
    {% block banner_ad %}
    <div class="advertisement leaderboard">
        <div class="adslot" data-size="leaderboard" data-dfp="Front_leaderboard_728x90" id="div-gpt-ad-1443288719995-12-{{ article.id }}"></div>
    </div>
    {% endblock %}
    <article {% if user.is_authenticated %}data-user-id="{{ user.id }}"{% endif %} data-id="{{ article.parent_id }}" data-list="{{ reading_list.ids }}" data-list-name="{{ reading_list.name }}" data-headline="{{ article.headline }}" data-url="{{ article.get_absolute_url }}">
        {% block banner %}
        <div class="container">
            <div class="headline-container">
                <h1 class="headline">{{ article.headline|safe }}</h1>
                <div class="article-info row">
                    <div class="article-byline">
                        <span class="author">By {{ article.get_author_url|safe }}</span> &nbsp;&middot;&nbsp; <span class="published">{{ article.published_at }}</span>
                    </div>
                    <ul class="social top">
                        {% comment %}<li><a href="#" class="open-comments"><i class="fa fa-comment"></i><span> {% if article.comment_count == 0 %}Post a comment{% else %}{{ article.comment_count }}comments{% endif %}</span></a></li>{% endcomment %}
                        <li><a class="facebook" href="#" data-url="{{ article.get_absolute_url }}"><i class="fa fa-facebook-square"></i><span>Share</span></a></li>
                        <li><a class="twitter" href="#" data-url="{{ article.get_absolute_url }}" data-title="{{ article.headline }}"><i class="fa fa-twitter"></i><span>Tweet</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}
        <div class="container clearfix {% if article.template_fields.header_layout %}{{ article.template }}{% endif %}">
            {% block right-column %}
            <div class="right-column">
                {% if article.featured_image %}
                <div class="featured-image">
                    <img class="article-attachment" data-id="{{ article.featured_image.id }}" data-caption="{{ article.featured_image.caption }}" data-credit="{{ article.featured_image.get_credit }}" data-url="{{ article.featured_image.image.get_absolute_url }}" src="{{ article.featured_image.image.get_absolute_url }}"/>
                    {% if article.featured_image.caption or article.featured_image.get_credit %}
                    <div class="caption">
                        {% if article.featured_image.caption %}{{ article.featured_image.caption }}{% endif %} {% if article.featured_image.get_credit %}<span class="credit">{{ article.featured_image.get_credit }}{% if not article.featured_image.has_custom_credit %} / The Ubyssey{% endif %}</span>{% endif %}
                    </div>
                    {% endif %}
                </div>
                <div class="sidebar offset">
                {% else %}
                <div class="sidebar">
                {% endif %}
                    <div class="advertisement box sidebar">
                        <div class="adslot" id="div-gpt-ad-1443288719995-15-{{ article.id }}" data-size="box" data-dfp="News_BoxA_300x250"></div>
                    </div>
                </div>
            </div>
            {% endblock %}
            <div class="article-content">
                {% block pre-content %}{% endblock %}
                {{ article.get_html|safe }}
            </div>
        </div>
    </article>
</main>

<div class="slideshow">
    <div class="image-container">
        <div class="image-inner">
            <div class="slide">
                <img class="slide-image" />
                <p class="slide-caption"></p>
                <div class="navigation">
                    <a class="prev-slide" href="#"><i class="fa fa-chevron-left"></i></a>
                    <span class="curr-slide"></span> &nbsp; of &nbsp; <span class="total-slide"></span>
                    <a class="next-slide" href="#"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="gallery"></div>

<div id="article-list"></div>
{% endblock %}

{% block scripts %}
{% endblock %}

<!-- Article-specific scripts -->
{% for s in article.scripts.all %}
<script src="http://localhost:8888/resources/js/{{ s.filename }}"></script>
{% endfor %}