{% extends 'article/base.html' %}

{% block banner %}
<div class="full-width featured-image">
    <img class="article-attachment" data-id="{{ article.featured_image.id }}" data-caption="{{ article.featured_image.caption }}" data-credit="{{ article.featured_image.get_credit }}" src="{{ article.featured_image.image.get_absolute_url }}"/>
    <div class="caption">
        {{ article.featured_image.caption }} <span class="credit">{{ article.featured_image.get_credit }} / The Ubyssey</span>
    </div>
</div>
{% endblock %}

{% block right-column %}
{% endblock %}