{% extends 'article/base.html' %}
{% load staticfiles %}

{% block banner %}
    {% with article.template_fields.header_layout as header_layout %}
    <div class="fw-banner {{ header_layout }}">
        {% if header_layout == 'right-image'  %}
            <div class="header-container">
                <div class="headline-container left">
                    <h1 class="headline">{{ article.headline }}</h1>
                    <p class="fw-description">{{ article.template_fields.description }}</p>
                    <div class="article-byline">
                        <span class="author">By {{ article.get_author_string }}</span> &nbsp;&middot;&nbsp; <span class="published">{{ article.published_at }}</span>
                    </div>
                </div>
                <div class="right">
                    <div class="full-width featured-image">
                        <img class="article-attachment" data-id="{{ article.featured_image.id }}" data-caption="{{ article.featured_image.caption }}" data-url="{{ article.featured_image.image.get_absolute_url }}" data-credit="{{ article.featured_image.get_credit }}" src="{{ article.featured_image.image.get_absolute_url }}"/>
                        <div class="caption">
                            {{ article.featured_image.caption }} <span class="credit">{{ article.featured_image.get_credit }} / The Ubyssey</span>
                        </div>
                    </div>
                </div>
            </div>
        {% elif header_layout == 'top-image' %}
            <div class="header-container">
                <div class="featured-image">
                    <img class="article-attachment" data-id="{{ article.featured_image.id }}" data-caption="{{ article.featured_image.caption }}" data-url="{{ article.featured_image.image.get_absolute_url }}" data-credit="{{ article.featured_image.get_credit }}" src="{{ article.featured_image.image.get_absolute_url }}"/>
                </div>
                <div class="headline-container">
                    <h1 class="headline">{{ article.headline }}</h1>
                    <p class="fw-description">{{ article.template_fields.description }}</p>
                    <div class="article-byline">
                        <span class="author">By {{ article.get_author_string }}</span> &nbsp;&middot;&nbsp; <span class="published">{{ article.published_at }}</span>
                    </div>
                </div>
            </div>
        {% elif header_layout == 'banner-image' %}
            <div class="banner-image">
                <div class="backdrop" style="background-image: url('{{ article.featured_image.image.get_absolute_url }}');"></div>
                <div class="headline-container">
                    <div class="container padded">
                        <h1 class="headline">{{ article.headline }}</h1>
                        <p class="fw-description">{{ article.template_fields.description }}</p>
                        <div class="article-byline">
                            <span class="author">By {{ article.get_author_string }}</span> &nbsp;&middot;&nbsp; <span class="published">{{ article.published_at }}</span>
                        </div>
                    </div>
                </div>
                {% comment %}
				<div class="featured-image">
                    <img class="article-attachment" data-id="{{ article.featured_image.id }}" data-caption="{{ article.featured_image.caption }}" data-url="{{ article.featured_image.image.get_absolute_url }}" data-credit="{{ article.featured_image.get_credit }}" src="{{ article.featured_image.image.get_absolute_url }}"/>
				{% endcomment %}
                <div class="caption">
                	{{ article.featured_image.caption }} <span class="credit">{{ article.featured_image.get_credit }} / The Ubyssey</span>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    {% endwith %}
{% endblock %}

{% if article.template_fields.header_layout == 'banner-image' %}
{% block banner_ad %}{% endblock %}
{% endif %}

{% block pre-content %}
    <div class="article-social">
        <ul class="social left">
            {% comment %}<li><a href="#" class="open-comments"><i class="fa fa-comment"></i><span>{{ article.comment_count }} comments</span></a></li>{% endcomment %}
            <li><a href="#" class="facebook" data-url="{{ article.get_absolute_url }}"><i class="fa fa-facebook-square"></i><span>Share</span></a></li>
            <li><a href="#" class="twitter" data-url="{{ article.get_absolute_url }}" data-title="{{ article.headline }}"><i class="fa fa-twitter"></i><span>Tweet</span></a></li>
            {% comment %}<li><a href="#"><i class="fa fa-envelope"></i><span>Email</span></a></li>{% endcomment %}
        </ul>
    </div>
{% endblock %}

{% block right-column %}
									<div class="sidebar">
                    <div class="advertisement box fw-story top sidebar">
                        <div class="adslot" id="div-gpt-ad-1443288719995-15-{{ article.id }}" data-size="box" data-dfp="News_BoxA_300x250"></div>
                    </div>
									</div>
{% endblock %}