@import 'full_width';
@import 'modules/variables';

.featured-image {
  img {
    width: 100%;
  }
}


// Article Slide

div.article-slide {
  border-top: 1px solid #DADADA;
  margin-top: 50px;
  main.article {
    margin-top: 0;
  }
  .advertisement.leaderboard {
    background: #F5F5F5;
    margin-bottom: 30px;
    border-bottom: 1px solid #DADADA;
  }
  @media($bp-larger-than-tablet){
    margin-bottom: 50px;
  }
}

div.indicator {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2000;
}


// Article

main.article.default {

  h1.headline {
    line-height: 1.185em;
    margin-bottom: 15px;
  }

  div.article-info {
    color: #222222;
  }

  @media($bp-larger-than-mobile){
    h1.headline {
      font-size: 2.5em;
      margin: 0;
    }
    div.article-byline {
      float: left;
    }
    div.article-info {
      margin: 20px 0;
    }
  }

  @media($bp-larger-than-tablet){
    h1.headline {
      font-size: $font-size-36px;
      line-height: 1.277em;
      padding: 25px 0;
      margin: 0;
      border-top: 2px solid #3E3E3E;
      border-bottom: 1px solid #D2D2D2;
    }
    div.article-info {
      margin: 25px 0;
    }
  }

}

div.headline-container {
  padding: 25px 20px 30px 20px;
}

h1.headline {
  font-family: $font-headline;
  font-size: 32px;
  color: #000000;
  margin: 0;
}

div.article-content p, div.article-content div.caption, div.article-content h1, div.article-content h2, div.article-content h3 {
  padding: 0 10px;
  @media($bp-larger-than-tablet){
    max-width: 585px;
  }
}

div.caption {
  margin-top: 6px;
  font-family: $font-headline;
  font-size: 15px;
  color: #5A5A5A;
  line-height: 19px;

  padding: 0 20px;
  @media($bp-larger-than-phablet){
    padding: 0;
  }
}

div.article-content {

  > p, ul {
    font-family: $font-body !important;
    font-size: 16px !important;
    color: #333333 !important;
    line-height: 26px !important;
    margin-top: 20px !important;

    &:first-child {
        margin-top: 5px;
    }
  }

  > h1 {
    font-family: $font-default;
    font-weight: normal;
    font-size: 28px;
    margin: 30px 0 0 0;
  }

  a {
    color: #0071c9;
    text-decoration: underline;
  }

}

div.article-byline {
  font-size: 14px;
  line-height: 17px;
  font-family: $font-default;
  font-weight: 500;
  span.author {
    font-family: $font-default;
  }
  span.published {
    color: #777;
    font-size: 13px;
  }
}

@media($bp-larger-than-mobile){
  div.headline-container {
    padding: 0;
  }
}

// Right column

div.right-column {

  img {
    width: 100%;
  }

  div.sidebar {
    display: none;
  }

  div.featured-image {
    margin-bottom: 20px;
  }

  @media($bp-larger-than-tablet){

    position: relative;
    float: right;
    padding: 0 0 40px 40px;

    div.featured-image {
      display: block;
      width: 500px;
      margin-bottom: 0;
    }

    div.sidebar {
      display: block;
      position: absolute;
      right: 0;
      width: 300px;
      &.offset {
        margin-top: 3em;
      }
    }
  }


}

div.side {
    float: right;
}