@import 'full_width';

.featured-image {
  img {
    width: 100%;
  }
}


// Article

main.article.default {
  h1.headline {
    border-top: 2px solid #3E3E3E;
    border-bottom: 1px solid #D2D2D2;
    padding: 25px 0;
    line-height: 46px;
  }
  div.article-byline {
    float: left;
  }
}

main.article {
  h1.headline {
    font-family: $font-headline;
    font-size: 32px;
    color: #000000;
    margin: 0;
  }

  div.article-content {
    max-width: 585px;
    p {
      font-family: $font-body;
      font-size: 16px;
      color: #333333;
      line-height: 26px;
      margin-top: 20px;
      &:first-child {
          margin-top: 5px;
      }
    }
    h1 {
      font-family: $font-default;
      font-weight: normal;
      font-size: 28px;
      margin: 30px 0 0 0;
    }
  }
  div.article-info {
    padding: 25px 0;
    color: #222222;
    div.article-social-top {
      float: right;
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          display: inline;
          margin-left: 20px;
          a {
            font-family: $font-secondary;
            font-size: 12px;
            i, span {
              vertical-align: middle;
            }
            i {
              margin-right: 8px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  div.article-byline {
    font-size: 14px;
    line-height: 17px;
    font-family: $font-default;
    font-weight: 500;
    span.author {
      font-family: $font-default;
    }
    span.published {
      color: #777;
      font-size: 13px;
    }
  }
}