@import 'modules/variables';

$bp-comments-bar: "min-width: 960px" !default;

#comments-bar {
  .inner {
    font-family: $font-default;
  }

  div.close, div.sort, div.comments-list, div.comments-field {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media($bp-comments-bar){
    position: fixed;
    top: 49px;
    bottom: 0;
    right: 0;
    div.inner {
      display: flex;
      position: absolute;
      flex-direction: column;
      background: #fff;
      border-left: 1px solid #D8D8D8;
      width: 525px;
      right: -526px;
      height: 100%;
      -moz-transition: right 0.3s ease-in-out;
      -o-transition: right 0.3s ease-in-out;
      -webkit-transition: right 0.3s ease-in-out;
      transition: right 0.3s ease-in-out;

      &.active {
        box-shadow: rgba(0,0,0,0.025) -2px 0 3px 0;
        right: 0;
      }
    }

    div.close, div.sort, div.comments-list, div.comments-field {
      padding-left: 30px;
      padding-right: 30px;
    }

    div.close button {
      display: block;
    }
  }
}

div.comment {
  padding: 15px 0;
  border-bottom: 1px solid #D8D8D8;
  &:last-child {
    border-bottom: none;
  }
  div.meta {
    font-size: 12px;
    color: #9C9C9C;
    > span {
      margin: 0 3px;
      &:first-child {
        margin-left: 0;
      }
    }
    span.user {
      color: #000;
      font-size: 14px;
      font-weight: 500;
      margin-right: 5px;
    }
    margin: 8px 0;
  }
  p {
    margin: 8px 0;
    font-size: 13px;
    color: #333;
    line-height: 1.65em;
  }
}


div.sort {
  padding: 8px 30px;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: rgba(0,0,0,0.025) 0 2px 3px 0;
  a {
    font-size: 13px;
    font-weight: 500;
    color: #9C9C9C;
    margin: 0 10px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &.active {
      color: #000;
    }
  }
}

div.comments-list {
  overflow-y: scroll;
  flex: 1;
}

div.comments-field {
  overflow: auto;
  padding-top: 0;
  padding-bottom: 10px;
  &.login {
    padding-bottom: 30px;
  }
  textarea {
    resize: none;
    height: 7.5em;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    padding: 8px 10px;
    font-size: 13px;
    line-height: 1.5em;
    width: 100%;
  }
  button, a.button {
    font-family: Helvetica, Arial, sans-serif;
    display: inline-block;
    border-radius: 2px;
    color: #4E4D4D;
    font-size: 12px;
    font-weight: 600;
    line-height: 28px;
    padding: 0 12px;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    background-color: #eee;
    border-color: #d5d5d5;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfc),color-stop(100%, #eeeeee));
    background-image: -moz-linear-gradient(#fcfcfc,#eeeeee);
    background-image: -webkit-linear-gradient(#fcfcfc,#eeeeee);
    background-image: linear-gradient(#fcfcfc,#eeeeee);

    margin-right: 8px;

    &:hover {
      cursor: pointer;
    }
    &.right {
      float: right;
      margin-right: 0;
      margin-left: 8px;
    }
  }
}

div.close {
  height: 30px;
  line-height: 30px;
  padding-top: 25px;
  padding-bottom: 10px;
  i.fa {
    margin-right: 5px;
  }
  h3 {
    margin: 0;
    font-weight: 500;
  }
  button {
    display: none;
    border: none;
    background: none;
    font-size: 18px;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}


.spinner {
  margin: 20px auto;
  height: 26px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #B5B5B5;
  height: 100%;
  width: 4px;
  margin-right: 1px;

  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

