@import 'modules/fonts';


.attachment {
  margin: 40px 0;
  max-width: 585px;
  div.meta {
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 1%, rgba(0,0,0,0.88) 99%);
    position: absolute;
    pointer-events: none;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 45px 25px 25px 25px;
    button {
      background: rgb(0, 113, 201);
      border: none;
      border-radius: 4px;
      padding: 12px 20px;
      font-family: $font-default;
      font-size: 15px;
      color: #fff;
    }
    h2 {
      font-size: 24px;
      margin-top: 0;
      margin-bottom: 5px;
    }
    span {
      opacity: 0.8;
    }
    h2, span {
      font-family: $font-default;
      color: #FFFFFF;
      font-weight: normal;
    }

    div.four.columns {
      display: none;
    }
  }
  @media($bp-larger-than-mobile){
    div.meta div.four.columns {
      display: block;
    }
  }
}

.gallery-attachment {
  .gallery-cover {
    position: relative;
    margin-bottom: 4px;
    img {
      width: 100%;
      vertical-align: bottom;
    }
    &:hover {
      cursor: pointer;
    }
  }
  ul.thumbs {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0 -2px;
    li {
      display: inline-block;
      width: 25%;
      height: 100px;
      box-sizing: border-box;
      padding: 0 2px;
      div {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }
  }

  @media($bp-larger-than-mobile){
    ul.thumbs {
      display: block;
    }

  }
}


.video-attachment {
  position: relative;
  width: 100%;
  .wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    &:after {
      padding-top: 56.25%;
      /* 16:9 ratio */
      display: block;
      content: '';
    }
    .inner {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-size: 100% auto;
      background-position: center;
    }
  }
  .video-container {
    position: relative;
    display: none;
    top: 0;
  }
  .video-launch:hover {
    cursor: pointer;
  }
}


.image-attachment {
  img {
    width: 100%;
  }
}

.pull-quote {
  p.quote {
    font-family: $font-body;
    font-size: 24px;
    line-height: 1.5em;
    font-style: italic;
    margin: 0;
  }
  p.source {
    margin-top: 10px;
    margin-bottom: 0;
  }
}