@import 'modules/fonts';
@import 'modules/variables';

main.article.fw-story, div.container.clearfix.fw-story {
  .fw-banner {
    overflow: auto;
    .header-container {
      margin: 40px 0 20px 0;
      padding-bottom: 40px;
      display: table;
      border-bottom: 1px solid #E4E4E4;
    }
    .headline-container {
      text-align: center;
    }
    .left, .right {
      display: table-cell;
      box-sizing: border-box;
    }
    .left {
      width: 55%;
      padding-right: 50px;
      padding-bottom: 25px;
      vertical-align: middle;
    }
    .right {
      width: 45%;
    }
    p.fw-description {
      font-family: $font-headline;
      font-size: 15px;
      color: #464646;
    }

    &.top-image {
      width: 100%;
      max-width: 840px;
      margin-left: auto;
      margin-right: auto;

      .featured-image {
        width: 100%;
        max-width: 640px;
        margin: 0 auto;
      }

      .header-container {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
      }

      .headline-container {
        max-width: 585px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        padding: 0 20px;
      }

      @media($bp-larger-than-mobile){
        .header-container {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }

    &.banner-image {
      margin-bottom: 40px;
      div.banner-image {
        position: relative;
        height: 300px;
        .backdrop {
          display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            background-size: cover;
            background-position: center;
        }
      }
      .headline-container {
        text-align: left;

        width: 100%;

        div.article-byline {
          span.author {
            font-weight: 500;
          }
        }

        h1.headline {
          margin-bottom: 15px;
        }

        p.fw-description {
          color: #333;
          font-family: $font-default;

          width: 100%;
          max-width: 650px;
          line-height: 1.5em;
          font-size: 14px;
          margin-top: 0;
          margin-bottom: 15px;
        }
      }
      .headline-container {
        position: absolute;
        bottom: 0;
        padding: 70px 0 20px 0;
        background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 1%, rgba(0,0,0,0.84) 99%);
        h1.headline, p.fw-description, div.article-byline, span.author, span.published {
          color: #fff;
        }
        h1.headline {
          font-family: $font-default;
          font-size: 36px;
          font-weight: 500;
        }
        div.article-byline {
          font-size: 14px;
        }
        span.author, span.published {
          font-weight: 300;
        }
      }
      @media($bp-larger-than-mobile) {
        div.banner-image {
          height: 500px;
        }
        .headline-container {
          padding: 160px 0 70px 0;
          h1.headline {
            font-size: 42px;
          }
        }
      }
    }
  }
  
  div.article-social {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 36px;
    @media($bp-larger-than-phablet) {
      width: 585px;
      height: 54px;
    }
  }

  div.article-content {
    p, h1, h2, h3, div.caption, div.attachment, div.attachment {
      max-width: 585px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

