div.image-inner {
  position: relative;
}

div.slides {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: -100%;
  margin-right: -100%;
}

div.slide {
  width: 100%;
  text-align: center;
  display: inline-block;
  img {
    pointer-events: none;
  }
}