div.slideshow {

  div.gallery-container {
    position: absolute;
    top: 65px;
    bottom: 65px;
    width: 100%;
  }

  ul.slides {
    height: 100%;
    position: absolute;
    top: 0;

    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    &.animate {
      -webkit-transition: all .15s;
      -moz-transition: all .15s;
      -o-transition: all .15s;
      transition: all .15s;
    }

  }

  li.slide {
    vertical-align: top;
    text-align: center;

    height: 100%;
    display: inline-block;

    padding-right: 15px;

    > .inner {
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      height: 100%;
      width: 100%;
    }

    div.image {
      flex: 2;
      -webkit-flex: 2;
      position: relative;
      > div {
        position: absolute;
        height: 100%;
        width: 100%;
      }
    }

    div.img {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    p.slide-caption {
      padding: 20px 20px 0 20px;
      max-width: 585px;
      margin: 0 auto;
    }



  }

  .prev, .next {

    display: none;

    top: 65px;
    bottom: 65px;

    opacity: 0.2;
    position: absolute;
    font-size: 50px;
    color: white;
    padding: 0 50px;

    width: 30%;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }

    > div {
      display: table;
      height: 100%;
      width: 100%;
    }

    i.fa {
      vertical-align: middle;
      display: table-cell;
    }
  }

  .next {
    right: 0;
    i.fa {
      text-align: right;
    }
  }

  div.close-slideshow {
    color: #fff;
    font-size: 32px;
    position: absolute;
    right: 0;
    top: 0;
    height: 65px;
    opacity: 0.5;
    line-height: 65px;
    padding: 0 20px;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
    i.fa {
      vertical-align: middle;
    }
  }

  @media($bp-larger-than-mobile){

    li.slide div.img {
      width: 80%;
    }

    .prev, .next {
      display: block;
    }
  }
}

