div.image-inner {
  position: relative;
}

ul.slides {
  height: 100%;
  white-space: nowrap;
  position: absolute;
  top: 0;

  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  -webkit-transition: all .15s;
  -moz-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
}

li.slide {
  text-align: center;
  display: inline-block;
  img {
    pointer-events: none;
  }
}