$embed-border-radius: 5px;
$embed-header-height: 40px;
$embed-padding: 1rem;

.o-embed-container {
  // Border
  border-radius: $embed-border-radius;
}

.o-embed-container__header {
  // Structure
  display: flex;
  height: $embed-header-height;
  background: $color-dark-gray;
  padding-left: $embed-padding;
  padding-right: $embed-padding;

  // Border
  border-top-left-radius: $embed-border-radius;
  border-top-right-radius: $embed-border-radius;

  // Text
  color: $color-white;
  line-height: $embed-header-height;
}

.o-embed-container__header__title {
  // Structure
  flex: 1;
}

.o-embed-container__header__options {
  li {
    // Structure
    display: inline-block;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.o-embed-container__body {
  // Structure
  padding: $embed-padding;

  // Border
  border-style: solid;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-color: $color-border-gray;
  border-bottom-left-radius: $embed-border-radius;
  border-bottom-right-radius: $embed-border-radius;
}
