<!DOCTYPE html>{% load static %}
<html>
<head>
    <link rel="icon" href="../../static/manager/src/images/dispatch-logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div id="container" class="u-container-root"></div>
  <script type="text/javascript">var API_URL = '{{ api_url }}';</script>
  <link rel="stylesheet" type="text/css" href="{% static app_css_bundle %}" />
  <script src="{% static app_js_bundle %}" type="application/javascript"></script>
</body>
</html>
