<!DOCTYPE html>{% load staticfiles %}
<html>
<head>
  <link rel="stylesheet" href="{% static 'css/admin.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/dropzone.css' %}" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
  <div id="container" class="u-container-root"></div>
  <script src="{% static 'js/index-0.2.21.js' %}" type="application/javascript"></script>
</body>
</html>
