/* line 3, sass/modules/_core.scss */
body {
  font-size: 14px;
}
/* line 5, sass/modules/_core.scss */
body.no-scroll {
  overflow-y: hidden;
}

/* line 12, sass/modules/_core.scss */
.row {
  overflow: auto;
}
/* line 14, sass/modules/_core.scss */
.row .left {
  float: left;
}
/* line 18, sass/modules/_core.scss */
.row .right {
  float: right;
}

/* line 23, sass/modules/_core.scss */
.col, .col-4, .col-8 {
  float: left;
}

/* line 27, sass/modules/_core.scss */
.col-4 {
  width: 33.3%;
}

/* line 31, sass/modules/_core.scss */
.col-8 {
  width: 66.3%;
}

/* line 37, sass/modules/_core.scss */
.clearfix {
  overflow: auto;
}

/* line 44, sass/modules/_core.scss */
a {
  color: inherit;
  text-decoration: none;
}
/* line 47, sass/modules/_core.scss */
a:hover {
  color: #0071c9;
}

/* line 5, sass/modules/_header.scss */
div.branding {
  text-align: center;
  margin: 20px 0;
}
/* line 8, sass/modules/_header.scss */
div.branding .left, div.branding .right {
  width: 25%;
}
/* line 11, sass/modules/_header.scss */
div.branding .left {
  text-align: left;
  line-height: 60px;
}
/* line 15, sass/modules/_header.scss */
div.branding .left, div.branding .middle {
  float: left;
}
/* line 18, sass/modules/_header.scss */
div.branding .middle {
  width: 50%;
}
/* line 21, sass/modules/_header.scss */
div.branding .right {
  float: right;
}
/* line 24, sass/modules/_header.scss */
div.branding h1.section-title {
  font-family: "ub-franklin-gothic", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 34px;
  margin: 0;
  line-height: 60px;
}
/* line 30, sass/modules/_header.scss */
div.branding img.top-logo {
  width: 285px;
}
/* line 33, sass/modules/_header.scss */
div.branding img.left-logo {
  width: 150px;
  margin-left: 20px;
  vertical-align: middle;
}

/* line 40, sass/modules/_header.scss */
nav.main {
  border-top: 2px solid #313131;
  border-bottom: 1px solid #D3D3D3;
}
/* line 49, sass/modules/_header.scss */
nav.main .left, nav.main .middle, nav.main .right {
  float: left;
  line-height: 45px;
  vertical-align: middle;
  height: 47px;
}
/* line 56, sass/modules/_header.scss */
nav.main .left, nav.main .right {
  width: 27%;
}
/* line 60, sass/modules/_header.scss */
nav.main .right {
  text-align: right;
}
/* line 64, sass/modules/_header.scss */
nav.main .middle {
  width: 46%;
  text-align: center;
}
/* line 69, sass/modules/_header.scss */
nav.main ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 73, sass/modules/_header.scss */
nav.main ul li {
  display: inline-block;
}
/* line 78, sass/modules/_header.scss */
nav.main ul.sections li {
  font-family: "ub-franklin-gothic", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.03571em;
  font-weight: 500;
  color: #2B2B2B;
  margin: 0 10px;
  letter-spacing: 0.01em;
}
/* line 89, sass/modules/_header.scss */
nav.main ul.meta li {
  font-family: "ub-franklin-gothic", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  color: #33331E;
  margin: 0 20px;
}

/* line 103, sass/modules/_header.scss */
header.topbar {
  height: 48px;
  line-height: 48px;
  width: 100%;
  z-index: 50;
  position: fixed;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #DADADA;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px 0;
}
/* line 114, sass/modules/_header.scss */
header.topbar .section-name {
  display: inline-block;
  margin-right: 10px;
}
/* line 117, sass/modules/_header.scss */
header.topbar .section-name span {
  margin-left: 7px;
  font-family: "ub-franklin-gothic", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  font-size: 12.5px;
  text-transform: uppercase;
  color: #33331E;
}
/* line 127, sass/modules/_header.scss */
header.topbar .header-article {
  display: none;
}
/* line 131, sass/modules/_header.scss */
header.topbar img.logo {
  vertical-align: middle;
  margin-top: -2px;
  height: 20px;
}
/* line 136, sass/modules/_header.scss */
header.topbar nav {
  display: inline-block;
  white-space: nowrap;
  vertical-align: top;
  font-family: "ub-franklin-gothic", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #373737;
  margin-left: 20px;
}
/* line 145, sass/modules/_header.scss */
header.topbar nav ul {
  line-height: 48px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 150, sass/modules/_header.scss */
header.topbar nav ul li {
  display: inline-block;
  padding: 0 15px;
  height: 45px;
}
/* line 154, sass/modules/_header.scss */
header.topbar nav ul li a {
  display: inline-block;
}
/* line 157, sass/modules/_header.scss */
header.topbar nav ul li.current, header.topbar nav ul li:hover {
  border-bottom: 3px solid #3490d6;
}
/* line 164, sass/modules/_header.scss */
header.topbar h1.nav-headline {
  display: inline-block;
  white-space: nowrap;
  font-family: "ub-franklin-gothic", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #373737;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}
/* line 176, sass/modules/_header.scss */
header.topbar a.icon-logo {
  display: inline-block;
  width: 20px;
  overflow: hidden;
  vertical-align: middle;
  margin-top: -2px;
}

/* line 5, sass/inline.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 10, sass/inline.scss */
main.article {
  width: 960px;
  margin-top: 56px;
  margin-left: auto;
  margin-right: auto;
}

/* line 18, sass/inline.scss */
div.advertisement.leaderboard {
  padding: 25px 0;
  text-align: center;
}
/* line 19, sass/inline.scss */
div.advertisement.leaderboard.homepage {
  padding-bottom: 0;
}

/* line 27, sass/inline.scss */
div.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* line 35, sass/inline.scss */
main.article article h1.headline {
  border-top: 2px solid #3E3E3E;
  border-bottom: 1px solid #D2D2D2;
  font-family: "ub-minion-pro", "Georgia", serif;
  font-size: 30px;
  color: #000000;
  line-height: 46px;
  padding: 25px 0;
  margin: 0;
}
/* line 46, sass/inline.scss */
main.article article div.article-content {
  max-width: 585px;
}
/* line 48, sass/inline.scss */
main.article article div.article-content p {
  font-family: "Georgia", serif;
  font-size: 16px;
  color: #333333;
  line-height: 26px;
  margin-top: 20px;
}
/* line 54, sass/inline.scss */
main.article article div.article-content p:first-child {
  margin-top: 5px;
}
/* line 59, sass/inline.scss */
main.article article div.article-info {
  padding: 25px 0;
  color: #222222;
}
/* line 62, sass/inline.scss */
main.article article div.article-info div.article-byline {
  float: left;
  font-size: 12px;
  line-height: 17px;
  text-transform: uppercase;
}
/* line 67, sass/inline.scss */
main.article article div.article-info div.article-byline span.author {
  font-family: "ub-lft-etica", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 800;
  letter-spacing: 0.05em;
}
/* line 73, sass/inline.scss */
main.article article div.article-info div.article-byline span.published {
  font-family: "ub-lft-etica", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
/* line 77, sass/inline.scss */
main.article article div.article-info div.article-social-top {
  float: right;
}
/* line 79, sass/inline.scss */
main.article article div.article-info div.article-social-top ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 83, sass/inline.scss */
main.article article div.article-info div.article-social-top ul li {
  display: inline;
  margin-left: 20px;
}
/* line 86, sass/inline.scss */
main.article article div.article-info div.article-social-top ul li a {
  font-family: "ub-lft-etica", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
}
/* line 89, sass/inline.scss */
main.article article div.article-info div.article-social-top ul li a i, main.article article div.article-info div.article-social-top ul li a span {
  vertical-align: middle;
}
/* line 92, sass/inline.scss */
main.article article div.article-info div.article-social-top ul li a i {
  margin-right: 8px;
  font-size: 16px;
}

/* line 105, sass/inline.scss */
div.right-column {
  padding: 0 0 40px 40px;
  float: right;
  position: relative;
}
/* line 109, sass/inline.scss */
div.right-column div.featured-image {
  width: 500px;
}

/* line 114, sass/inline.scss */
div.right-column img {
  width: 100%;
}

/* line 118, sass/inline.scss */
div.side {
  float: right;
}

/* line 122, sass/inline.scss */
div.sidebar {
  position: absolute;
  right: 0;
  width: 300px;
}
/* line 126, sass/inline.scss */
div.sidebar.offset {
  margin-top: 4em;
}

/* line 131, sass/inline.scss */
div.article-image {
  margin: 40px 0;
}

/* line 135, sass/inline.scss */
div.article-image img {
  width: 100%;
}

/* line 139, sass/inline.scss */
div.caption {
  margin-top: 6px;
  font-family: "ub-minion-pro", "Georgia", serif;
  font-size: 15px;
  color: #5A5A5A;
  line-height: 19px;
}

/* line 147, sass/inline.scss */
span.credit {
  font-style: italic;
  color: #969696;
  margin-left: 4px;
}

/* line 153, sass/inline.scss */
div.slideshow {
  display: none;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
}
/* line 162, sass/inline.scss */
div.slideshow.visible {
  display: block;
}

/* line 167, sass/inline.scss */
div.image-container {
  height: 100%;
  display: table;
  margin: 0 auto;
  max-width: 90%;
}

/* line 174, sass/inline.scss */
div.image-inner {
  display: table-cell;
  vertical-align: middle;
}

/* line 179, sass/inline.scss */
p.slide-caption {
  font-family: "ub-minion-pro", "Georgia", serif;
  font-size: 15px;
  color: #c3c3c3;
  line-height: 19px;
}

/* line 189, sass/inline.scss */
img.article-attachment:hover {
  cursor: pointer;
}

/* line 193, sass/inline.scss */
img.slide-image {
  max-width: 100%;
}

/* line 197, sass/inline.scss */
div.navigation {
  color: white;
  font-family: "ub-lft-etica", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  text-align: center;
}

/* line 204, sass/inline.scss */
div.navigation a {
  display: inline-block;
  padding: 6px 9px;
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 12px;
}

/* line 213, sass/inline.scss */
div.navigation a:hover {
  color: black;
  background: #fff;
}

/* line 218, sass/inline.scss */
.no-scroll {
  overflow: hidden;
}
