@import 'modules/core';
@import 'modules/fonts';
@import 'modules/header';

body {
    padding: 0;
    margin: 0;
}

main.article {
    width: 960px;
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
}

div.advertisement {
  &.leaderboard {
    &.homepage {
      padding-bottom: 0;
    }
    padding: 25px 0;
    text-align: center;
  }
}

div.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

// Article
main.article article {
  h1.headline {
    border-top: 2px solid #3E3E3E;
    border-bottom: 1px solid #D2D2D2;
    font-family: $font-headline;
    font-size: 30px;
    color: #000000;
    line-height: 46px;
    padding: 25px 0;
    margin: 0;
  }

  div.article-content {
    max-width: 585px;
    p {
      font-family: $font-body;
      font-size: 16px;
      color: #333333;
      line-height: 26px;
      margin-top: 20px;
      &:first-child {
          margin-top: 5px;
      }
    }
  }
  div.article-info {
    padding: 25px 0;
    color: #222222;
    div.article-byline {
      float: left;
      font-size: 12px;
      line-height: 17px;
      text-transform: uppercase;
      span.author {
        font-family: $font-secondary;
        font-weight: 800;
        letter-spacing: 0.05em;
      }

      span.published {
        font-family: $font-secondary;
      }
    }
    div.article-social-top {
      float: right;
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          display: inline;
          margin-left: 20px;
          a {
            font-family: $font-secondary;
            font-size: 12px;
            i, span {
              vertical-align: middle;
            }
            i {
              margin-right: 8px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}