@import 'modules/core';
@import 'modules/grid';
@import 'modules/header';
@import 'modules/fonts';
@import 'modules/font_faces';
@import 'modules/homepage';

@import 'modules/article/embeds';

body {
    padding: 0;
    margin: 0;
}

main.article {
    width: 960px;
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
}

div.advertisement {
  &.leaderboard {
    &.homepage {
      padding-bottom: 0;
    }
    padding: 25px 0;
    text-align: center;
  }
}

div.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

// Article
main.article article {
  h1.headline {
    border-top: 2px solid #3E3E3E;
    border-bottom: 1px solid #D2D2D2;
    font-family: $font-headline;
    font-size: 30px;
    color: #000000;
    line-height: 46px;
    padding: 25px 0;
    margin: 0;
  }

  div.article-content {
    max-width: 585px;
    p {
      font-family: $font-body;
      font-size: 16px;
      color: #333333;
      line-height: 26px;
      margin-top: 20px;
      &:first-child {
          margin-top: 5px;
      }
    }
  }
  div.article-info {
    padding: 25px 0;
    color: #222222;
    div.article-byline {
      float: left;
      font-size: 14px;
      line-height: 17px;
      font-family: $font-default;
      font-weight: 500;
      span.author {
        font-family: $font-default;
      }
      span.published {
        color: #777;
        font-size: 13px;
      }
    }
    div.article-social-top {
      float: right;
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
          display: inline;
          margin-left: 20px;
          a {
            font-family: $font-secondary;
            font-size: 12px;
            i, span {
              vertical-align: middle;
            }
            i {
              margin-right: 8px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

//////

div.right-column {
    padding: 0 0 40px 40px;
    float: right;
    position: relative;
    div.featured-image {
      width: 500px;
    }
}

div.right-column img {
    width: 100%;
}

div.side {
    float: right;
}

div.sidebar {
    position: absolute;
    right: 0;
    width: 300px;
    &.offset {
      margin-top: 4em;
    }
}

div.article-image {
    margin: 40px 0;
}

div.article-image img {
    width: 100%;
}

div.caption {
    margin-top: 6px;
    font-family: $font-headline;
    font-size: 15px;
    color: #5A5A5A;
    line-height: 19px;
}

span.credit {
    font-style: italic;
    color: #969696;
    margin-left: 4px;
}

div.slideshow {
    display: none;
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.95);
    &.visible {
      display: block;
    }
}

div.image-container {
    height: 100%;
    display: table;
    margin: 0 auto;
    max-width: 90%;
}

div.image-inner {
    display: table-cell;
    vertical-align: middle;
}

p.slide-caption {
    font-family: $font-default;
    font-size: 13px;
    color: #fff;
    line-height: 19px;
}

div.slide {
}

img.article-attachment:hover {
    cursor: pointer;
}

img.slide-image {
    max-width: 100%;
}

div.navigation {
    color: white;
    font-family: $font-secondary;
    font-size: 13px;
    text-align: center;
}

div.navigation a {
    display: inline-block;
    padding: 6px 9px;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 12px;
}

div.navigation a:hover {
    color: black;
    background: #fff;
}

.no-scroll {
    overflow: hidden;
}