@import 'modules/core';
@import 'modules/grid';
@import 'modules/fonts';
@import 'modules/font_faces';
@import 'modules/advertisements';
@import 'modules/variables';

// Ubyssey site-specific files

@import 'modules/header';
@import 'modules/footer';

@import 'modules/headers';
@import 'modules/buttons';
 
@import 'modules/homepage';

@import 'modules/section';

@import 'modules/article/base';
@import 'modules/article/embeds';
@import 'modules/article/comments_bar';
@import 'modules/article/gallery';
@import 'modules/social';

@import 'modules/author';

@import 'modules/search';

//////

div.image-container {
    height: 100%;
    display: table;
    margin: 0 auto;
    width: 100%;
}

div.image-inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

p.slide-caption {
    font-family: $font-default;
    font-size: 13px;
    color: #fff;
    line-height: 19px;
}

p.slide-credit {
		font-family: $font-default;
		font-size: 13px;
		color: #9c9c9c;
		font-style: italic;
}

span.credit {
  font-style: italic;
  color: #969696;
}

img.article-attachment:hover {
    cursor: pointer;
}

img.slide-image {
    max-width: 100%;
}

div.navigation {
    color: white;
    font-family: $font-secondary;
    font-size: 13px;
    text-align: center;
}

div.navigation a {
    display: inline-block;
    padding: 6px 9px;
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 12px;
}

div.navigation a:hover {
    color: black;
    background: #fff;
}

.no-scroll {
    overflow: hidden;
}

a.image {
  display: block;
  margin-bottom: 15px;
  img {
    display: block;
  }
  @media($bp-larger-than-phablet){
    margin-bottom: 0;
  }
}