/* line 3, sass/modules/_core.scss */
body {
  font-size: 14px;
}
/* line 5, sass/modules/_core.scss */
body.no-scroll {
  overflow-y: hidden;
}

/* line 12, sass/modules/_core.scss */
.row {
  overflow: auto;
}
/* line 14, sass/modules/_core.scss */
.row .left {
  float: left;
}
/* line 18, sass/modules/_core.scss */
.row .right {
  float: right;
}

/* line 23, sass/modules/_core.scss */
.col, .col-4, .col-8 {
  float: left;
}

/* line 27, sass/modules/_core.scss */
.col-4 {
  width: 33.3%;
}

/* line 31, sass/modules/_core.scss */
.col-8 {
  width: 66.3%;
}

/* line 37, sass/modules/_core.scss */
.clearfix {
  overflow: auto;
}

/* line 44, sass/modules/_core.scss */
a {
  color: inherit;
  text-decoration: none;
}
/* line 47, sass/modules/_core.scss */
a:hover {
  color: #0071c9;
}

@font-face {
  font-family: 'ub-minion-pro';
  src: url("fonts/MinionPro-Bold_gdi.eot");
  src: url("fonts/MinionPro-Bold_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/MinionPro-Bold_gdi.woff") format("woff"), url("fonts/MinionPro-Bold_gdi.ttf") format("truetype"), url("fonts/MinionPro-Bold_gdi.svg#MinionPro-Bold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'ub-minion-pro';
  src: url("fonts/MinionPro-BoldIt_gdi.eot");
  src: url("fonts/MinionPro-BoldIt_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/MinionPro-BoldIt_gdi.woff") format("woff"), url("fonts/MinionPro-BoldIt_gdi.ttf") format("truetype"), url("fonts/MinionPro-BoldIt_gdi.svg#MinionPro-BoldIt") format("svg");
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'ub-lft-etica';
  src: url("fonts/LFTEtica-Bold_gdi.eot");
  src: url("fonts/LFTEtica-Bold_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/LFTEtica-Bold_gdi.woff") format("woff"), url("fonts/LFTEtica-Bold_gdi.ttf") format("truetype"), url("fonts/LFTEtica-Bold_gdi.svg#LFTEtica-Bold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'ub-lft-etica';
  src: url("fonts/LFTEtica-Regular_gdi.eot");
  src: url("fonts/LFTEtica-Regular_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/LFTEtica-Regular_gdi.woff") format("woff"), url("fonts/LFTEtica-Regular_gdi.ttf") format("truetype"), url("fonts/LFTEtica-Regular_gdi.svg#LFTEtica-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'ub-minion-pro';
  src: url("fonts/MinionPro-Bold_gdi.eot");
  src: url("fonts/MinionPro-Bold_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/MinionPro-Bold_gdi.woff") format("woff"), url("fonts/MinionPro-Bold_gdi.ttf") format("truetype"), url("fonts/MinionPro-Bold_gdi.svg#MinionPro-Bold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'ub-minion-pro';
  src: url("fonts/MinionPro-BoldIt_gdi.eot");
  src: url("fonts/MinionPro-BoldIt_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/MinionPro-BoldIt_gdi.woff") format("woff"), url("fonts/MinionPro-BoldIt_gdi.ttf") format("truetype"), url("fonts/MinionPro-BoldIt_gdi.svg#MinionPro-BoldIt") format("svg");
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'ub-lft-etica';
  src: url("fonts/LFTEtica-Bold_gdi.eot");
  src: url("fonts/LFTEtica-Bold_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/LFTEtica-Bold_gdi.woff") format("woff"), url("fonts/LFTEtica-Bold_gdi.ttf") format("truetype"), url("fonts/LFTEtica-Bold_gdi.svg#LFTEtica-Bold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'ub-lft-etica';
  src: url("fonts/LFTEtica-Regular_gdi.eot");
  src: url("fonts/LFTEtica-Regular_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/LFTEtica-Regular_gdi.woff") format("woff"), url("fonts/LFTEtica-Regular_gdi.ttf") format("truetype"), url("fonts/LFTEtica-Regular_gdi.svg#LFTEtica-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
/* line 5, sass/modules/_header.scss */
div.branding {
  text-align: center;
  margin: 20px 0;
}
/* line 8, sass/modules/_header.scss */
div.branding .left, div.branding .right {
  width: 25%;
}
/* line 11, sass/modules/_header.scss */
div.branding .left {
  text-align: left;
  line-height: 60px;
}
/* line 15, sass/modules/_header.scss */
div.branding .left, div.branding .middle {
  float: left;
}
/* line 18, sass/modules/_header.scss */
div.branding .middle {
  width: 50%;
}
/* line 21, sass/modules/_header.scss */
div.branding .right {
  float: right;
}
/* line 24, sass/modules/_header.scss */
div.branding h1.section-title {
  font-family: "ITC Franklin Gothic Std", "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 34px;
  margin: 0;
  line-height: 60px;
}
/* line 30, sass/modules/_header.scss */
div.branding img.top-logo {
  width: 285px;
}
/* line 33, sass/modules/_header.scss */
div.branding img.left-logo {
  width: 150px;
  margin-left: 20px;
  vertical-align: middle;
}

/* line 40, sass/modules/_header.scss */
nav.main {
  border-top: 2px solid #313131;
  border-bottom: 1px solid #D3D3D3;
}
/* line 49, sass/modules/_header.scss */
nav.main .left, nav.main .middle, nav.main .right {
  float: left;
  line-height: 45px;
  vertical-align: middle;
  height: 47px;
}
/* line 56, sass/modules/_header.scss */
nav.main .left, nav.main .right {
  width: 27%;
}
/* line 60, sass/modules/_header.scss */
nav.main .right {
  text-align: right;
}
/* line 64, sass/modules/_header.scss */
nav.main .middle {
  width: 46%;
  text-align: center;
}
/* line 69, sass/modules/_header.scss */
nav.main ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 73, sass/modules/_header.scss */
nav.main ul li {
  display: inline-block;
}
/* line 78, sass/modules/_header.scss */
nav.main ul.sections li {
  font-family: "ITC Franklin Gothic Std", "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.03571em;
  font-weight: 500;
  color: #2B2B2B;
  margin: 0 10px;
  letter-spacing: 0.01em;
}
/* line 89, sass/modules/_header.scss */
nav.main ul.meta li {
  font-family: "ITC Franklin Gothic Std", "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 13px;
  color: #33331E;
  margin: 0 20px;
}

/* line 103, sass/modules/_header.scss */
header.topbar {
  height: 48px;
  line-height: 48px;
  width: 100%;
  z-index: 50;
  position: fixed;
  top: 0;
  /* background: rgba(255, 255, 255, 0.98); */
  background: #fff;
  border-bottom: 1px solid #DADADA;
  box-shadow: rgba(0, 0, 0, 0.15) 0 0 3px 0;
}
/* line 117, sass/modules/_header.scss */
header.topbar .section-name {
  display: inline-block;
  margin-right: 10px;
}
/* line 120, sass/modules/_header.scss */
header.topbar .section-name span {
  margin-left: 7px;
  font-family: "ITC Franklin Gothic Std", "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 12.5px;
  text-transform: uppercase;
  color: #33331E;
}
/* line 131, sass/modules/_header.scss */
header.topbar .header-article {
  display: none;
}
/* line 135, sass/modules/_header.scss */
header.topbar img.logo {
  vertical-align: middle;
  margin-top: -2px;
  height: 20px;
}
/* line 140, sass/modules/_header.scss */
header.topbar nav {
  display: inline-block;
  vertical-align: top;
  font-family: "ITC Franklin Gothic Std", "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #373737;
  margin-left: 20px;
}
/* line 148, sass/modules/_header.scss */
header.topbar nav ul {
  line-height: 48px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 153, sass/modules/_header.scss */
header.topbar nav ul li {
  display: inline-block;
  padding: 0 15px;
  height: 45px;
}
/* line 157, sass/modules/_header.scss */
header.topbar nav ul li a {
  display: inline-block;
}
/* line 160, sass/modules/_header.scss */
header.topbar nav ul li.current, header.topbar nav ul li:hover {
  border-bottom: 3px solid #3490d6;
}
/* line 167, sass/modules/_header.scss */
header.topbar h1.nav-headline {
  display: inline-block;
  font-family: "ITC Franklin Gothic Std", "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #373737;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}
/* line 178, sass/modules/_header.scss */
header.topbar a.icon-logo {
  display: inline-block;
  width: 20px;
  overflow: hidden;
  vertical-align: middle;
  margin-top: -2px;
}

@font-face {
  font-family: 'ub-minion-pro';
  src: url("fonts/MinionPro-Bold_gdi.eot");
  src: url("fonts/MinionPro-Bold_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/MinionPro-Bold_gdi.woff") format("woff"), url("fonts/MinionPro-Bold_gdi.ttf") format("truetype"), url("fonts/MinionPro-Bold_gdi.svg#MinionPro-Bold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'ub-minion-pro';
  src: url("fonts/MinionPro-BoldIt_gdi.eot");
  src: url("fonts/MinionPro-BoldIt_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/MinionPro-BoldIt_gdi.woff") format("woff"), url("fonts/MinionPro-BoldIt_gdi.ttf") format("truetype"), url("fonts/MinionPro-BoldIt_gdi.svg#MinionPro-BoldIt") format("svg");
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'ub-lft-etica';
  src: url("fonts/LFTEtica-Bold_gdi.eot");
  src: url("fonts/LFTEtica-Bold_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/LFTEtica-Bold_gdi.woff") format("woff"), url("fonts/LFTEtica-Bold_gdi.ttf") format("truetype"), url("fonts/LFTEtica-Bold_gdi.svg#LFTEtica-Bold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'ub-lft-etica';
  src: url("fonts/LFTEtica-Regular_gdi.eot");
  src: url("fonts/LFTEtica-Regular_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/LFTEtica-Regular_gdi.woff") format("woff"), url("fonts/LFTEtica-Regular_gdi.ttf") format("truetype"), url("fonts/LFTEtica-Regular_gdi.svg#LFTEtica-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
/* line 3, sass/modules/_homepage.scss */
img.featured {
  width: 100%;
}

/* line 7, sass/modules/_homepage.scss */
div.homepage-section {
  margin-bottom: 25px;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 25px;
}

/* line 13, sass/modules/_homepage.scss */
div.frontpage-container {
  display: table;
  margin-top: 20px;
}

/* line 18, sass/modules/_homepage.scss */
div.frontpage {
  display: table-row;
}
/* line 22, sass/modules/_homepage.scss */
div.frontpage div.cell {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
}
/* line 26, sass/modules/_homepage.scss */
div.frontpage div.cell.left, div.frontpage div.cell.right {
  width: 29%;
}
/* line 30, sass/modules/_homepage.scss */
div.frontpage div.cell.left {
  padding-right: 15px;
  border-right: 1px solid #E6E6E6;
}
/* line 33, sass/modules/_homepage.scss */
div.frontpage div.cell.left article, div.frontpage div.cell.left ul.article-headlines {
  border-bottom: 1px dotted #C8C8C8;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 37, sass/modules/_homepage.scss */
div.frontpage div.cell.left article:first-child, div.frontpage div.cell.left ul.article-headlines:first-child {
  padding-top: 0;
}
/* line 40, sass/modules/_homepage.scss */
div.frontpage div.cell.left article:last-child, div.frontpage div.cell.left ul.article-headlines:last-child {
  border-bottom: none;
}
/* line 45, sass/modules/_homepage.scss */
div.frontpage div.cell.middle {
  width: 42%;
  padding: 0 15px;
  border-right: 1px solid #E6E6E6;
}
/* line 51, sass/modules/_homepage.scss */
div.frontpage div.cell.right {
  padding-left: 15px;
}
/* line 57, sass/modules/_homepage.scss */
div.frontpage article h1, div.frontpage article h2, div.frontpage li h1, div.frontpage li h2 {
  font-family: "ub-minion-pro", "Georgia", serif;
  margin: 3px 0;
}
/* line 63, sass/modules/_homepage.scss */
div.frontpage article.primary img, div.frontpage li.primary img {
  width: 100%;
}
/* line 66, sass/modules/_homepage.scss */
div.frontpage article.primary h1, div.frontpage li.primary h1 {
  margin: 8px 0;
  font-size: 1.85714em;
  line-height: 32px;
}
/* line 71, sass/modules/_homepage.scss */
div.frontpage article.primary.feature, div.frontpage li.primary.feature {
  text-align: center;
}
/* line 73, sass/modules/_homepage.scss */
div.frontpage article.primary.feature h1, div.frontpage li.primary.feature h1 {
  margin: 15px 0;
}
/* line 79, sass/modules/_homepage.scss */
div.frontpage article.secondary h2, div.frontpage li.secondary h2 {
  margin-top: 0;
  font-size: 21px;
  line-height: 27px;
}
/* line 87, sass/modules/_homepage.scss */
div.frontpage article.thumb .left, div.frontpage li.thumb .left {
  width: 35%;
  margin-right: 15px;
}
/* line 91, sass/modules/_homepage.scss */
div.frontpage article.thumb .left img, div.frontpage li.thumb .left img {
  width: 100%;
}
/* line 95, sass/modules/_homepage.scss */
div.frontpage article.thumb h2, div.frontpage li.thumb h2 {
  font-size: 15px;
  line-height: 20px;
  margin: 0;
}

/* line 104, sass/modules/_homepage.scss */
div.container.large {
  max-width: 1260px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* line 114, sass/modules/_homepage.scss */
div.sections {
  float: left;
  width: 71%;
  border-right: 1px solid #E6E6E6;
  box-sizing: border-box;
  padding-right: 20px;
}
/* line 121, sass/modules/_homepage.scss */
div.sections section {
  box-sizing: border-box;
  padding-bottom: 25px;
  border-bottom: 1px solid #E0E0E0;
}
/* line 125, sass/modules/_homepage.scss */
div.sections section:last-child {
  border: none;
}
/* line 129, sass/modules/_homepage.scss */
div.sections section.homepage {
  width: 100%;
}
/* line 132, sass/modules/_homepage.scss */
div.sections section.homepage .left, div.sections section.homepage .right {
  box-sizing: border-box;
}
/* line 136, sass/modules/_homepage.scss */
div.sections section.homepage.section-1 .left {
  padding-right: 15px;
}
/* line 139, sass/modules/_homepage.scss */
div.sections section.homepage.section-1 .right {
  border-left: 1px solid #E6E6E6;
  padding-left: 15px;
}

/* line 152, sass/modules/_homepage.scss */
h1.section {
  font-family: "ub-lft-etica", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 26px;
  color: #242424;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 25px 0;
}
/* line 160, sass/modules/_homepage.scss */
h1.section:first-child {
  margin-top: 0;
}

/* line 167, sass/modules/_homepage.scss */
article.section-top {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #E0E0E0;
}
/* line 168, sass/modules/_homepage.scss */
article.section-top .left {
  float: left;
  width: 40%;
  margin-right: 20px;
}

/* line 179, sass/modules/_homepage.scss */
article.stacked {
  border-bottom: 1px dotted #C8C8C8;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
/* line 183, sass/modules/_homepage.scss */
article.stacked:last-child {
  padding: 0;
  margin: 0;
  border: none;
}

/* line 192, sass/modules/_homepage.scss */
ul.article-headlines {
  padding-left: 22px;
  margin: 0;
}
/* line 195, sass/modules/_homepage.scss */
ul.article-headlines li {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 7px;
}
/* line 199, sass/modules/_homepage.scss */
ul.article-headlines li:last-child {
  margin-bottom: 0;
}
/* line 202, sass/modules/_homepage.scss */
ul.article-headlines li a {
  display: block;
}
/* line 205, sass/modules/_homepage.scss */
ul.article-headlines li h2 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 800;
  margin: 0;
}

/* line 214, sass/modules/_homepage.scss */
article.column {
  box-sizing: border-box;
  float: left;
  width: 33.3%;
  padding: 0 10px;
}
/* line 219, sass/modules/_homepage.scss */
article.column:first-child {
  padding-left: 0;
}
/* line 222, sass/modules/_homepage.scss */
article.column:last-child {
  padding-right: 0;
}
/* line 225, sass/modules/_homepage.scss */
article.column h4.headline {
  font-size: 16px;
  line-height: 21px;
  margin: 0;
}

/* line 237, sass/modules/_homepage.scss */
div.featured-image-container {
  overflow: hidden;
  float: left;
  width: 72px;
  height: 72px;
  margin-right: 12px;
  margin-bottom: 5px;
}
/* line 244, sass/modules/_homepage.scss */
div.featured-image-container img {
  width: auto;
  height: 100%;
}

/* line 250, sass/modules/_homepage.scss */
p.snippet {
  font-family: Georgia;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 21px;
  color: #363636;
}

/* line 262, sass/modules/_homepage.scss */
h1.headline, h2.headline, h3.headline, h4.headline, h5.headline {
  margin: 7px 0;
  font-family: "ub-minion-pro", "Georgia", serif;
  font-weight: 800;
}
/* line 266, sass/modules/_homepage.scss */
h1.headline:first-child, h2.headline:first-child, h3.headline:first-child, h4.headline:first-child, h5.headline:first-child {
  margin-top: 0;
}
/* line 269, sass/modules/_homepage.scss */
h1.headline a, h2.headline a, h3.headline a, h4.headline a, h5.headline a {
  color: inherit;
  text-decoration: none;
}
/* line 272, sass/modules/_homepage.scss */
h1.headline a:hover, h2.headline a:hover, h3.headline a:hover, h4.headline a:hover, h5.headline a:hover {
  color: #0071c9;
}

/* line 279, sass/modules/_homepage.scss */
h3.headline {
  font-size: 24px;
  line-height: 32px;
  margin: 10px 0;
}

/* line 285, sass/modules/_homepage.scss */
h4.headline {
  font-size: 17px;
  line-height: 25px;
}

/* line 290, sass/modules/_homepage.scss */
span.byline {
  font-family: "ub-lft-etica", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 0.75em;
  letter-spacing: 0.035em;
  display: block;
  margin: 10px 0;
  text-transform: uppercase;
}
/* line 298, sass/modules/_homepage.scss */
span.byline span.author {
  font-weight: 600;
  color: #505050;
}
/* line 302, sass/modules/_homepage.scss */
span.byline span.published {
  font-weight: 500;
  color: #777;
}

/* line 311, sass/modules/_homepage.scss */
div.multi-zone h2.title {
  text-align: center;
  font-family: "ub-lft-etica", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  border-style: dotted;
  border-color: #C8C8C8;
  border-width: 1px 0;
  margin-top: 0;
  margin-bottom: 15px;
  padding: 10px 0;
}
/* line 324, sass/modules/_homepage.scss */
div.multi-zone article.featured img.featured-image {
  width: 75%;
}

/* line 332, sass/modules/_homepage.scss */
div.sidebar-home {
  padding-left: 20px;
  padding-right: 20px;
  float: left;
  box-sizing: border-box;
  width: 29%;
}
/* line 339, sass/modules/_homepage.scss */
div.sidebar-home .sidebar-block {
  padding-top: 25px;
  margin-top: 25px;
  border-top: 1px solid #E6E6E6;
}
/* line 343, sass/modules/_homepage.scss */
div.sidebar-home .sidebar-block:first-child {
  padding-top: 0;
  border-top: none;
}
/* line 347, sass/modules/_homepage.scss */
div.sidebar-home .sidebar-block h2.block-title {
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
  font-family: "ub-lft-etica", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

/* line 359, sass/modules/_homepage.scss */
div.advert.box {
  text-align: center;
}

/* line 365, sass/modules/_homepage.scss */
div.article-list ul, div.article-list ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 370, sass/modules/_homepage.scss */
div.article-list ul > li, div.article-list ol > li {
  border-bottom: 1px dotted #C8C8C8;
}
/* line 372, sass/modules/_homepage.scss */
div.article-list ul > li h2.headline, div.article-list ol > li h2.headline {
  font-family: "ub-minion-pro", "Georgia", serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  margin: 2px 0;
}
/* line 379, sass/modules/_homepage.scss */
div.article-list ul > li a, div.article-list ol > li a {
  display: block;
}
/* line 382, sass/modules/_homepage.scss */
div.article-list ul > li:last-child, div.article-list ol > li:last-child {
  border-bottom: none;
}
/* line 389, sass/modules/_homepage.scss */
div.article-list ul > li {
  display: block;
  overflow: auto;
  margin-top: 12px;
  padding-bottom: 12px;
}
/* line 394, sass/modules/_homepage.scss */
div.article-list ul > li div.featured-image-container {
  margin-bottom: 0;
}
/* line 399, sass/modules/_homepage.scss */
div.article-list ol {
  counter-reset: ol-counter;
}
/* line 401, sass/modules/_homepage.scss */
div.article-list ol > li {
  margin: 18px 0;
  position: relative;
  padding-bottom: 15px;
  padding-left: 40px;
}
/* line 402, sass/modules/_homepage.scss */
div.article-list ol > li h2.headline {
  font-weight: normal;
}
/* line 409, sass/modules/_homepage.scss */
div.article-list ol > li a {
  display: inline-block;
}
/* line 412, sass/modules/_homepage.scss */
div.article-list ol > li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}
/* line 417, sass/modules/_homepage.scss */
div.article-list ol > li:before {
  font-family: "ITC Franklin Gothic Std", "Proxima Nova", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  leter-spacing: 0.75px;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #323232;
  content: counter(ol-counter) ".";
  counter-increment: ol-counter;
}

/* line 6, sass/main.scss */
body {
  padding: 0;
  margin: 0;
}

/* line 11, sass/main.scss */
main.article {
  width: 960px;
  margin-top: 56px;
  margin-left: auto;
  margin-right: auto;
}

/* line 19, sass/main.scss */
div.advertisement.leaderboard {
  padding: 25px 0;
  text-align: center;
}
/* line 20, sass/main.scss */
div.advertisement.leaderboard.homepage {
  padding-bottom: 0;
}

/* line 28, sass/main.scss */
div.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* line 35, sass/main.scss */
main.article article h1.headline {
  border-top: 2px solid #3E3E3E;
  border-bottom: 1px solid #D2D2D2;
  font-family: "ub-minion-pro", "Georgia", serif;
  font-size: 30px;
  color: #000000;
  line-height: 46px;
  padding: 25px 0;
  margin: 0;
}
/* line 46, sass/main.scss */
main.article article div.article-content {
  max-width: 585px;
}
/* line 48, sass/main.scss */
main.article article div.article-content p {
  /* font-family: MinionPro-Regular; */
  /* font-size: 18px; */
  font-family: Georgia;
  font-size: 16px;
  color: #333333;
  line-height: 26px;
  margin-top: 20px;
}
/* line 56, sass/main.scss */
main.article article div.article-content p:first-child {
  margin-top: 5px;
}
/* line 61, sass/main.scss */
main.article article div.article-info {
  padding: 25px 0;
  color: #222222;
}
/* line 64, sass/main.scss */
main.article article div.article-info div.article-byline {
  float: left;
  font-size: 12px;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
/* line 70, sass/main.scss */
main.article article div.article-info div.article-byline span.author {
  font-family: LFTEtica-Bold;
}
/* line 74, sass/main.scss */
main.article article div.article-info div.article-byline span.published {
  font-family: LFTEtica-Regular;
}
/* line 78, sass/main.scss */
main.article article div.article-info div.article-social-top {
  float: right;
}
/* line 80, sass/main.scss */
main.article article div.article-info div.article-social-top ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 84, sass/main.scss */
main.article article div.article-info div.article-social-top ul li {
  display: inline;
  margin-left: 20px;
}
/* line 87, sass/main.scss */
main.article article div.article-info div.article-social-top ul li a {
  font-family: "LFT Etica";
  font-weight: 300;
  font-size: 12px;
}
/* line 91, sass/main.scss */
main.article article div.article-info div.article-social-top ul li a i, main.article article div.article-info div.article-social-top ul li a span {
  vertical-align: middle;
}
/* line 94, sass/main.scss */
main.article article div.article-info div.article-social-top ul li a i {
  margin-right: 8px;
  font-size: 16px;
}

/* line 105, sass/main.scss */
div.right-column {
  padding: 0 0 40px 40px;
  float: right;
  position: relative;
}
/* line 109, sass/main.scss */
div.right-column div.featured-image {
  width: 500px;
}

/* line 114, sass/main.scss */
div.right-column img {
  width: 100%;
}

/* line 118, sass/main.scss */
div.side {
  float: right;
}

/* line 122, sass/main.scss */
div.sidebar {
  position: absolute;
  right: 0;
  width: 300px;
}
/* line 126, sass/main.scss */
div.sidebar.offset {
  margin-top: 4em;
}

/* line 131, sass/main.scss */
div.article-image {
  margin: 40px 0;
}

/* line 135, sass/main.scss */
div.article-image img {
  width: 100%;
}

/* line 139, sass/main.scss */
div.caption {
  margin-top: 6px;
  font-family: MinionPro-Regular;
  font-size: 15px;
  color: #5A5A5A;
  line-height: 19px;
}

/* line 147, sass/main.scss */
span.credit {
  font-style: italic;
  color: #969696;
  margin-left: 4px;
}

/* line 153, sass/main.scss */
div.slideshow {
  display: none;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
}
/* line 162, sass/main.scss */
div.slideshow.visible {
  display: block;
}

/* line 167, sass/main.scss */
div.image-container {
  height: 100%;
  display: table;
  margin: 0 auto;
  max-width: 90%;
}

/* line 174, sass/main.scss */
div.image-inner {
  display: table-cell;
  vertical-align: middle;
}

/* line 179, sass/main.scss */
p.slide-caption {
  font-family: MinionPro-Regular;
  font-size: 15px;
  color: #c3c3c3;
  line-height: 19px;
}

/* line 189, sass/main.scss */
img.article-attachment:hover {
  cursor: pointer;
}

/* line 193, sass/main.scss */
img.slide-image {
  max-width: 100%;
}

/* line 197, sass/main.scss */
div.navigation {
  color: white;
  font-family: "LFT Etica";
  font-size: 13px;
  text-align: center;
}

/* line 204, sass/main.scss */
div.navigation a {
  display: inline-block;
  padding: 6px 9px;
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 12px;
}

/* line 213, sass/main.scss */
div.navigation a:hover {
  color: black;
  background: #fff;
}

/* line 218, sass/main.scss */
.no-scroll {
  overflow: hidden;
}
