/* line 1, sass/mobile.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 6, sass/mobile.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  text-align: center;
  width: 100%;
  padding: 25px 0;
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.83) 2%, transparent 100%);
}
/* line 17, sass/mobile.scss */
header img {
  width: 175px;
  margin-left: 30px;
}
/* line 22, sass/mobile.scss */
header a.menu {
  float: right;
  line-height: 50px;
  margin-right: 30px;
  font-size: 22px;
  color: white;
}

/* line 31, sass/mobile.scss */
.main {
  width: 100%;
  background: #0071c9;
}

/* line 36, sass/mobile.scss */
.front-image {
  height: 375px;
  width: 100%;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 44, sass/mobile.scss */
article {
  width: 100%;
}
/* line 46, sass/mobile.scss */
article .meta {
  position: relative;
  z-index: 200;
  font-family: "LFT Etica";
  color: #fff;
  padding: 25px 15px;
}
/* line 52, sass/mobile.scss */
article .meta p {
  margin-bottom: 0;
  font-family: LFT Etica;
  font-weight: lighter;
  letter-spacing: 0.5px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.53);
  line-height: 17px;
}
/* line 61, sass/mobile.scss */
article .meta h1 {
  font-family: LFT Etica;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}
/* line 69, sass/mobile.scss */
article img {
  display: block;
  width: 100%;
  margin: 0;
}

/* line 78, sass/mobile.scss */
article:first-child .image {
  display: block;
}
/* line 81, sass/mobile.scss */
article:first-child .meta {
  background: rgba(255, 255, 255, 0);
}

/* line 86, sass/mobile.scss */
article:nth-child(2) .meta {
  background: rgba(255, 255, 255, 0.15);
}

/* line 90, sass/mobile.scss */
article:nth-child(3) .meta {
  background: rgba(255, 255, 255, 0.25);
}

/* line 94, sass/mobile.scss */
article:nth-child(4) .meta {
  background: rgba(255, 255, 255, 0.35);
}

/* line 98, sass/mobile.scss */
article:nth-child(5) .meta {
  background: rgba(255, 255, 255, 0.45);
}

/* line 102, sass/mobile.scss */
article:nth-child(6) .meta {
  background: rgba(255, 255, 255, 0.15);
}
