{% extends 'manager/base.html' %}
{% block header %}
{% include 'admin/article/toolbar.html' %}
    <div class="save-buttons">
        <button class="submit-article sq-button green" type="submit">Save</button>
        <button class="publish-article sq-button" type="submit">Publish</button>
        <a class="sq-button red" href="{% url 'apps.manager.views.article_delete' article.id %}">Delete</a>
        <a class="sq-button" href="http://localhost:8000/{{ article.section.name|lower }}/{{ article.slug }}/?preview" target="_blank">Preview</a>
    </div>
{% endblock %}
{% block content %}
<form class="article-form" data-id="{{ article.id }}" data-csrf="{{ csrf_token }}" action="" method="post">
    {% csrf_token %}
    <div class="content panel">
        <div class="inner">
        <div class="field-row headline">
            {{ form.long_headline.errors }}
            {{ form.long_headline }}
            <div class="authors field-authors">
            {% if authors %}
                <span>By {{ author_string }}</span>
            {% else %}
                <span>By {{ person.full_name}}</span>
            {% endif %}
                <button class="dis-button edit-authors" style="margin-left: 10px;">Edit authors</button>
            </div>
            <div class="manage-authors">
                <ul class="author-list">
                {% for person in authors %}
                    <li data-id="{{ person.id }}"><span>{{ person.full_name }}<a href="#" class="delete-author"><i class="fa fa-close"></i></a></span></li>
                {% endfor %}
                </ul>
                <input type="text" class="add-author" />
                <div class="author-dropdown"></div>
                <input class="input-authors" type="hidden" name="authors-list" value="{{ authors_list }}" />
            </div>
        </div>
        <div class="field-row content">
            <div id="editor">
            </div>
            {{ form.content.errors }}
            {{ form.content }}
            <input type="hidden" name="attachment-list" class="attachment-field" />
            <script id="inline-toolbar" type="text/html-template">
                <div class="side-button">
                    <button class="tb-toolbar"><span>+</span></button>
                </div>
                <div class="toolbar">
                    <button class="tb-image dis-button" data-modal="image-manager">Image</button>
                    <button class="tb-ad dis-button">Ad block</button>
                    <button class="tb-shortcode dis-button">Shortcode</button>
                </div>
            </script>
            <script id="image-tools" type="text/html-template">
                <div class="inner">
                    <div class="tools">
                        <button class="dark-button">Add caption</button>
                        <button id="remove-image" class="dark-button">Remove from article</button>
                        <span class="caption"></span>
                    </div>
                </div>
            </script>
            <script id="image-previewa" type="text/html-template">
                <div class="dz-preview dz-file-preview">
                  <div class="dz-details">
                    <div class="dz-filename"><span data-dz-name></span></div>
                    <div class="dz-size" data-dz-size></div>
                    <img data-dz-thumbnail />
                  </div>
                  <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                  <div class="dz-success-mark"><span>✔</span></div>
                  <div class="dz-error-mark"><span>✘</span></div>
                  <div class="dz-error-message"><span data-dz-errormessage></span></div>
                </div>
            </script>
        </div>
        </div>
    </div>
    <div class="options panel">
        <nav class="edit-tabs">
            <ul>
                <li><a href="#basic-fields">Basic</a></li>
                <li><a href="#media-fields">Featured Image</a></li>
                <li><a href="#tags-fields">Tags & Topics</a></li>
                <li><a href="#developer-fields">Developer</a></li>
                <li><a href="#images-fields">Images</a></li>
            </ul>
        </nav>
        <div id="basic-fields" class="fieldset tab basic">
            <div class="field">
                {{ form.published_at.errors }}
                <label for="{{ form.published_at.id_for_label }}">Publish on:</label>
                {{ form.published_at.as_hidden }}
                <input type="text" name="published_at_date" data-value=""/>
                <input type="text" name="published_at_time" data-value=""/>
            </div>
            <div class="field">
                {{ form.section.errors }}
                <label for="{{ form.section.id_for_label }}">Section:</label>
                {{ form.section }}
            </div>
            <div class="field">
                <label for="{{ form.importance.id_for_label }}">Importance:</label>
                {{ form.importance}}
            </div>
            {{ form.slug.errors }}
            <div class="field">
                <label for="{{ form.slug.id_for_label }}">Slug:</label>
                {{ form.slug }}
            </div>
            <div class="field">
                <label for="{{ form.short_headline.id_for_label }}">Short headline:</label>
                {{ form.short_headline.errors }}
                {{ form.short_headline }}
            </div>
        </div>
        <div id="media-fields" class="fieldset tab media">
            <div class="field">
                {{ form.featured_image.errors }}
                {{ form.featured_image.as_hidden }}
                <a class="set-featured-image" data-modal="image-manager">
                    <img class="featured-image" src="http://dispatch.dev:8888/media/{{ article.featured_image.image.img }}"/>
                </a>
                {{ featured_form.image.as_hidden }}
                <br/>
                <div class="field">
                    <label for="{{ featured_form.caption.id_for_label }}">Caption:</label>
                    {{ featured_form.caption }}
                </div>
                <div class="field">
                    <label for="{{ featured_form.type.id_for_label }}">Type:</label>
                    {{ featured_form.type }}
                </div>
            </div>
        </div>
        <div id="tags-fields" class="fieldset tab tags">
            <div class="field">
                <input class="input-tags" type="hidden" name="tags-list" value="{{ tags }}" />
            </div>
            <div class="field">
                <input class="input-topics" type="hidden" name="topics-list" value="{{ topics }}" />
            </div>
        </div>
        <div id="images-fields" class="fieldset tab images">
            <div id="attachments-form">
                {% for field in images_form %}
                    <img id="attachment-thumb-" class="attachment-thumb" data-id="{{ field.id.value }}" src="" />
                    {{ field.label_tag }}
                    {{ field.id }}
                    {{ field.caption }}
                    {{ field.type }}
                    {{ field.image.as_hidden }}
                    {{ field.DELETE }}
                    <br/>
                {% endfor %}
            </div>

            <script id="attachment-template" type="text/html-template">
                <img id="attachment-thumb-__prefix__" src="" />
                {{ images_form.empty_form.id }}
                {{ images_form.empty_form.caption}}
                {{ images_form.empty_form.type }}
                {{ images_form.empty_form.image.as_hidden }}
                {{ images_form.empty_form.DELETE }}
            </script>

            {{ images_form.management_form }}
        </div>
    </div>
</div>
</form>
{% endblock %}
{% block modals %}
<div id="modals">

</div>
{% endblock %}