{% extends 'manager/base.html' %}
{% block header %}
{% include 'admin/article/toolbar.html' %}
{% endblock %}
{% block content %}
<form class="article-form" data-id="{{ article.id }}" action="" method="post">
    {% csrf_token %}
    <div class="content panel">
        <div class="inner">
        <div class="field-row headline">
            {{ form.long_headline.errors }}
            {{ form.long_headline }}
            <div class="authors field-authors">
            {% if article.authors.all %}
                <span>By {{ article.authors.all.0.full_name}}</span>
                <button class="dis-button" style="margin-left: 10px;">Change author</button>
                <button class="dis-button">Add author</button>
            {% endif %}
            </div>
        </div>
        <div class="field-row content">
            <div id="editor">
            </div>
            {{ form.content.errors }}
            {{ form.content }}
            <input type="hidden" name="attachment-list" class="attachment-field" />
            <script id="inline-toolbar" type="text/html-template">
                <div class="side-button">
                    <button class="tb-toolbar"><span>+</span></button>
                </div>
                <div class="toolbar">
                    <button class="tb-image dis-button" data-modal="image-manager">Image</button>
                    <button class="tb-ad dis-button">Ad block</button>
                    <button class="tb-shortcode dis-button">Shortcode</button>
                </div>
            </script>
            <script id="image-tools" type="text/html-template">
                <div class="inner">
                    <div class="tools">
                        <button class="dark-button">Add caption</button>
                        <button id="remove-image" class="dark-button">Remove from article</button>
                    </div>
                </div>
            </script>
            <script id="image-preview" type="text/html-template">
                <div class="dz-preview dz-file-preview">
                  <div class="dz-details">
                    <div class="dz-filename"><span data-dz-name></span></div>
                    <div class="dz-size" data-dz-size></div>
                    <img data-dz-thumbnail />
                  </div>
                  <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                  <div class="dz-success-mark"><span>✔</span></div>
                  <div class="dz-error-mark"><span>✘</span></div>
                  <div class="dz-error-message"><span data-dz-errormessage></span></div>
                </div>
            </script>
        </div>
        </div>
    </div>
    <div class="options panel">
        <nav class="edit-tabs">
            <ul>
                <li><a href="#">Basic</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="#">Assets</a></li>
                <li><a href="#">Social</a></li>
                <li><a href="#">Developer</a></li>
            </ul>
        </nav>
        <div class="fieldset tab basic">
            <div class="field">
                {{ form.published_at.errors }}
                <label for="{{ form.published_at.id_for_label }}">Publish on:</label>
                {{ form.published_at }}
            </div>
            <div class="field">
                {{ form.authors.errors }}
                <label for="{{ form.authors.id_for_label }}">Authors:</label>
                {{ form.authors }}
            </div>
            <div class="field">
                {{ form.section.errors }}
                <label for="{{ form.section.id_for_label }}">Section:</label>
                {{ form.section }}
            </div>
            {{ form.slug.errors }}
            <label for="{{ form.slug.id_for_label }}">Slug:</label>
            {{ form.slug }}<br/>
            {{ form.short_headline.errors }}
            {{ form.short_headline }}
            <a href="http://localhost:8000/{{ article.section.name|lower }}/{{ article.slug }}/" target="_blank">{{ article.slug }}</a>
            <div class="field">
                <input class="input-tags" type="hidden" name="tags-list" value="{{ tags }}" />
            </div>
            <div class="field">
                <input class="input-topics" type="hidden" name="topics-list" value="{{ topics }}" />
            </div>
        </div>
        <button class="submit-article" type="submit">Save</button>
        <div class="fieldset media" style="display: none;">
            <ul class="images-list">
                {% for a in article.attachment_set.all %}<li data-id="{{ a.id }}" style="background-image: url('http://dispatch.dev:8888/media/{{ a.image.get_thumbnail_url }}');"></li>{% endfor %}
            </ul>
            <button class="modal-trigger" data-modal="image-manager">Add images</button>
        </div>
    </div>
</div>
</form>
{% endblock %}
{% block modals %}
<div class="modal image-manager">
    <div class="body">
        <div id="image-manager" class="content">
            <div class="header">
                <nav class="edit-tabs">
                    <ul>
                        <li><a href="#image-catalog">Catalog</a></li>
                        <li><a class="upload-images">Upload</a></li>
                    </ul>
                </nav>
            </div>
            <div id="image-catalog" class="tab">
                <ul id="image-dropzone" class="image-results dropzone">
                </ul>
                {% csrf_token %}
                <div class="image-meta">
                    test
                </div>
                <div class="footer">
                    <button class="insert-image">Insert</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}