{% extends 'manager/base.html' %}
{% block header %}
{% include 'admin/article/toolbar.html' %}
{% endblock %}
{% block content %}
<form class="article-form" data-id="{{ article.id }}" action="" method="post">
    {% csrf_token %}
    <div class="content panel">
        <div class="inner">
        <div class="field-row headline">
            {{ form.long_headline.errors }}
            {{ form.long_headline }}
            <div class="authors field-authors">
            {% if article.authors.all %}
                <span>By {{ article.authors.all.0.full_name}}</span>
                <button class="dis-button" style="margin-left: 10px;">Change author</button>
                <button class="dis-button">Add author</button>
            {% endif %}
            </div>
        </div>
        <div class="field-row content">
            <div id="editor">
            </div>
            {{ form.content.errors }}
            {{ form.content }}
            <script id="inline-toolbar">
                <div class="side-button">
                    <button class="tb-toolbar"><span>+</span></button>
                </div>
                <div class="toolbar">
                    <button class="tb-image dis-button" data-modal="image-manager">Image</button>
                    <button class="tb-ad dis-button">Ad block</button>
                    <button class="tb-shortcode dis-button">Shortcode</button>
                </div>
            </script>
            <script id="image-tools">
                <div class="inner">
                    <div class="tools">
                        <button class="dark-button">Add caption</button>
                        <button class="dark-button">Remove from article</button>
                    </div>
                </div>
            </script>
        </div>
        </div>
    </div>
    <div class="options panel">
        <nav class="edit-tabs">
            <ul>
                <li><a href="#">Basic</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="#">Assets</a></li>
                <li><a href="#">Social</a></li>
                <li><a href="#">Developer</a></li>
            </ul>
        </nav>
        <div class="fieldset tab basic">
            <div class="field">
                {{ form.published_at.errors }}
                <label for="{{ form.published_at.id_for_label }}">Publish on:</label>
                {{ form.published_at }}
            </div>
            <div class="field">
                {{ form.authors.errors }}
                <label for="{{ form.authors.id_for_label }}">Authors:</label>
                {{ form.authors }}
            </div>
            <div class="field">
                {{ form.section.errors }}
                <label for="{{ form.section.id_for_label }}">Section:</label>
                {{ form.section }}
            </div>
            {{ form.slug.errors }}
            <label for="{{ form.slug.id_for_label }}">Slug:</label>
            {{ form.slug }}<br/>
            {{ form.short_headline.errors }}
            {{ form.short_headline }}
            <a href="http://localhost:8000/{{ article.section.name|lower }}/{{ article.slug }}/" target="_blank">{{ article.slug }}</a>
            <div class="field">
                <input class="input-tags" type="hidden" name="tags-list" value="{{ tags }}" />
            </div>
            <div class="field">
                <input class="input-topics" type="hidden" name="topics-list" value="{{ topics }}" />
            </div>
        </div>
        <button type="submit">Save</button>
        <div class="fieldset media" style="display: none;">
            <ul class="images-list">
                {% for a in article.attachment_set.all %}<li data-id="{{ a.id }}" style="background-image: url('http://dispatch.dev:8888/media/{{ a.image.get_thumbnail_url }}');"></li>{% endfor %}
            </ul>
            <button class="modal-trigger" data-modal="image-manager">Add images</button>
        </div>
    </div>
</div>
</form>
<div class="modal image-manager">
    <div class="body">
        <div id="image-manager" class="content">
            <ul>
                <li><a href="#image-catalog">Catalog</a></li>
                <li><a href="#image-upload">Upload</a></li>
            </ul>
            <button class="insert-image">Insert</button>
            <div id="image-catalog">
                <div class="header">
                    <input type="text" class="image-search" />
                </div>
                <div class="row">
                    <div class="col-8">
                        <ul class="image-results"></ul>
                    </div>
                    <div class="col-4 image-detail">
                        <input class="image-caption" type="text" placeholder="Caption"/>
                    </div>
                </div>
            </div>
            <div id="image-upload">
                <form class="image-form" action="http://localhost:8000/api/image/" method="POST" enctype="multipart/form-data">
                     {% csrf_token %}
                     <input class="image-field" name="img" type="file" />
                     <button class="upload-image">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<script>

</script>
