{% extends 'base.html' %}
{% load staticfiles %}
{% block header %}
    {% include 'headers/topbar.html' %}
    {% include 'headers/mobile.html' %}
{% endblock %}
{% block content %}
    <main class="author">
        <div class="container padded">
            <h1>{{ page.title }}</h1>
            <div class="row">
                <div class="seven columns">
                    <div class="article-content">
                        {{ page.get_html|safe }}
                    </div>
                </div>
                <div class="five columns u-text-right">
                    <div class="advertisement box sidebar">
                        <div class="adslot" id="div-gpt-ad-1443288719995-15" data-size="box" data-dfp="News_BoxA_300x250"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}