// Utilities
@import 'utilities/fonts';
@import 'utilities/reset';
@import 'utilities/containers';
@import 'utilities/flex';

@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@blueprintjs/datetime/lib/css/blueprint-datetime.css';
@import './bootstrap-grid.min.css';

* {
  &:focus {
    outline: none;
  }
}

html, body {
  font-family: $font-family-default;
  font-size: 14px;
  height: 100%;
}

html {
    overflow: hidden;
}

body {
    overflow: auto;
}

strong {
  font-weight: $font-weight-semi-bold;
}
