.c-article-sidebar {
  flex: 1;

  border-left: 1px solid rgb(228, 228, 228);
  
  &.expanded {
    right: -600px;
  }

  box-shadow: rgba(0, 0, 0, 0.13) 0px 0px 5px;
  transition: right 0.3s ease-in-out;

  div.fieldset {
    div.col:first-child {
      margin-right: 15px;
    }
  }
}
