.dashboard_container {
  margin: 2%;
}

.dashboard_container h2 {
  font-size: 1.5em;
  font-weight: bolder;
}

.dashboard_left {
  float: left;
  max-width: 60%;
  font-weight: $font-weight-bold;
}

.dashboard_left ul li {
  margin-top: 20px;
  border-top: 1px solid $color-border-gray-dark;
  padding-top: 20px;
}

.dashboard_left ul li i {
  margin: 0 2%;
  float: left;
  // this is a little hacky, the 1px height is to give it some height so the div doesn't overflow underneath the icon.
  padding: 1px 0px;
}

.dashboard_left ul li span {
  color: $color-text-gray;
  white-space: nowrap;
}

.dashboard_right {
  float: right;
  max-width: 38%;
}

.dashboard_quick_actions ul li{
  display: inline;
  padding-right: 1%;
}

.dashboard_quick_actions {
  margin-bottom: 2%;
  padding-top: 2%;
}

.dashboard_recent_articles {
  border: 1px solid $color-border-gray-dark;
}

.dashboard_recent_articles h2 {
  background-color: $color-bg-gray-dark;
  padding: 2%;
}

.dashboard_recent_articles ul li {
  border-top: 1px solid $color-border-gray;
  padding: 2%;
}
