// Component: Header
.c-header {
  // Structure
  box-sizing: border-box;

  // Background
  background: $color-white;

  // Border
  border-bottom: 1px solid $color-border-gray;

  // Text
  font-family: $font-family-default;
  font-size: 13px;

  // Extra
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
  z-index: $z-index-2;
}

.c-header__inner {
  // Structure
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
}

.c-header__sections {
  // Structure
  flex: 1;
}

.c-header__right {
  // Structure
  align-items: flex-end;
}

.c-header__logo {
  // Structure
  display: block;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 15px;

  // Text
  font-weight: 500;
  text-decoration: none;
  line-height: 40px;
  color: $color-black;

  &:hover {
    color: $color-black;
    background: $color-text-gray-light;
    text-decoration: none;
  }
}

.c-header__logo-icon {
  // Structure
  margin-right: 5px;
}

.c-header__link, .c-header__dropdown, .c-header__dropdown__link {
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 40px;

  > a {
    display: block;
    line-height: 40px;
    font-weight: $font-weight-semi-bold;
    padding: 0 15px;
    color: $color-black;
    text-decoration: none;

    &:hover {
      background: $color-text-gray-light;
    }
  }
}

.c-header__dropdown__link {
  display: block;
}

.c-header__dropdown {
  position: relative;
  z-index: $z-index-2;

  &:hover {
    ul {
      display: block;
    }

    > a {
      background: $color-text-gray-light;
    }
  }

  ul {
    background: $color-white;
    padding: 0;
    position: absolute;
    left: 0;
    width: 150px;
    display: none;

    /// Border
    border: 1px solid #e2e2e2;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    // Extras
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);

  }
}
