// Component: Header
.c-header {
  // Structure
  box-sizing: border-box;

  // Background
  background: $color-steel-blue;

  // Text
  font-family: $font-family-default;
  font-size: 13px;
  color: white;
}

.c-header__inner {
  // Structure
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  padding-right: 20px;
}

.c-header__sections {
  // Structure
  flex: 1;
}

.c-header__right {
  // Structure
  align-items: flex-end;
}

.c-header__logo {
  // Structure
  display: block;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 15px;
  opacity: 0.6;

  // Text
  font-weight: 500;
  text-decoration: none;
  line-height: 40px;
  color: #fff;

  // State: hover
  &:hover {
    opacity: 1;
  }
}

.c-header__logo-icon {
  // Structure
  margin-right: 5px;
}

.c-header__link, .c-header__dropdown, .c-header__dropdown__link {
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 40px;

  > a {
    display: block;
    line-height: 40px;
    padding: 0 15px;
    color: #fff;
    text-decoration: none;

    &:hover {
      background: rgba(0,0,0,0.25);
    }
  }
}

.c-header__dropdown__link {
  display: block;
}

.c-header__dropdown {
  position: relative;
  z-index: $z-index-2;

  &:hover {
    ul {
      display: block;
    }

    > a {
      background: rgba(0,0,0,0.25);
    }
  }

  ul {
    background: rgb(49, 99, 148);
    padding: 0;
    position: absolute;
    left: 0;
    width: 150px;
    display: none;
  }
}
