label.pt-label .pt-input, label.pt-label .pt-select {
  margin-top: 10px;
}

// Component: MultiSelectInput
.c-input--multi-select {
  // Structure
  margin-top: 10px;

  .pt-popover {
    // Structure
    margin-bottom: 1rem;
  }
}

.c-input--multi-select__values {
  // Structure
  margin-bottom: 5px;
}

.c-input--multi-select__no-results {
  // Text
  color: $color-text-gray;
}

.c-input--multi-select__value,
.c-input--multi-select__no-results {
  // Structure
  height: $input-height;
  padding-left: $input-text-padding;
  padding-right: $input-text-padding;

  // Text
  @include font-size($input-font-size);
  line-height: $input-height - 2;
}

.c-input--multi-select__value {
  // Structure
  position: relative;
  display: inline-block;
  margin-right: 0.35rem;
  margin-bottom: 0.5rem;

  // Border
  border: 1px solid $color-border-gray-dark;
  border-radius: $input-text-border-radius;

  // Exrtas
  box-shadow: 0 1px 1px rgba(16, 22, 26, 0.1);
}

.c-input--multi-select__value__icon {
  // Structure
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: $input-height;
  padding-left: $input-text-padding;
  padding-right: $input-text-padding;

  // Text
  line-height: $input-height - 2;

  // Extras
  cursor: pointer;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.c-input--multi-select__dropdown {
  // Structure
  width: 350px;
}

.c-input--multi-select__search {
  // Structure
  padding: 0.5rem;

  // Border
  border-bottom: 1px solid $color-border-gray;
}

// Component: InputGroup
.c-input-group {
  // Structure
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;

  .c-input--button {
    margin-left: 2px;
    margin-right: 2px;
  }
}

// Component: FormInput
.c-form-input {
  // Structure
  padding: 1rem;

  // Border
  border-bottom: 1px solid $color-border-gray;

  &:last-child {
    border-bottom: none;
  }

  // Extras
  .c-input {
    // Structure
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  label.pt-label {
    margin: 0;
  }
}

.c-form-input__label {
  // Structure
  display: block;
  margin-bottom: 7px;

  // Text
  font-weight: $font-weight-bold;
}

// Component: ImageInput

.c-input--image {
  img {
    // Structure
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
  }
}
