$input-height: 30px;
$input-button-padding: 12px;
$input-text-padding: 8px;
$input-button-border-radius: 3px;
$input-text-border-radius: 2px;
$input-font-size: 13;

// Component: Button
// Component: LinkButton
.c-input--button {
  // Structure
  display: inline-block;
  padding-left: $input-button-padding;
  padding-right: $input-button-padding;
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;

  // Border
  border-width: 1px;
  border-style: solid;
  border-radius: $input-button-border-radius;
  border-color: $color-border-gray;

  // Background
  background-color: $color-bg-gray;
  background-image: linear-gradient($color-bg-gray-light, $color-bg-gray);

  // Text
  @include font-size($input-font-size);
  font-family: $font-family-default;
  font-weight: $font-weight-bold;
  color: $color-text-gray;
  line-height: $input-height;
  text-decoration: none;

  // State: hover
  &:hover {
    // Border
    border-color: $color-border-gray-dark;

    // Background
    background-color: $color-bg-gray-dark;
    background-image: linear-gradient($color-bg-gray, $color-bg-gray-dark);

    // Extra
    cursor: pointer;
  }
}

// Component: TextInput
.c-input--text {
  // Structure
  height: $input-height;
  width: 200px;
  padding-left: $input-text-padding;
  padding-right: $input-text-padding;
  margin-left: 5px;
  margin-right: 5px;
  box-sizing: border-box;
  vertical-align: middle;

  // Border
  border: 1px solid $color-border-gray-dark;
  border-radius: $input-text-border-radius;

  // Text
  @include font-size($input-font-size);
  line-height: $input-height;

  // Extras
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);

  &:focus {
    outline: none;
    border-color: $color-border-blue;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075), 0 0 5px rgba(81,167,232,0.5);
  }
}

// Component: MultiSelectInput
.c-input--multi-select {

}

.c-input--multi-select__values {
  // Structure
  margin-bottom: 5px;
}

.c-input--multi-select__value,
.c-input--multi-select__result {
  // Structure
  height: $input-height;
  padding-left: $input-text-padding;
  padding-right: $input-text-padding;

  // Text
  @include font-size($input-font-size);
  line-height: $input-height;
}

.c-input--multi-select__value {
  // Structure
  position: relative;

  // Border
  border-top: 1px solid $color-border-gray-dark;
  border-left: 1px solid $color-border-gray-dark;
  border-right: 1px solid $color-border-gray-dark;

  // Extras
  &:first-of-type {
    border-top-left-radius: $input-text-border-radius;
    border-top-right-radius: $input-text-border-radius;
  }

  &:last-of-type {
    border-bottom-left-radius: $input-text-border-radius;
    border-bottom-right-radius: $input-text-border-radius;
    border-bottom: 1px solid $color-border-gray-dark;
  }

  &:hover .c-input--multi-select__value__icon {
    display: block;
  }
}

.c-input--multi-select__value__icon {
  // Structure
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: $input-height;
  padding-left: $input-text-padding;
  padding-right: $input-text-padding;

  // Text
  line-height: $input-height - 2;

  // Extras
  cursor: pointer;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.c-input--multi-select__add {
  // // Structure
  // height: $input-height;
  // padding-left: $input-text-padding;
  // padding-right: $input-text-padding;
  //
  // // Border
  // border: 1px solid $color-border-gray-dark;
  // border-radius: $input-text-border-radius;
  //
  // // Text
  // @include font-size($input-font-size);
  // line-height: $input-height;
}

.c-input--multi-select__dropdown {
  // Structure
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  margin-left: -4px;
  margin-right: -4px;

  // Border
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 3px;

  // Extra
  &--active {
    // Border
    border-color: $color-border-gray;

    box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.15);

    .c-input--multi-select__results {
      display: block;
    }
  }
}

.c-input--multi-select__results {
  display: none;
}

// Component: InputGroup
.c-input-group {
  // Structure
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;

  .c-input--button {
    margin-left: 2px;
    margin-right: 2px;
  }
}

// Component: FormInput
.c-form-input {
  // Structure
  margin-bottom: 15px;

  // Extras
  .c-input {
    // Structure
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.c-form-input__label {
  // Structure
  display: block;
  margin-bottom: 7px;

  // Text
  font-weight: $font-weight-bold;
}
