// Component: ItemList
.c-item-list {
  display: flex;
  flex: 1;
  flex-direction: column;
}

// Component: ItemListTable
.c-item-list__table {
  padding: 0 50px;
  flex: 1;
  overflow: scroll;

  ul {
    display: table;
    width: 100%;
  }
}

.c-item-list__item {
  display: table-row;
}

.c-item-list__item__cell {
  display: table-cell;
  height: 50px;
  line-height: 50px;
  padding-left: 7px;
  border-bottom: thin solid $color-text-gray-light;
  font-size: 14px;
  color: $color-text-gray;

  &--checkbox {
    width: 50px;
    text-align: center;
    padding-left: 0;
  }

  &--title {
    width: 45%;

    a {
      font-weight: 600;
      color: black;
      font-size: 15px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Component: ItemListHeader
.c-item-list__header {
  display: flex;
}

.c-item-list__header__left {
  height: 50px;
  line-height: 50px;
}

.c-item-list__header__right {
  // Structure
  flex: 1;
  height: 50px;

  // Text
  font-size: 14px;
  line-height: 50px;
  color: $color-text-gray;
  text-align: right;
}

.c-item-list__header__checkbox {
  // Structure
  display: inline-block;
  width: 50px;
  padding-left: 0;
  padding-right: 7px;

  // Text
  text-align: center;
}

.c-item-list__header__delete {
  margin-left: 15px;
}
