.c-list {
  padding: 0 50px;

  ul {
    display: table;
    width: 100%;
  }
}

.c-list__item {
  display: table-row;
}

.c-list__item__cell {
  display: table-cell;
  height: 50px;
  line-height: 50px;
  padding-left: 7px;
  border-bottom: thin solid $color-gray-light;
  font-size: 14px;
  color: $color-gray;

  &--checkbox {
    width: 50px;
    text-align: center;
    padding-left: 0;
  }

  &--title {
    width: 45%;

    a {
      font-weight: 600;
      color: black;
      font-size: 15px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.c-list-header {
  display: flex;
}

.c-list-header__left {
  height: 50px;
  line-height: 50px;
}

.c-list-header__right {
  flex: 1;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: $color-gray;
}

.c-list-header__checkbox {
  display: inline-block;
  width: 50px;
  text-align: center;
  padding-left: 0;
  padding-right: 7px;
}

.c-list-header__delete {
  margin-left: 15px;
}
