.c-modal-container {
  // Structure
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  // Background
  background: rgba(0, 0, 0, 0.5);

  // Extras
  z-index: $z-index-3;
}

.c-modal-container__backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
}

.c-modal-container__body {
  // Structure
  position: relative;
  width: 75%;
  height: 90%;
  max-width: 1440px;
  min-height: 400px;
  margin: 0 auto;

  // Background
  background: $color-white;
  box-shadow: rgba(0,0,0,0.5) 0px 0px 5px;

  // Extras
  z-index: $z-index-4;
}
