@import '../utilities/variables';
@import '../utilities/fonts';
@import '../utilities/colors';

// Editor Styles

// Contents
// 1.0 - Main content editor
// 2.0 - Top Toolbar
// 3.0 - Inline Toolbar

#full-toolbar {
  margin: 0;
  float: left;
}

.c-article-editor__toolbar {
  // Structure
  display: flex;
  width: 100%;
}

.c-article-editor__breaking {
    background-color:#e41818;
    color:white;
    font-weight: bold;
    display:inline-block;
    padding:0.3rem;
}

.c-article-toolbar__breaking {
  background-color: #e41818;
  color:white;
  font-weight: bold;
  padding:0.3rem;
  padding-bottom: 0.5rem;
}

.c-article-editor__toolbar__article-buttons {
  // Structure
  flex: 1;
}

.c-article-editor__toolbar__breaking {
  display: flex;
  align-items: center;

  .c-article-editor__toolbar__breaking__checkbox {
    float: right;
    position:relative;
    margin-bottom: 0;
    padding-left: 0;
    height:100%;
  }

  span {
    float: left;
    padding-right: 0.5rem;
  }
}

// 1.0 - Main content editor

.c-article-editor {
  // Content panel
  flex: 1.4;

  background: white;
  height: 100%;
  overflow: auto;
  z-index: 0;

  &.expanded {
    margin-right: 0;
    .c-article-editor__inner {
      box-shadow: rgba(0, 0, 0, 0.13) 0px 0px 5px;
    }
    div.toggle-options {
      right: 0;
      border: none;
      background: none;
    }
  }

  .c-article-editor__inner {
    padding: 0 10px;
  }

  div.toggle-options {
    position: fixed;
    z-index: 1;
    top: 95px;
    right: 600px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    padding: 0 13px;
    color: #a2a2a2;
    background: #fff;
    border-bottom-left-radius: 3px;
    border: 1px solid rgb(217, 217, 217);
    border-top: none;

    transition: right 0.3s ease-in-out;

    &:hover {
      color: rgb(90, 90, 90);
    }
    span {
      font-size: 13px;
      margin-left: 5px;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .pt-popover-target {
    display: block;
    position: static;
  }
}

.c-article-editor__body {
  margin-right: 50px;
}

div.field-row.headline {
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-top: 35px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  div.authors {
    padding: 10px 0;
    font-family: $font-family-default;
    font-weight: 600;
    font-size: 16px;
    color: #7E7E7E;
    line-height: 28px;
    height: 28px;
    &:hover{
      button {
        display: inline-block;
      }
    }
    button {
      display: none;
    }
  }
}

.ql-container {
  overflow: visible;
}

.ql-editor {
  img {
    width: 100%;
    display: block;
  }
}

#article-editor {
  min-height: 200px;
  padding: 0;
  div.ql-line, li.ql-line {
    font-family: $font-family-body;
    font-size: 16px;
    color: #2F2F2F;
    line-height: 26px;
  }
  div.ql-line, .ql-editor > ul, h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  p.no-bottom-margin {
    margin-bottom: 0;
  }
  h1, h2, h3 {
    font-family: $font-family-default;
    font-weight: 600;
  }
  h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
  }
}

@media($bp-larger-than-mobile){
  .c-article-editor {
    transition: margin-right 0.3s ease-in-out;

    .c-article-editor__inner {
      padding-bottom: 95px;
      max-width: 770px;
      margin: 0 auto;
      transition: box-shadow 0.3s ease-in-out;
      @media(min-width: 1500px) {
        box-shadow: rgba(0, 0, 0, 0.13) 0px 0px 5px;
      }
    }
  }
  div.field-row.headline {
    margin-left: ($text-padding - 10);
  }
  .ql-editor {
    margin-left: $text-padding;
  }
}



.ql-embed {
  width: 97%;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  cursor: default;
  font-size: 14px;

  &.selected {
    //.images { outline: 6px solid rgb(74, 144, 226); }
    .image .image-toolbar-container {
      display: block;
    }
  }
  .meta {
    overflow: auto;
    padding-top: 15px;
  }
  .controls {
    float: right;
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      margin-left: 10px;
      line-height: 20px;
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
  }
  .basic {
    background: #FFFFFF;
    position: relative;
    .header {
      overflow: auto;
      width: 100%;
      background: rgba(0, 0, 0, 0.85);
      color: white;
      padding: 15px;
      box-sizing: border-box;
      border-radius: 4px 4px 0 0;
      &.overlay {
        position: absolute;
        z-index: 1;
      }
      &:last-child {
        border-radius: 4px;
      }
      button {
        background: none;
        border: none;
        color: #fff;
        opacity: 0.65;
        font-size: 14px;
        margin-left: 10px;
        padding: 0 6px;
        &:hover {
          cursor: pointer;
          opacity: 1;
        }
        .fa {
          margin-right: 3px;
        }
      }
    }
    .image img {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      pointer-events: none;
    }
    .body {
      border: 1px solid #E4E4E4;
      padding: 10px 15px;
      border-top: none;
    }
  }
  .fa {
    font-style: normal;
  }
}

.embed-video {
  .insert-video {
    display: table;
    width: 100%;
    .left, .right {
      display: table-cell;
      vertical-align: top;
    }
    .right {
      width: 1px;
      white-space: nowrap;
    }
    input {
      width: 100%;
    }
    button {
      margin-left: 5px;
      vertical-align: top;
    }
  }
}

.code-editor {
  border: 1px solid #E4E4E4;
}


button.dark-button {
  border: 1px solid #fff;
  background: none;
  border-radius: 25px;
  color: #fff;
  font-size: 10px;
  padding: 0 13px;
  height: 36px;
  vertical-align: middle;
  margin: 0 5px;
  &:hover {
    background: rgba(255,255,255,0.3);
    cursor: pointer;
    color: white;
  }
  &:active {
    outline: none;
  }
}

.image-tools {
  display: none;
  position: absolute;
  left: 60px;
  background: rgba(0,0,0,0.5);
  &:hover {
    cursor: pointer;
  }
  > .inner {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    .tools {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.inline-toolbar > div {
    position: absolute;
    z-index: 500;
    //display: none;
    height: 22px;
    line-height: 22px;
}

.inline-toolbar .side-button {
    float: left;
}

@media($bp-larger-than-mobile){
  .inline-toolbar .side-button {
    width: 45px;
  }
}

.inline-toolbar .toolbar {
    float: left;
    margin-left: 15px;
}

.tb-toolbar {
  float: right;
  background: none;
  border: 1px solid rgb(200, 200, 200);
  color: rgb(150, 150, 150);
  border-radius: 40px;
  width: 28px;
  padding: 0;
  height: 28px;
  transition: transform 0.1s;
  span {
    line-height: 14px;
    font-size: 22px;
    font-weight: 100;
  }
  &:hover {
    border-color: grey;
    color: grey;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}

.ql-format-button {
  display: inline-block;
  text-align: center;
  color: #BBBBBB;
  background: none;
  border: none;
  padding: 0 5px;
  height: 100%;
  line-height: 55px;
  font-size: 16px;
  i, span {
    width: 38px;
    padding: 8px 0;
  }
  &:hover {
    color: rgb(79, 79, 79);
    cursor: pointer;
  }
  &.ql-active i, &.ql-active span {
    color: rgb(45, 178, 30);
  }
}

.ql-header {
  width: 38px;
}

.hyperlink-tooltip {
  width: 450px;
  border: 1px solid #C1C1C1;
  background: #fff;
  border-radius: 4px;
  position: absolute;
  display: none;
  &.visible {
    display: block;
  }
  .model-dropdown {
    padding: 0;
    max-width: none;
  }
  input {
    width: 100%;
  }
  .dis-button {
    vertical-align: top;
    margin-left: 5px;
  }
  div.options {
    border-bottom: 1px solid #D9D9D9;
    a {
      display: inline-block;
      box-sizing: border-box;
      width: 50%;
      font-weight: 600;
      text-align: center;
      padding: 10px 0;
      text-decoration: none;
      color: #A2A2A2;
      &:first-child {
        border-top-left-radius: 4px;
      }
      &:last-child {
        border-top-right-radius: 4px;
        border-left: 1px solid #d9d9d9;
      }
      &.active {
        background: #fafafa;
        color: #6e6e6e;
      }
      .fa {
        margin-right: 3px;
      }
    }
  }
  div.body {
    div.url-field {
      display: table;
      width: 100%;
      > .left, > .right {
        display: table-cell;
        padding: 10px;
        vertical-align: top;
      }
      > .left {
        padding-right: 0;
      }
      > .right {
        width: 1px;
        white-space: nowrap;
        padding-left: 0;
      }
    }

    div.links {
      padding: 0 10px 10px 10px;
      a {
        display: inline-block;
        margin-right: 10px;
        color: #A2A2A2;
        font-size: 12px;
      }
    }

  }
}
