@import '../utilities/fonts';

.c-event-audit-title {
  padding: 15px 0;
  font-size: 36px;

}

.c-event-audit-subtitle {
  padding-left: 15px;
  padding-bottom: 15px;
  font-size: large;
}

.c-event-audit-card {
  margin-bottom: 15px;
}

// fade in
.c-event-audit-card-appear {
  opacity: 0.01;
}

.c-event-audit-card-appear.c-event-audit-card-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.c-event-audit-card-enter {
  opacity: 0.01;
}

.c-event-audit-card-enter.c-event-audit-card-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

// fade out
.c-event-audit-card-leave {
  opacity: 1;
  width: 100%;
  margin-left: 0%;
}

.c-event-audit-card-leave.c-event-audit-card-leave-active {
  opacity: 0.01;
  width: 500%;
  margin-left: 100%;
  transition: all 300ms ease-in;
}

.c-event-audit-card-title {
  font-size: 26px;
}

.c-event-audit-card-nottitle {
  padding: 10px 10px 0 10px;
  width: 48%;
  display: inline-block;
}

.c-event-audit-card-label {
  display: block;
  line-height: 1.35em;
}

.c-event-audit-card-label-label {
  font-weight: 600;
}

.c-event-audit-card-label-prop {
  padding-left: 10px;
  line-height: 1.4em;
}

.c-event-audit-card-button-border {
  clear: both;
  width: 100%;
  padding-top: 0.75em;
  border-bottom: 1px #EEE solid;
}

.c-event-audit-card-button-row {
  padding-top: 0.75em;
}

.c-event-audit-card-button-right {
  float: right;
}

.c-event-audit-card-button-edit {
  margin-left: 5px;
  font-family: $font-family-default;
}

.c-event-audit-card-image-cont {
  display: inline-block;
  float: right;
  width: 48%;
  margin-left: 4%;
}

.c-event-audit-card-image {
  max-width: 100%;
  max-height: 500px;
}
