@import '../utilities/_colors.scss';

.c-gallery-editor-heading {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin: 18px 0 12px;
}

.c-gallery-editor-movement-indicator {
  position: absolute;
  font-size: 72px;
  color: #fffb91;
  -webkit-text-stroke: 2px black;
  transform: translate(75%, 50%);
}

.c-gallery-dropzone {
  min-height: 250px;
  border: 2px solid $color-border-gray;
  margin-bottom: 15px;
}

.c-gallery-thumb-overlay {
  position: absolute;
}

.c-gallery-thumb-overlay-text {
  font-size: 30px;
  font-weight: 700;
  color: white;
  z-index: 15;
  -webkit-text-stroke: 2px black;
  position: absolute;
  bottom: 7px;
  left: 10px
}

.c-gallery-clear-button {
  margin-left: 15px;
  display: inline-block;
}
