@import '../utilities/variables';
@import '../utilities/fonts';
@import '../utilities/colors';

$border-bottom-height: 2px;

// Component: Header
.row {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
  align-items:center;
}

.flex-start {
  @extend .flex;
  justify-content: flex-start;
}

.flex-end {
  @extend .flex;
  justify-content: flex-end;
}

.nav-link-group {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.c-header {

  @media ($bp-larger-than-phablet) {
    
  }
  // Border
  border-bottom: 1px solid $color-border-gray;

  // Text
  font-family: $font-family-default;

  // Extra
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
  z-index: $z-index-2;

  width: 100%;
  height: 100px;
  box-shadow: none;
  border: none;
  position: relative;
  z-index: 10;
  color: $color-text-dispatch-gray-light;
  background-color: $color-dispatch-gray;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: white;

  padding-left: 20px;
  padding-right: 20px;

  // Extra
  box-shadow: none;
  border: none;

  .pt-navbar-divider{
    align-self: center;
    background-color: $color-text-dispatch-gray-light;
    &:hover {
      background-color: $color-dispatch-header-hover;
    }
  }

  .pt-button.pt-minimal,
  .pt-button[class*="pt-icon-"]::before {
    color: $color-text-dispatch-gray-light !important;
  }
 
  .pt-button[class*="pt-icon-"]:empty {
    padding: 0 10px;
  }

  .nav-dropdown-button {
    // Structure
    display: flex;
    justify-content: flex-start;

    .pt-icon-standard {
      margin-right: 7px;
    }
  }

  .nav-dropdown-container {
    // Structure
    height: 100%;
    width: 120px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    border-bottom: $border-bottom-height solid transparent;
    &:hover {
      // Border
      border-bottom: $border-bottom-height solid $color-text-dispatch-gray-light;
    }

    .nav-dropdown-content {
      // Structure
      display: none;
      align-self: flex-start;
      margin-top: 50px;
      flex-direction: column;
      position: absolute;
      padding: 10px;
      left: 0;
      right: 0;

      // Background
      background-color: $color-dispatch-gray;
      
      // Text
      color: $color-text-dispatch-gray-light;

      .pt-button.pt-minimal{
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }

    .nav-dropdown-button {
      // Text
      color: $color-text-dispatch-gray-light;

      // Structure
      position: relative;
      top: $border-bottom-height;
      padding: 10px;
      border-radius: 3px;
      width: 100px;
    }

    &:hover {
      .nav-dropdown-content {
        // Structure
        display: flex;

        // Extra 
        opacity: 1;

      }
    }

    .nav-navbar-divider{
      // Border
      border-left-color: inherit;
    }
  }
  @media($bp-larger-than-phablet){
    height: 50px;
    font-size: 1rem;
  }
}

.nav-spacer {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}
.nav-padded{
  padding: 0 10px;
}

.nav-logo {
  width: 100px;
  padding: 0;
}

.c-banner__badge{
  position: relative;
}

.c-banner__badge[data-badge]:after{
  content: attr(data-badge);
  position: absolute;
  top: -5px;
  right: -10px;
  font-size: 0.7em;
  background: red;
  color: white;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
}

.c-banner__badge[date-badge=""]:after{
  visibility: hidden;
}

.c-banner__badge[data-badge="0"]:after{
  visibility: hidden;
}

