@import '../utilities/variables';
@import '../utilities/fonts';
@import '../utilities/colors';

// Component: Header
.c-header {
  // Border
  border-bottom: 1px solid $color-border-gray;

  // Text
  font-family: $font-family-default;

  // Extra
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
  z-index: $z-index-2;
}

.pt-align-left,
.nav-align-left {
  // Structure
  width: 100%;
  height: 100%;
}
.c-header .pt-navbar {
  // Structure
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;

  // Extra
  box-shadow: none;
  border: none;

  .pt-icon-standard{
    // Structure
    margin-right: 7px;
  }

  .pt-navbar-group {
    .nav-dropdown-button {
      // Text
      color: $color-dispatch-gray;
    }

    &.pt-align-left{
      .nav-dropdown-container {
        // Structure
        margin-right: 25px;
      }
    }

    .nav-dropdown-container {
      // Structure
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
      .nav-dropdown-content {
        // Structure
        display: none;
        align-self: flex-start;
        margin-top: 48px;
        // Structure
        flex-direction: column;
        padding: 15px;
        position: absolute;
        left: -27px;
        
        // Background
        background-color: $color-dispatch-gray;
        
        // Text
        color: $color-text-dispatch-gray-light;

        .pt-button.pt-minimal{
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }

      &:hover {
          .nav-dropdown-content {
            // Structure
            display: flex;
          }
      }
      .nav-dropdown-button {
        color: $color-text-dispatch-gray-light;
      }
      .nav-navbar-divider{
        border-left-color: inherit;
      }
      .nav-align-right{
        .pt-button[class*="pt-icon-"]:before{
          color: inherit;
          padding: 0;
        }
      }
    }
  }
}

.nav-logo {
  width: 100px;
  padding: 0;
}

.c-banner__badge{
  position: relative;
}

.c-banner__badge[data-badge]:after{
  content: attr(data-badge);
  position: absolute;
  top: -5px;
  right: -10px;
  font-size: 0.7em;
  background: red;
  color: white;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  border-radius: 50%;
}

.c-banner__badge[date-badge=""]:after{
  visibility: hidden;
}

.c-banner__badge[data-badge="0"]:after{
  visibility: hidden;
}
