@import '../utilities/variables';
@import '../utilities/fonts';
@import '../utilities/colors';

$border-bottom-height: 2px;

// Component: Header
.row {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-start {
  @extend .flex;
  justify-content: flex-start;
}

.flex-end {
  @extend .flex;
  justify-content: flex-end;
}

.c-header {
  // Structure
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 50px;
  min-height: 50px;
  background-color: #394b59;

  // Border
  border: none;

  // Text
  color: $color-text-dispatch-gray-light;
  font-size: 1rem;
  font-family: $font-family-default;

  // Extras
  box-shadow: none;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
  z-index: 20;

  .bp3-button:not([class*="bp3-intent-"]), .bp3-button[class*="bp3-icon-"]::before {
    // Text
    color: $color-text-dispatch-gray-light;
  }

  .bp3-button[class*="bp3-icon-large"]::before {
    // Text
    font-size: 30px;
  }

  .bp3-navbar {
    // Spacing
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-link-group {
    // Structure
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    // Dimension
    height: 260px;
    width: 100%;
    // Position
    position: relative;
    // Spacing
    margin-top: 15px;
  }

  .nav-dropdown-content{
    // Structure
    display:flex;
    flex-direction: column;
    // Dimension
    width: 100vw;
    // Position
    position: absolute;
    // Background
    background-color: $color-dispatch-gray;
    // Spacing
    margin-top: 20px;
    padding: 20px 10px;
    // Extra
    transition: transform .25s;
    &.open{
      // Position
      transform: translateX(-10px);
    }
    &.closed {
      // Position
      transform: translateX(calc(-100% - 30px));
    }
  }

  @media ($bp-larger-than-tablet) {
    .nav-link-group {
      // Structure
      flex-direction: row;
      align-items: center;
      // Dimension
      width: auto;
      height: 100%;
      // Position
      left: 0;
      // Spacing
      margin-top: 0;
    }

    .bp3-button.bp3-minimal,
    .bp3-button[class*="bp3-icon-"]::before {
      // Text
      color: $color-text-dispatch-gray-light !important;
    }

    .bp3-button[class*="bp3-icon-"]:empty {
      // Spacing
      padding: 0 10px;
    }

    .nav-dropdown-button {
      // Structure
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .bp3-icon-standard {
        // Spacing
        margin-right: 7px;
      }
    }

    .nav-dropdown-container {
      // Structure
      display: flex;
      align-items: center;
      justify-content: center;
      // Dimension
      height: 100%;
      width: 110px;
      // Position
      position: relative;
      // Border
      border-bottom: $border-bottom-height solid transparent;

      transition: .2s width;

      &:hover {
        // Border
        border-bottom: $border-bottom-height solid $color-text-dispatch-gray-light;
        width: 140px;
      }

      .nav-dropdown-content {
        // Structure
        display: none;
        flex-direction: column;
        align-self: flex-start;
        // Dimension
        width: 100%;
        // Spacing
        margin-top: 50px;
        padding: 10px;
        // Position
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        // Background
        background-color: $color-dispatch-gray;
        // Text
        color: inherit;
        .bp3-button.bp3-minimal{
          // Structure
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
      }

      .nav-dropdown-button {
        // Position
        position: relative;
        top: $border-bottom-height;
        // Border
        border-radius: 3px;
        // Dimension
        width: 100%;
        // Spacing
        padding: 10px;
        // Text
        color: inherit;
      }

      &:hover {
        .nav-dropdown-content {
          // Structure
          display: flex;
          // Extra
          opacity: 1;
        }
      }

      .nav-navbar-divider{
        // Border
        border-left-color: inherit;
      }
    }
  }
}

.nav-spacer {
  // Dimension
  width: 90%;
  // Spacing
  margin-top: 10px;
  margin-bottom: 10px;
  // Border
  border-bottom: 1px solid white;
}

.nav-padded{
  // Structure
  display: flex;
  flex-direction: column;
  justify-content: center;
  // Spacing
  padding: 0 10px;
  h3 {
    // Text
    color: inherit;
  }
}

.c-banner__badge{
  // Position
  position: relative;
}

.c-banner__badge[data-badge]:after{
  // Dimension
  width: 18px;
  height: 18px;
  // Position
  position: absolute;
  top: -5px;
  right: -10px;
  // Background
  background: red;
  // Text
  color: white;
  font-size: 0.7em;
  text-align: center;
  line-height: 18px;
  // Border
  border-radius: 50%;
  // Extra
  content: attr(data-badge);
}

.c-banner__badge[date-badge=""]:after{
  visibility: hidden;
}

.c-banner__badge[data-badge="0"]:after{
  visibility: hidden;
}
