@import '../utilities/colors';

// Component: ImageThumb
.c-image-thumb {
  // Structure
  position: relative;
  width: 20%;
  float: left;

  // Extras
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
  }

  &--selected .c-image-thumb__inner {
    outline: 4px solid #1d9f6a;
  }
}

.c-image-thumb__inner {
  // Structure
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;

  // Extras
  cursor: pointer;
  background-position: center top;
  background-repeat: no-repeat;

  &:hover {
    opacity: 0.5;
  }
}
