@import '../utilities/colors';
@import '../utilities/variables';

// Component: ImageManager
.c-image-manager {
  // Structure
  display: flex;
  flex-direction: column;
  height: 100%;
}

$image-manger-header-padding: 1rem;
$image-manager-header-border: 1px solid $color-border-gray;
$image-manager-header-box-shadow: rgba(0,0,0,0.05) 0px 1px 1px;
$image-manager-footer-box-shadow: rgba(0,0,0,0.05) 0px -1px 1px;

.c-image-manager__header {
  // Structure
  display: flex;
  padding-left: $image-manger-header-padding;
  padding-right: $image-manger-header-padding;

  // Border
  border-bottom: $image-manager-header-border;

  // Extras
  box-shadow: $image-manager-header-box-shadow;
  z-index: 10;
}

.c-image-manager__footer {
  // Structure
  padding-left: $image-manger-header-padding;
  padding-right: $image-manger-header-padding;

  // Border
  border-top: $image-manager-header-border;

  // Text
  text-align: right;

  // Extras
  box-shadow: $image-manager-footer-box-shadow;
}

.c-image-manager__header__left,
.c-image-manager__header__right,
.c-image-manager__footer {
  // Structure
  display: flex;
  align-items: center;
  height: 60px;
}

.c-image-manager__header__left {
  // Structure
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}

.c-image-manager__header__right {
  .bp3-input,
  .bp3-input-group,
  .bp3-button {
    // Structure
    margin-right: 0.75rem;

    &:last-child {
      // Structure
      margin-right: 0;
    }
  }
}

.c-modal-body {
  background-color: $color-white;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid $color-border-gray;
  width: 80%; /* Could be more or less, depending on screen size */
}

.c-modal-container-scrollable {
  position: fixed; /* Stay in place */
  z-index: $z-index-3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: $color-bg-black; /* Fallback color */
  background-color: $color-bg-black-opacity; /* Black w/ opacity */
}

.c-image-manager__body {
  // Structure
  display: flex;
  flex: 1;
  min-width: 0;
  min-height: 0;
  z-index: 0;
}

.c-image-manager__images {
  // Structure
  flex: 2;

  // Extras
  overflow-y: scroll;
}

.c-image-manager__images--active {
  // Extras
  opacity: 0.5;
}

.c-image-manager__images__container {
  // Structure
  padding: 1rem;

  // Extras
  overflow: auto;
}

.c-image-manager__active {
  // Structure
  flex: 1;
  overflow-y: scroll;

  // Border
  border-left: 1px solid $color-border-gray;
}
