@import '../utilities/variables';
@import '../utilities/fonts';
@import '../utilities/colors';

.c-form-input label.pt-label > .pt-input,
.c-form-input label.pt-label > .pt-select,
.c-form-input label.pt-label > .pt-button,
.c-form-input label.pt-label > .pt-switch,
.c-form-input label.pt-label > .c-input--item-select,
.c-form-input label.pt-label > .c-input--file {
  margin-top: 10px;
}

// Component: MultiSelectInput
.c-input--item-select {
  // Text
  font-weight: $font-weight-semi-bold;

  .pt-popover {
    // Structure
    margin-bottom: 1rem;
  }

  .pt-popover-target {
    // Structure
    display: block;
  }
  .pt-control-group > :first-child {
    width: 35%;
    text-align: left;
  }
  .pt-control-group > :last-child {
    width: 65%;
    text-align: right;
  }
}

.c-input--item-select__item {
  // Structure
  position: relative;
  display: flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 400px;

  // Background
  background-color: #fff;

  // Border
  border: 1px solid $color-border-gray-dark;
  border-radius: 3px;

  // Text
  line-height: 2rem;

  // Exrtas
  box-shadow: 0 1px 1px rgba(16, 22, 26, 0.1);
}

.c-input--item-select__dropdown {
  // Structure
  width: 350px;
}

.c-input--item-select__search {
  // Structure
  padding: 0.5rem;

  // Border
  border-bottom: 1px solid $color-border-gray;
}

.c-input--item-select__search__button {
  margin-top: 5px;
}

// Component: InputGroup
.c-input-group {
  // Structure
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;

  .c-input--button {
    margin-left: 2px;
    margin-right: 2px;
  }
}

// Component: FormInput
.c-form-input {
  // Structure
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;

  // Border
  border-bottom: 1px solid $color-border-gray;

  &:last-child {
    border-bottom: none;
  }

  // Extras
  .c-input {
    // Structure
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  label.pt-label {
    margin: 0;
  }
}

.c-form-input--no-padding {
  // Structure
  padding-left: 0;
  padding-right: 0;
}

.c-form-input__label {
  // Structure
  display: block;
  position: relative;
  margin-bottom: 7px;

  // Text
  font-weight: $font-weight-bold;
}

.c-form-input__error.pt-tag {
  // Structure
  position: absolute;
  right: 0;
  top: -2px;
  max-height: 22px;
  overflow: auto;
  max-width: 80%;
}

.c-form-input .pt-button {
  // Structure
  margin-right: 0.75rem;
}

// Component: ImageInput

.c-input--image {
  // Structure
  margin-top: 0.5rem;

  &.c-input--fill .c-input--image__thumb {
    // Structure
    width: 100%;
  }
}

.c-input--image__thumb {
  // Structure
  position: relative;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  width: 150px;

  // Border
  border: 1px solid $color-border-gray;
  border-radius: 3px;

  // Background
  background-size: cover;

  // Text
  line-height: 2rem;

  // Extra
  box-shadow: 0 1px 1px rgba(16, 22, 26, 0.1);

  &:after {
    // Structure
    display: block;
    padding-top: 66.66%;
    content: '';
  }

  &:hover {
    .c-input--image__remove {
      // Extra
      opacity: 1;

      &:hover {
        // Extra
        opacity: 0.5;
      }
    }
  }
}

.c-input--image__remove {
  // Structure
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;

  // Text
  color: $color-white;

  // Extra
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.25s;
}

.c-input--datetime {
  & > span {
    width: calc(100% - 30px);

    & > div {
      width: 100%;
    }
  }
}

.c-input--datetime-button {
  // Structure
  margin-top: 5px;
}

.c-input--datetime--textfield {
  // Structure
  width: 100%;

  // Extra
  cursor: pointer;
}

.c-input--confirm {
  // Structure
  display: inline-block;
}

.c-input--widget-field__select-wrapper {
  // Structure
  margin-top: 10px;
  margin-bottom: 15px;
}
