@import '../utilities/variables';
@import '../utilities/fonts';
@import '../utilities/colors';

// Component: ItemList

.c-item-list {
  // Structure
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  z-index: 0;
}

// Component: ItemListTable
.c-item-list__table {
  flex: 1;
  overflow: scroll;

  ul {
    display: table;
    width: 100%;
  }
}

// Component: ItemListColumnHeaders
.c-item-list__column-headers {
  // Text
  font-weight: $font-weight-semi-bold;
}

.c-item-list__column-headers > .c-item-list__item__cell {
  // Border
  border-bottom: 1px solid $color-border-gray;
}

.c-item-list__item {
  display: table-row;
}

.c-item-list__item__cell {
  display: table-cell;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 7px;
  border-bottom: thin solid $color-text-gray-light;
  font-size: 14px;
  color: $color-text-gray;

  &--checkbox {
    width: 4rem;
    padding-left: 2rem;
  }

  &--title {
    width: 45%;

    a {
      font-weight: 600;
      color: $color-black;
      font-size: 15px;
      text-decoration: none;
      vertical-align: bottom;
      line-height: 1.35em;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Component: ItemListHeader
.c-item-list__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.c-item-list__header__right {
  // Structure
  flex: 1;

  // Text
  font-size: 14px;
  color: $color-text-gray;
  text-align: right;
}

.c-item-list__header__checkbox {
  // Structure
  display: inline-block;
  width: 2rem;
  margin-right: 7px;
}

.c-item-list__header__delete {
  // Structure
  margin-left: 1rem;
  margin-right: 1rem;
}

.c-item-list__header__create {
  // Structure
  display: inline-block;
  margin-left: 1rem;
}

.c-item-list__header__filters {
  // Structure
  display: flex !important;
  flex-wrap: wrap;
  position: relative;
  width: 280px;

  .c-item-list__header__filters__button {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &.pt-button {
      margin: 0;
    }
  }

  .c-item-list__header__filters__dropdown {
    position: absolute;
    margin-top: 30px;
    display: flex;
    width: 100%;
    height: 0;
    flex-direction: column;
    overflow: hidden;
    &:hover {
      height: auto;
    }
  }
  &:hover{
    .c-item-list__header__filters__dropdown {
      height: auto;
    }
  }
}

.c-item-list__header__filters__filter {
  // Structure
  display: inline-block;
}

// Component: ItemListPagination
.c-item-list__pagination {
  // Structure
  display: inline-block;
  margin-right: 1rem;
}

.c-item-list__pagination__text {
  // Structure
  display: inline-block;
  margin-left: 0.5rem;
}

// Component: ItemListSearchBar
.c-item-list__searchbar {
  // Structure
  display: inline-block;

  .pt-input {
    // Structure
    width: 175px;

    // Extras
    transition: width 0.25s;

    &:focus {
      width: 275px;
    }
  }
}

// Component: ItemListEmpty
.c-item-list-empty {
  // Structure
  flex: 1;
  display: flex;
  align-items: center;
}

.c-item-list-empty__container {
  // Structure
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 400px;

  // Text
  text-align: center;

  p {
    margin-bottom: 1em;
    @include font-size(20);
  }
}
