.c-login-page {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #f9f9f9;

  form {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;

    * {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    input {
      text-align: center;

      &:not(:last-of-type) {
        margin-bottom: 1.5em;
      }
    }
  }
}

.c-login-page__heading {
  font-size: 1.5em;
}
