

.c-subscription-chart-container {
  padding-right:1em;
  padding-left:1em;
  padding-top:1em;
  padding-bottom:2em;
  border-style: solid;
  bottom:0;
  width:100%;
  height:200px;

  h1 {
    font-size:1.5rem;
    padding-left: 2rem;
  }
}

.c-notification-editor--container {
  height:100%;
  overflow:visible !important;
}

.o-notification-date-select {
  padding-bottom:5em;
}
