@import '../utilities/colors';
@import '../utilities/fonts';

// Component: Panel
.c-panel {
  // Structure
  margin-bottom: 2rem;

  // Border
  border: 1px solid $color-border-gray;
  border-radius: 3px;

  // Extras
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.c-panel__title {
  // Structure
  padding: 1rem;

  // Border
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid $color-border-gray;

  // Background
  background: $color-text-gray-light;

  // Text
  font-weight: $font-weight-semi-bold;
}

.c-panel__select {
  // Structure
  flex: 2;
  line-height: 250%;
}

.pt-button.c-panel__select__right {
  flex: 1;
  margin: 0.5rem;
}
