

.c-subscription-chart-container {
  padding-right:1em;
  padding-left:1em;
  padding-top:1em;
  padding-bottom:2em;
  border-style: solid;
  bottom:0;
  width:100%;
  height:200px;
  h1 {
    font-size:1.5rem;
    padding-left: 3rem;
  }
}
