@import '../utilities/colors';
@import '../utilities/fonts';

.c-toolbar {
  // Structure
  display: flex;
  flex-wrap: wrap;
  overflow: visible;
  min-height: 50px;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 100;

  // Border
  border-bottom: thin solid $color-border-gray;

  // Background
  background: $color-text-gray-light;

  // Text
  color: $color-text-gray;
  font-size: 14px;
  line-height: 48px;

  .pt-button {
    // Structure
    margin-right: 0.75rem;
  }

  a:last-child .pt-button {
    // Structure
    margin-right: 0;
  }

  .pt-tag {
    vertical-align: middle;
  }
}

.c-toolbar__left {
  // Structure
  flex: 1;

  .pt-button:last-child {
    // Structure
    margin-right: 0.75rem;
  }
}

.c-toolbar__title {
  // Structure
  display: inline-block;

  // Text
  font-size: font-size(16);
  font-weight: $font-weight-semi-bold;
}
