@import '../utilities/colors';

.c-toolbar {
  // Structure
  overflow: hidden;
  height: 50px;

  // Border
  border-bottom: thin solid $color-border-gray;

  // Background
  background: $color-text-gray-light;

  // Text
  color: $color-text-gray;
  font-size: 14px;
  line-height: 48px;
}
