{% extends 'manager/base.html' %}
{% load staticfiles %}
{% block main %}
    <main id="article-admin" data-id="{{ article }}" {% if section %}data-section-id={{ section.id }} data-section-name={{ section.name }} data-section-slug={{ section.slug }}{% endif %}>
    <header class="secondary"></header>
    </main>
{% endblock %}

{% block modals %}
<div id="modals">
    <div id="image-manager"></div>
    <div id="gallery-manager"></div>
</div>
{% endblock %}
{% block scripts %}
    {% with 'manager/js/dist/article-'|add:version|add:'.js' as article_url %}
    <script src="{% static article_url %}" type="application/javascript"></script>
    {% endwith %}
{% endblock %}
