<div class="video-attachment youtube attachment" data-id="{{ id }}">
    <div class="video-launch wrapper">
        <div class="inner" style="background-image: url('http://img.youtube.com/vi/{{ id }}/0.jpg');">
            <div class="meta row">
                <div class="eight columns">
                    <h2>{{ title }}</h2>
                </div>
                <div class="four columns u-text-right">
                    <button>Play Video</button>
                </div>
            </div>
        </div>
    </div>
    <div class="video-container" id="video-{{ id }}"></div>
    {% if caption or credit %}
    <div class="caption">
        {{ caption|safe }} <span class="credit">{{ credit }}</span>
    </div>
    {% endif %}
</div>
