{% load humanize %}
<h1 class="section"><a href={% url 'page' section %}>{{ section|title }}</a></h1>
<section class="{{ section }} homepage section-1">
    <div class="left">
        <article class="section-xl padded">
        {% with articles.first as article %}
            <a href="{{ article.get_absolute_url }}" class="image"><img class="featured" src="{{ article.featured_image.image.get_medium_url }}" /></a>
            <h3 class="headline"><a href="{{ article.get_absolute_url }}">{{ article.headline|safe }}</a></h3>
            <span class="byline"><span class="author">By {{ article.get_author_string }}</span> &nbsp;&middot;&nbsp; <span class="published">{{ article.published_at }}</span></span>
            <p class="snippet"><span class="timestamp hide-desktop">{{ article.published_at|naturaltime }}</span>{{ article.snippet|safe }}</p>
        {% endwith %}
        </article>
    </div>
    <div class="right">
        {% for article in articles.stacked %}
        <article class="stacked padded">
            <h4 class="headline"><a href="{{ article.get_absolute_url }}">{{ article.headline|safe }}</a></h4>
            <span class="byline"><span class="author">By {{ article.get_author_string }}</span> &nbsp;&middot;&nbsp; <span class="published">{{ article.published_at }}</span></span>
            <p class="snippet"><span class="timestamp hide-desktop">{{ article.published_at|naturaltime }}</span>{{ article.snippet|safe }}</p>
        </article>
        {% endfor %}
        <ul class="article-headlines">
        {% for article in articles.bullets %}
            <li><h2 class="headline"><a href="{{ article.get_absolute_url }}">{{ article.headline|safe }}</a></h2></li>
        {% endfor %}
        </ul>
    </div>
</section>