<h1 class="section">{{ section|title }}</h1>
<section class="{{ section }} homepage section-2">
    <div class="inner">
        <article class="section-top row">
            {% with articles.first as article %}
                <div class="left">
                    <a href="{{ article.get_absolute_url }}"><img class="featured" src="{{ article.featured_image.image.get_medium_url }}" /></a>
                </div>
                <div>
                    <h3 class="headline"><a href="{{ article.get_absolute_url }}">{{ article.long_headline }}</a></h3>
                    <span class="byline">By <span class="author">{{ article.get_author_string }}</span> &nbsp;&middot;&nbsp; <span class="published">{{ article.published_at }}</span></span>
                    <p class="snippet">{{ article.snippet }}</p>
                </div>

            {% endwith %}
        </article>
        <div class="row">
            {% for article in articles.rest %}
                <article class="column">
                    <div class="inner">
                        <div class="row">
                            <div class="featured-image-container">
                                <a href="{{ article.get_absolute_url }}"><img class="featured" src="{{ article.featured_image.image.get_medium_url }}" /></a>
                            </div>
                            <h4 class="headline"><a href="{{ article.get_absolute_url }}">{{ article.long_headline }}</a></h4>
                        </div>
                        <span class="byline">By <span class="author">{{ article.get_author_string }}</span> &nbsp;&middot;&nbsp; <span class="published">{{ article.published_at }}</span></span>
                        <p class="snippet">{{ article.snippet }}</p>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
</section>