{% load humanize %}
<h1 class="section"><a href={% url 'page' section %}>{{ section|title }}</a></h1>
<section class="{{ section }} homepage section-2">
    <div class="inner">
        <article class="section-top row padded">
            {% with articles.first as article %}
                <div class="left stack-mobile">
                    <a class="image" href="{{ article.get_absolute_url }}"><img class="featured" src="{{ article.featured_image.image.get_medium_url }}" /></a>
                </div>
                <div>
                    <h3 class="headline"><a href="{{ article.get_absolute_url }}">{{ article.headline|safe }}</a></h3>
                    <span class="byline"><span class="author">By {{ article.get_author_string }}</span> &nbsp;&middot;&nbsp; <span class="published">{{ article.published_at }}</span></span>
                    <p class="snippet"><span class="timestamp hide-desktop">{{ article.published_at|naturaltime }}</span>{{ article.snippet|safe }}</p>
                </div>

            {% endwith %}
        </article>
        <div class="row">
            {% for article in articles.rest %}
                <article class="col padded">
                    <div class="inner">
                        <div class="row">
                            <div class="featured-image-container">
                                <a href="{{ article.get_absolute_url }}"><div class="featured" style="background-image: url('{{ article.featured_image.image.get_medium_url }}');"></div></a>
                            </div>
                            <h4 class="headline"><a href="{{ article.get_absolute_url }}">{{ article.headline|safe }}</a></h4>
                        </div>
                        <span class="byline"><span class="author">By {{ article.get_author_string }}</span> &nbsp;&middot;&nbsp; <span class="published">{{ article.published_at }}</span></span>
                        <p class="snippet"><span class="timestamp hide-desktop">{{ article.published_at|naturaltime }}</span>{{ article.snippet|safe }}</p>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
</section>