header.list-header {
  overflow: hidden;
  padding: 0 60px;
  border-bottom: thin solid #E2E2E2;
  background: #f9f9f9;

  color: grey;
  font-size: 14px;

  div.cell {
    float: left;
    line-height: 55px;
    span {
      .fa {
        font-size: 15px;
      }
    }
    &.checkbox {
      text-align: center;
    }
    &.actions {
      margin-left: 20px;
      .selected-items {
        display: inline;
      }
    }
    &.search {
      float: right;
    }
  }
}

div.pagination {
  display: inline-block;
  span.current {
    margin: 0 15px;
  }
}