@import "utilities/fonts";

body.login {
  background: #F7F7F7;
}
div.login {
  display: table;
  width: 100%;
  height: 100%;
  div.inner {
    display: table-cell;
    vertical-align: middle;
  }
}

div.login-box {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 350px;
  h1 {
    text-transform: lowercase;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
  }
  form {
    border: 1px solid #DADADA;
    border-radius: 2px;
    padding: 20px;
    background: #fff;
  }
}